<div class="form-group">

  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>

  <app-product-name-block [_form]="formValue()" (formPatch)="patchForm($event)"></app-product-name-block>
  <hr/>
  <app-patents-block [_form]="formValue()"
                     [num]="'1'"
                     (formPatch)="patchForm($event)"
                     (onConditionsChanged)="onConditionsChanged()"></app-patents-block>
  <hr/>
  <app-advantage-block [_form]="formValue()"
                       [num]="'2'"
                       (formPatch)="patchForm($event)"
                       (onConditionsChanged)="onConditionsChanged()"></app-advantage-block>
  <hr/>
  <app-product-competitiveness-block [_form]="formValue()"
                                     [num]="'3'"
                                     (formPatch)="patchForm($event)"
                                     (onConditionsChanged)="onConditionsChanged()"></app-product-competitiveness-block>
</div>

<hr/>
<app-conclusion-8-10PIT-block [_form]="formValue()"></app-conclusion-8-10PIT-block>

<hr/>
<app-notes-block [_form]="formValue()" (formPatch)="patchForm($event)" (onConditionsChanged)="onConditionsChanged()"></app-notes-block>
