@if (highTechCriteria) {
  <div class="form-group">
    <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
    <app-product-name-block [_form]="_form"></app-product-name-block>
    <hr/>
    <div class="form-sub-group">
      <div class="label form-sub-group-label">1. {{highTechCriteria.highTech.name}}</div>
      <div class="label">{{highTechCriteria.highTech.description}}</div>
      <div class="dropdown">
        <!-- attention! pre-line class is used here: don't break the text -->
        <button type="button" class="btn btn-block btn-outline-info dropdown-toggle pre-line"
          data-bs-toggle="dropdown">{{_form.highTech.name}} <span
        class="bold">({{_form.highTech.score | number: 3}} баллов)</span></button>
        <ul class="dropdown-menu">
          <!-- attention! pre-line class is used here: don't break the text -->
          <li class="dropdown-item pre-line"
            (click)="_form.highTech = highTechCriteria.highTech.items[0]; updateFormSignal()">{{highTechCriteria.highTech.items[0].name}}<span
          class="bold">({{highTechCriteria.highTech.items[0].score | number: 3}} баллов)</span></li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item" (click)="_form.highTech = highTechCriteria.highTech.items[1]; updateFormSignal()">
            {{highTechCriteria.highTech.items[1].name}}
            <span class="bold">({{highTechCriteria.highTech.items[1].score | number: 3}} баллов)</span>
          </li>
        </ul>
      </div>
      <hr/>
      <div class="form-sub-group">
        <div class="label form-sub-group-label">2. {{highTechCriteria.science.name}}</div>
        <div class="label">{{highTechCriteria.science.description}}</div>
        <div class="dropdown">
          <button type="button" class="btn btn-block btn-outline-info dropdown-toggle" data-bs-toggle="dropdown">
            {{_form.science.name}} <span class="bold">({{_form.science.score | number: 3}} баллов)</span>
          </button>
          <ul class="dropdown-menu scrollable-menu">
            @for (item of highTechCriteria.science.items; track item) {
              <li class="dropdown-item"
                (click)="_form.science = item; updateFormSignal()">
                {{item.name}} <span class="bold">({{item.score | number: 3}} баллов)</span>
              </li>
            }
          </ul>
        </div>
      </div>
      <hr/>
      <div class="form-sub-group">
        <div class="label form-sub-group-label">3. {{highTechCriteria.exportOrientation.name}}</div>
        <div class="label">{{highTechCriteria.exportOrientation.description}}</div>
        <div class="dropdown">
          <button type="button" class="btn btn-block btn-outline-info dropdown-toggle" data-bs-toggle="dropdown">
            {{_form.exportOrientation.name}} <span class="bold">({{_form.exportOrientation.score | number: 3}} баллов)</span>
          </button>
          <ul class="dropdown-menu scrollable-menu">
            @for (item of highTechCriteria.exportOrientation.items; track item) {
              <li class="dropdown-item"
                (click)="_form.exportOrientation = item; updateFormSignal()">
                {{item.name}} <span class="bold">({{item.score | number: 3}} баллов)</span>
              </li>
            }
          </ul>
        </div>
      </div>
      <hr/>
      <div class="form-sub-group">
        <div class="label form-sub-group-label">4. {{highTechCriteria.addedValue.name}}</div>
        <div class="label">{{highTechCriteria.addedValue.description}}</div>
        <div class="dropdown">
          <button type="button" class="btn btn-block btn-outline-info dropdown-toggle" data-bs-toggle="dropdown">
            {{_form.addedValue.name}} <span class="bold">({{_form.addedValue.score | number: 3}} баллов)</span>
          </button>
          <ul class="dropdown-menu scrollable-menu">
            @for (item of highTechCriteria.addedValue.items; track item) {
              <li class="dropdown-item"
                (click)="_form.addedValue = item; updateFormSignal()">
                {{item.name}} <span class="bold">({{item.score | number: 3}} баллов)</span>
              </li>
            }
          </ul>
        </div>
      </div>
      <hr/>
      <div class="form-sub-group">
        <div class="label form-sub-group-label">5. {{highTechCriteria.isTitleProtection.name}}</div>
        <div class="label">{{highTechCriteria.isTitleProtection.description}}</div>
        <div class="dropdown">
          <button type="button" class="btn btn-block btn-outline-info dropdown-toggle" data-bs-toggle="dropdown">
            {{_form.isTitleProtection.name}}
            <span class="bold">({{_form.isTitleProtection.score | number: 3}} баллов)</span>
          </button>
          <ul class="dropdown-menu scrollable-menu">
            @for (item of highTechCriteria.isTitleProtection.items; track item) {
              <li class="dropdown-item"
                (click)="_form.isTitleProtection = item; updateFormSignal()">
                {{item.name}} <span class="bold">({{item.score | number: 3}} баллов)</span>
              </li>
            }
          </ul>
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <label class="font-weight-bold">
          Заключение эксперта по объекту государственной экспертизы
        </label>
        <label>
          Итоговая оценка отнесения товара (работы, услуги) к категории высокотехнологичных товаров:
        </label>
        <div class="alert alert-primary">{{conclusion()}}</div>
      </div>
      <hr/>
      <app-notes-block [_form]="_form" (onConditionsChanged)="onConditionsChanged()"></app-notes-block>
    </div>
  </div>
}