<label class="form-group-label">{{ind + 1}}. {{project | titleAndCode}}</label>

<div class="form-sub-group">
  <app-checkbox [(ngModel)]="customerReplies">
    - ответы на замечания в установленный срок от заказчика экспертизы представлены
  </app-checkbox>
  <app-checkbox [(ngModel)]="singleVoteMode" (onChecked)="toggleVote($event)">
    - единое голосование
  </app-checkbox>
</div>

<div class="form-sub-group">
  <label><b>{{ind + 1}}.1.</b> Финансирование объекта государственной экспертизы</label>
  <label>
    Целесообразность реализации объекта государственной экспертизы и его финансирования
    за счет средств республиканского бюджета и (или) других источников финансирования:
  </label>
  <app-vote-results [(ngModel)]="_form.finance" [all]="parent._form.participants.length"></app-vote-results>
</div>

<div class="form-sub-group">
  <label><b>{{ind + 1}}.2.</b> Стимулирование реализации объекта государственной экспертизы</label>
  <label>
    Целесообразность отнесения объекта государственной экспертизы в&nbsp;установленном порядке к&nbsp;наиболее значимым
    для Республики Беларусь исследованиям и разработкам, определенным в&nbsp;соответствии с&nbsp;абзацем третьим подпункта 1.1
    пункта&nbsp;1 Указа Президента Республики Беларусь от 7&nbsp;сентября 2009&nbsp;г. №&nbsp;441 «О&nbsp;дополнительных мерах
    по стимулированию научной, научно-технической и инновационной деятельности»:
  </label>
  <app-vote-results [display]="isAccepted()"
  [(ngModel)]="_form.promotion" [all]="parent._form.participants.length"></app-vote-results>
  <div [class.d-none]="!isAccepted()" class="italic">
    Голосование не проводилось по причине принятого отрицательного решения в п.{{ind + 1}}.1
  </div>
</div>

<div class="form-sub-group">
  <label><b>{{ind + 1}}.3.</b> Льготирование реализации объекта государственной экспертизы</label>
  <label>
    <b>{{ind + 1}}.3.1.</b> Целесообразность государственной регистрации объекта государственной экспертизы в&nbsp;соответствии
    с абзацем вторым пункта&nbsp;2 Положения о порядке государственной регистрации научно-исследовательских,
    опытно-конструкторских и опытно-технологических работ, утвержденного Указом Президента Республики Беларусь
    от&nbsp;25&nbsp;мая 2006&nbsp;г. №&nbsp;356 «О&nbsp;государственной регистрации научно-исследовательских, опытно-конструкторских
    и опытно-технологических работ»:
  </label>
  <app-vote-results [display]="isAccepted()"
    [(ngModel)]="_form.registration" [all]="parent._form.participants.length">
  </app-vote-results>
  <div [class.d-none]="!isAccepted()" class="italic">
    Голосование не проводилось по причине принятого отрицательного решения в п.{{ind + 1}}.1
  </div>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.3.2.</b> Определение в календарном плане этапов реализации объекта государственной экспертизы,
    подлежащих государственной регистрации в соответствии с абзацем вторым пункта&nbsp;5 Положения
    о&nbsp;порядке государственной регистрации научно-исследовательских, опытно-конструкторских
    и опытно-технологических работ, утвержденного Указом Президента Республики Беларусь от 25&nbsp;мая 2006&nbsp;г. №&nbsp;356:
  </label>
  <div [class.d-none]="!isAccepted()" class="italic">
    Голосование не проводилось по причине принятого отрицательного решения в п.{{ind + 1}}.1
  </div>
  <div [class.d-none]="isAccepted()">
    @if (stages.length == 0) {
      <div class="mb-1 italic">Не имеются</div>
    }
    @for (stage of stages; track stage; let i = $index) {
      <div class="input-group input-group-sm btn-group mb-2">
        <input [(ngModel)]="stage.name" type="text" class="form-control" placeholder="{{i + 1}}) Этап {{i + 1}}.">
        <button (click)="stages.splice(i, 1)" type="button" class="btn btn-sm btn-outline-danger">&times;</button>
      </div>
    }
    <div class="mb-2">
      <button (click)="stages.push({name: ''})" type="button" class="btn btn-primary btn-sm">
        Добавить этап
      </button>
    </div>
    <app-vote-results [(ngModel)]="_form.stagesVotes" [all]="parent._form.participants.length"></app-vote-results>
  </div>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.4.</b> Создание объектов права промышленной собственности
    при реализации объекта государственной экспертизы:
  </label>
  @if (privacyObjects.length == 0) {
    <div class="mb-1 italic">Не предусматривается</div>
  }
  @for (privacyObject of privacyObjects; track privacyObject; let i = $index) {
    <div class="input-group btn-group input-group-sm mb-2">
      <app-select-catalog
        [catalog]="Catalog.INDUSTRIAL_PROPERTY"
        [(ngModel)]="privacyObjects[i]" [resetEnabled]="false"
      ></app-select-catalog>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="privacyObjects.splice(i, 1)">&times;</button>
    </div>
  }
  <div class="mb-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null)">
      Добавить объект права
    </button>
  </div>
  <app-vote-results [(ngModel)]="_form.privacy" [all]="parent._form.participants.length"></app-vote-results>
  <app-vote-results #singleVote [(ngModel)]="singleVoteResult"
    [all]="parent._form.participants.length"
    [display]="singleVoteMode"
  ></app-vote-results>
</div>
