<div class="form-group">
  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
  <div class="form-sub-group">
    <label>
      1. Сопоставительный анализ запланированных результатов и их соответствия достигнутым результатам:
    </label>
    <textarea [ngModel]="formValue().results" (ngModelChange)="patchForm({ results: $event })"
      name="results"
      required
      rows="4" class="form-control"
      placeholder="детальный сопоставительный анализ запланированных и фактических результатов по каждому этапу плана">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      2. Оценка результатов научной и (или) научно-технической и (или) инновационной деятельности
      в соответствии с методическими рекомендациями по оценке эффективности научных, научно-технических
      и инновационных разработок и их внедрения, утвержденными постановлением Государственного комитета
      по науке и технологиям Республики Беларусь от 20 апреля 2017 г. № 9:
    </label>
    <textarea [ngModel]="formValue().effectiveness" (ngModelChange)="patchForm({ effectiveness: $event })"
      name="effectiveness"
      required
      rows="3" class="form-control"
      placeholder="оценка результатов НТД в соответствии с утвержденными методическими рекомендациями ГКНТ">
    </textarea>
  </div>
</div>

<div class="form-group">
  <label class="form-group-label">Выводы и предложения эксперта</label>
  <div class="form-sub-group">
    <label>
      1. Соответствие достигнутого результата запланированному:
    </label>
    <app-boolean-button [ngModel]="formValue().accordance" (ngModelChange)="patchForm({ accordance: $event })" [falseLabel]="'не соответствует'"
    [trueLabel]="'соответствует'"></app-boolean-button>
  </div>

  <div class="form-sub-group">
    <label>
      2. Соответствие экономического и (или) социального эффекта установленным условиям коммерциализации:
    </label>
    <app-boolean-button [ngModel]="formValue().effectAccordance" (ngModelChange)="patchForm({ effectAccordance: $event })" [falseLabel]="'не соответствует'"
    [trueLabel]="'соответствует'"></app-boolean-button>
  </div>

  <div class="form-sub-group">
    <label>
      3. Замечания по материалам объекта экспертизы, конкретные предложения о необходимости доработки и (или)
      корректировки материалов по объекту экспертизы:
    </label>
    @if (notes().length == 0) {
      <div class="mb-2 italic">не имеются</div>
    }
    @for (note of notes(); track $index; let i = $index) {
      <div class="input-group btn-group mb-2">
        <textarea [(ngModel)]="note.name" (ngModelChange)="markFormChanged()" rows="2" class="form-control"
        placeholder="{{i + 1}}) Замечание {{i + 1}}."></textarea>
        <button type="button" class="btn btn-outline-danger" (click)="removeNote(i)">&times;</button>
      </div>
    }
    <button type="button" class="btn btn-primary btn-sm" (click)="addNote()">
      Добавить замечание
    </button>
  </div>
</div>
