<h5 class="mb-3">Справочник организаций</h5>
<div class="list-group">

  <app-filter [fields]="_searchFields" (onFilterChanged)="onFilterChanged()"></app-filter>

  <div [loadingData]="_loading">

    <div (click)="addOrg()">
      <div class="list-group-item selectable link background-dark-sea-green">
        Добавить организацию
      </div>
    </div>

    @for (org of orgs; track trackOrg(org); let orgInd = $index) {
      <div>
        <!--ORG HEADER-->
        <div class="list-group-item list-group-item-action selectable"
          [class.border-bottom-none]="org.isExpanded" [class.disabled]="org.disabled"
          (click)="org.isExpanded=!org.isExpanded">
          <div class="text-mini font-weight-bold">
            организация
            @if (org.id == 0) {
              <span>(не сохранена)</span>
            }
            @if (org.disabled) {
              <span>(неактивная)</span>
            }
          </div>
          <div>{{org.name | orElse : 'Наименование отсутствует'}}</div>
        </div>
        @if (org.isExpanded) {
          <div class="list-group-item border-top-none pt-0">
            <!--SHOW ORG-->
            @if (!org.isEdit) {
              <div>
                <a class="btn btn-icon btn-right" (click)="editOrg(org)">
                  <fa-icon icon="cog" size="lg"></fa-icon>
                </a>
                <div>Глава организации:
                  <span class="italic">{{org.chairman | fullName}}</span>
                </div>
                <div>Краткое наименование:
                  <span class="italic">{{org.shortName | orElse: 'не указано'}}</span>
                </div>
                <div>УНП:
                  <span class="italic">{{org.unp | orElse: 'не указан'}}</span>
                </div>
                <div>Адрес:
                  <span class="italic">{{org.orgAddress | orElse: 'не указан'}}</span>
                </div>
                <div>Код организации:
                  <span class="italic">{{org.code | orElse: 'не указан'}}</span>
                </div>
                @if (org.childOrgs.length==0) {
                  <div>Головная организация:
                    <span class="italic">{{org.parentOrg?.name | orElse: 'не указана'}}</span>
                  </div>
                }
                @if (org.childOrgs.length>0) {
                  <div>Подчиненные организации:
                    <a class="italic link" (click)="showChildOrgs(org.childOrgs)"> показать</a>
                  </div>
                }
              </div>
            }
            <!--EDIT ORG-->
            @if (org.isEdit) {
              <div>
                @if (org.id != 0) {
                  <div class="form-sub-group">
                    <app-checkbox [(ngModel)]="editedOrg.disabled">Неактивная (организация больше не существует)
                    </app-checkbox>
                  </div>
                }
                <div class="form-sub-group">
                  <div>Наименование</div>
                  <input type="text" [(ngModel)]="editedOrg.name"
                    placeholder="Наименование организации" class="form-control" title="Наименование">
                  </div>
                  <div class="form-sub-group">Глава организации:
                    <span class="italic">{{editedOrg.chairman | fullName}}</span>
                    <a class="btn btn-icon btn-icon-sm" (click)="showPersonModal()">
                      <fa-icon icon="pencil-alt"></fa-icon>
                    </a>
                  </div>
                  <div class="form-sub-group">
                    <div>Краткое наименование</div>
                    <input type="text" [(ngModel)]="editedOrg.shortName"
                      placeholder="Краткое наименование" class="form-control" title="Краткое наименование">
                    </div>
                    <div class="form-group">
                      <div>УНП</div>
                      <input type="text" [(ngModel)]="editedOrg.unp"
                        placeholder="УНП организации" class="form-control" title="УНП">
                      </div>
                      <div class="form-group">
                        <div>Адрес</div>
                        <input type="text" [(ngModel)]="editedOrg.orgAddress"
                          placeholder="Адрес организации" class="form-control" title="Адрес">
                        </div>
                        <div class="form-group">
                          <div>Код организации</div>
                          <input type="text" [(ngModel)]="editedOrg.code"
                            placeholder="Код организации" class="form-control" title="Код организации">
                          </div>
                          @if (org.childOrgs.length==0) {
                            <div class="form-group">
                              <div>Головная организация:
                                <span class="italic">{{editedOrg.parentOrg?.name | orElse: 'не указана'}}</span>
                                <a class="btn btn-icon btn-icon-sm" (click)="showOrgModal()">
                                  <fa-icon icon="pencil-alt"></fa-icon>
                                </a>
                                <a class="btn btn-icon btn-icon-sm ml-2" (click)="deleteParentOrg()">
                                  <fa-icon icon="trash-alt"></fa-icon>
                                </a>
                              </div>
                            </div>
                          }
                          <div class="mt-1">
                            <button class="btn btn-secondary me-2" (click)="cancelEditOrg()">Отмена</button>
                            <button class="btn btn-primary me-2" (click)="saveEditedOrg()">Сохранить</button>
                            @if (org.id == 0) {
                              <button class="btn btn-danger" (click)="deleteOrg(orgInd)">
                                Удалить
                              </button>
                            }
                          </div>
                        </div>
                      }
                    </div>
                  }
                </div>
              }

              @if (!orgs || orgs.length == 0) {
                <div>
                  <div class="italic list-group-item background-light-blue">
                    Организации отсутствуют
                  </div>
                </div>
              }

              <app-pagination
                [page]="_page" [pagination]="_pagination"
                (onPageChanged)="onPageChanged($event)">
              </app-pagination>
            </div>
          </div>

          <app-modal #showSubOrgModal [title]="'Подчиненные организации'">
            <app-sub-orgs-list [orgs]="subOrgs">
            </app-sub-orgs-list>
          </app-modal>

          <app-search-person (selected)="selectPerson($event)"></app-search-person>

          <app-search-org (selected)="selectOrg($event)"></app-search-org>
