<hr/>

<app-agenda-header-block [_form]="formValue()" [ind]="ind" [project]="_project" [expanded]="expanded()" (toggle)="toggleExpanded()"></app-agenda-header-block>

<div class="collapse" [collapse]="!expanded()" [attr.id]="'meeting-project-' + _project?.id">
    <hr/>

    <app-customer-replies-block [_form]="formValue()" (formPatch)="patchForm($event)" (onConditionsChanged)="onConditionsChanged()"></app-customer-replies-block>

    <hr/>

    <app-economic-significance-block-2025
            [_form]="formValue()"
            [num]="'1'"
            [project]="project"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
            [isExpertReview]=false
    ></app-economic-significance-block-2025>

    <hr/>

    <app-resources-sufficiency-block-2025
            [_form]="formValue()"
            [num]="'2'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-resources-sufficiency-block-2025>

    <hr/>

    <app-competence-sufficiency-block-2025
            [_form]="formValue()"
            [num]="'3'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
            [isExpertReview]=false
    ></app-competence-sufficiency-block-2025>

    <hr/>

    <app-marketing-research-block-2025
            [project]="_project"
            [_form]="formValue()"
            [num]="'4'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
            [isExpertReview]=false
    ></app-marketing-research-block-2025>

    <hr/>

    <app-risks-block-2025
            [_project]="_project"
            [_form]="formValue()"
            [num]="'5'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-risks-block-2025>

    <hr/>

    <app-privacy-block-2025
            [_project]="_project"
            [_form]="formValue()"
            [num]="'6'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-privacy-block-2025>

    <hr/>

    <label class="mb-0">
        7. Реализация и финансирование объекта государственной экспертизы
    </label>

    <hr/>

    <app-name-accordance-block-2025
            [_form]="formValue()"
            [num]="'7.1'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-name-accordance-block-2025>

    <hr/>

    <app-terms-accordance-block-2025
            [form]="formValue()"
            [num]="'7.2'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-terms-accordance-block-2025>

    <hr/>

    <app-finance-accordance-block-2025
            [_form]="formValue()"
            [num]="'7.3'"
            [project]="_project"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-finance-accordance-block-2025>

    <hr/>

    <app-finance-conclusion-block-2025
            [_form]="formValue()"
            [num]="'7.4'"
            [project]="project"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-finance-conclusion-block-2025>

    <hr/>

    <app-section-conclusion-block
            [_form]="formValue()"
            [num]="'8'"
            [financeConclusionNum]="financeConclusionNum"
            [project]="project"
            [allParticipants]="getAllParticipants()"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-section-conclusion-block>
</div>
