@if (project) {
  <div class="row">
    <!--PROJECT INFO-->
    <div class="col-md-6 pe-0">
      <app-basic-project-info
        [setProject]="project" [role]="role"
        [lifecycleGroup]="lifecycleGroup"
        [visibleDocsForExpert]="visibleDocsForExpert"
        [buttons]="buttons()"
        (onChanged)="onProjectChanged($event)">
      </app-basic-project-info>
    </div>
    @if (!visibleForBureau()) {
      <div class="col-md-6">
        <!--ASSESSORS-->
        <div *ifRole="[Role.BUREAU_ASSESSOR,Role.SECTION_ASSESSOR]">
          <app-agenda-chat [agenda]="agenda"></app-agenda-chat>
          <div *ifRole="Role.BUREAU_ASSESSOR">
            <div class="mt-2 mb-1 text-muted text-sm">Протоколы заседаний</div>
            <app-document-list [documents]="sectionReports"></app-document-list>
          </div>
          <div *ifRole="[Role.SECTION_ASSESSOR, Role.BUREAU_ASSESSOR]">
            <div class="mt-2 mb-1 text-muted text-sm">Экспертные оценки</div>
            <app-document-list [documents]="reviews"></app-document-list>
          </div>
        </div>
        <!--BUREAU_CHAIRMAN-->
        @if (role == Role.BUREAU_CHAIRMAN) {
          <div>
            <div class="mb-2"><span class="text-muted">Информация</span></div>
            <app-lifecycle-group
              [group]="lifecycleGroup" [project]="project"
              [role]="role" (onChanged)="onLifecycleGroupChanged($event)">
            </app-lifecycle-group>
          </div>
        }
        <!--SECTION_CHAIRMAN-->
        <app-lifecycle-info
          *ifRole="Role.SECTION_CHAIRMAN" [role]="role"
          [lifecycle]="lifecycle" [project]="project" (onChanged)="onLifecycleChanged($event)">
        </app-lifecycle-info>
        <!--GKNT, CUSTOMER and BELISA-->
            <div *ifRole="[Role.GKNT_WORKER,Role.GKNT_CHAIRMAN,Role.GKNT_DEPARTMENT_CHAIRMAN,
      Role.CUSTOMER,Role.BELISA_READ,Role.BELISA_EDIT]">
          <app-lifecycle-group-list
            [groups]="lifecycleGroups" [project]="project"
            [role]="role" (onChanged)="onLifecycleGroupsChanged($event)"
            (onReplyChanged)="reloadProject($event)">
          </app-lifecycle-group-list>
        </div>
        <div *ifRole="[Role.CUSTOMER]">
          <div class="mt-2 mb-1 text-muted text-sm">Экспертные оценки</div>
          <app-document-list [documents]="reviews"></app-document-list>
        </div>
        <!--EXPERT-->
        <div *ifRole="Role.EXPERT">
          <div class="mb-2"><span class="text-muted">Экспертная оценка</span></div>
          <app-expert-review
            [review]="expertReview" [project]="project"
            (onChanged)="onExpertReviewChanged($event)" [role]="role">
          </app-expert-review>
        </div>
        <!--EXPERT_REVIEWS-->
            <div class="mt-3" *ifRole="[Role.GKNT_WORKER,Role.GKNT_CHAIRMAN,Role.GKNT_DEPARTMENT_CHAIRMAN,Role.BELISA_READ,
      Role.BELISA_EDIT, Role.BUREAU_CHAIRMAN,Role.SECTION_CHAIRMAN]">
          @if (visibleForSection()) {
            <app-expert-review-list
              [expertReviews]="project.expertReviews" [project]="project"
              [role]="role" (onChanged)="onExpertReviewsChanged($event)"
              [canChooseExperts]="canChooseExperts()">
            </app-expert-review-list>
          }
        </div>
      </div>
    }
  </div>
}

<!--SEARCH GKNT WORKER MODAL-->
@if (role == Role.GKNT_DEPARTMENT_CHAIRMAN && project) {
  <app-search-gknt-worker
    [gkntDepartmentId]="project.gkntDepartment.id"
    (selected)="onGwSelected($event)">
  </app-search-gknt-worker>
}

<!--EDIT PROJECT MODAL-->
<app-modal #editProjectModal *ifRole="[Role.CUSTOMER,Role.SUB_CUSTOMER]"
  [title]="'Редактирование данных объекта экспертизы'"
  [modalClasses]="'modal-xl modal-dialog-scrollable modal-fullscreen-lg-down'">
  <app-project-form [project]="editedProject"
    (save)="onUpdate($event)" (cancel)="editProjectModal.hide()">
  </app-project-form>
</app-modal>

<!--COPY PROJECT MODAL-->
<app-modal #copyProjectModal *ifRole="[Role.CUSTOMER,Role.SUB_CUSTOMER]"
  [title]="'Копирование объекта экспертизы'"
  [modalClasses]="'modal-xl modal-dialog-scrollable modal-fullscreen-lg-down'">
  <app-project-copy [project]="editedProject" (save)="onCopy($event)"
  (cancel)="copyProjectModal.hide()"></app-project-copy>
</app-modal>

<!--RETURN FROM COUNCIL WITHOUT EXPERTISE MODAL-->
<app-modal #returnFromCouncilWithoutExpertiseModal *ifRole="[Role.BUREAU_CHAIRMAN]" [title]="'Возврат объекта экспертизы'">
  @if (project && lifecycleGroup) {
    <app-return-from-council-without-expertise-form
      [project]="project"
      [group]="lifecycleGroup"
      [council]="lifecycleGroup.council"
      (onSave)="returnFromCouncil($event)"
      (onClose)="returnFromCouncilWithoutExpertiseModal.hide()">
    </app-return-from-council-without-expertise-form>
  }
</app-modal>

<!--REJECT PROJECT BY EXPERT MODAL-->
<app-modal #expertRejectProject *ifRole="[Role.EXPERT]" [title]="'Отказ от проведения экспертизы'">
  <app-expert-reject-project [project]="project" (confirm)="rejectProject($event)"
  (cancel)="expertRejectProject.hide()"></app-expert-reject-project>
</app-modal>




<!-- Same Projects-->
<app-modal #listProjects [title]="'Схожие объекты экспертизы'">
  <app-same-project-list [sameProjects]="listSameProjects" [title]="project?.title"
  (cancel)="listProjects.hide()"></app-same-project-list>
</app-modal>