@if (meeting) {
  <div>
    <div class="row">
      <div class="col-6">
        <div class="mb-2">
          <span class="text-muted">Заседание</span>
          @if (meeting.state == 'READY') {
            <div class="btn-right">
              <button class="btn btn-sm btn-primary" (click)="editMeeting()">Редактировать</button>
            </div>
          }
        </div>
        <div class="card card-block">
          <div>
            <span [ngClass]="['badge', MeetingStateBadge[meeting.state]]">{{ meeting.state | meetingState }}</span>
            {{meeting.description}}
          </div>
          @if (meeting.state == 'CANCELED') {
            <div class="italic text-sm">
              <b>Причина отмены:</b> {{meeting.cancelReason | orElse: 'не указана'}}
            </div>
          }
          <div class="text-sm">
            <div>Время проведения заседания: <i>{{meeting.period.start | mtime}}
            -{{meeting.period.end | mtime}}</i></div>
            <div>Место проведения заседания: <i>{{meeting.place | orElse: 'не указано'}}</i></div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-2">
          <div class="d-inline-block text-muted">Протокол заседания</div>
          @if (meeting.state=='READY') {
            <div class="btn-right">
              <button class="btn btn-sm btn-primary" (click)="showProtocolForm()">Создать</button>
            </div>
          }
        </div>
        <app-document-list
          [canDelete]="meeting.state=='READY'"
          [documents]="meeting.report" (onDelete)="deleteProtocol()">
        </app-document-list>
        <div class="mt-2 mb-2">
          <div class="text-muted text-sm mb-1">Приложение (расчёт выплаты членам секции и экспертам)</div>
          <app-document-list
            [canDelete]="meeting.state=='READY'" (onDelete)="deleteProtocolAppendix()"
            [documents]="meeting.paymentDocument">
          </app-document-list>
        </div>
      </div>
    </div>
    <div class="mt-2 mb-2">
      <div class="d-inline-block text-muted">Повестки дня</div>
      @if (meeting.state=='READY') {
        <div class="btn-right">
          <button class="btn btn-sm btn-secondary me-2" (click)="cancelAgendaDecisions()">Отменить заседание</button>
          <button class="btn btn-sm btn-primary" (click)="saveAgendaDecisions()">Завершить заседание</button>
        </div>
      }
    </div>
    <div class="list-group">
      @for (agenda of agendas; track agenda.id) {
        <div class="list-group-item">
          <div>
            <app-decision-tag [decision]="agenda.decision"></app-decision-tag>
            @if (agenda.project.expertRemarksCount>0) {
              <span data-bs-toggle="tooltip" data-bs-placement="top"
                title="Количество замечаний: {{agenda.project.expertRemarksCount}}">
                <fa-icon class="fa" icon="exclamation-triangle" style="color: darkorange"></fa-icon></span>
              }
              <span
                [routerLink]="['/projects', agenda.project.id, 'agendas', agenda.id]"
              class="ms-2 link">{{agenda.project.title}} </span>
              <span class="text-primary selectable" (click)="loadAgendaData(agenda)">
                <fa-icon class="m-auto fa" [icon]="agenda.isCollapsed?'chevron-up':'chevron-down'"></fa-icon>
              </span>
              <ng-container *ifRole="[Role.SECTION_CHAIRMAN]">
                @if (!agenda.project.isRescheduleSection && meeting.state!='FINISHED') {
                  <button
                    class="btn btn-sm btn-outline-secondary btn-right"
                    (click)="generateSectionRemark(agenda.project)">
                    Сформировать замечания
                  </button>
                }
              </ng-container>
              <ng-container *ifRole="[ Role.BUREAU_CHAIRMAN]">
                @if (!agenda.project.isRescheduleBureau) {
                  <button
                    class="btn btn-sm btn-outline-secondary btn-right"
                    (click)="generateBureauRemark(agenda.project)">
                    Сформировать замечания
                  </button>
                }
              </ng-container>
              @if (agenda.project.isRescheduleSection && agenda.isAnswerReceived) {
                <button
                  class="btn btn-sm btn-outline-secondary btn-right"
                  (click)="showCustomerAnswer(agenda)">
                  Показать ответы на замечания
                </button>
              }
            </div>
            @if (agenda.isCollapsed) {
              <div class="mt-2">
                <div class="mb-1 text-sm">Экспертные заключения</div>
                <app-document-list [documents]="agenda.expertReviews"></app-document-list>
                @if (agenda.remarks) {
                  <div>
                    <div class="mt-2 mb-1 text-sm">О наличии замечаний</div>
                    <app-document-list [documents]="agenda.remarks"></app-document-list>
                  </div>
                }
                @if (agenda.sectionProtocols) {
                  <div>
                    <div class="mt-2 mb-1 text-sm">Протоколы заседания секций</div>
                    <app-document-list [documents]="agenda.sectionProtocols"></app-document-list>
                  </div>
                }
                <div class="mt-2 mb-1 text-sm">Чат</div>
                <app-comment-list [comments]="agenda.comments"></app-comment-list>
              </div>
            }
          </div>
        }
      </div>
    </div>
  }

  <!--REVIEW FORM-->
  @if (meeting?.state == 'READY') {
    <app-modal #protocolFormModal [title]="'Протокол заседания'"
      (onClose)="closeProtocolForm()">
      <app-meeting-protocol-form
        [meeting]="meeting"
        [draftOwner]="meeting"
        [draftService]="_meetingService"
        [loading]="isCreatingProtocol"
        (onSave)="generateMeetingProtocol($event)"
        (onClose)="protocolFormModal.hide()" [role]="role">
      </app-meeting-protocol-form>
    </app-modal>
  }

  <app-meeting-form *ifRole="[Role.SECTION_CHAIRMAN, Role.BUREAU_CHAIRMAN]" (onAdd)="onSave($event)"></app-meeting-form>

  <!--REMARKS FOR SECTION-->
  <app-modal #sectionRemarks [title]="'Замечания секции'">
    <app-meeting-remark [allRemarks]="remarks" (onSave)="saveSectionRemarks($event)"
    [role]="role"></app-meeting-remark>
  </app-modal>

  <!--REMARKS FOR BUREAU-->
  <app-modal #bureauRemarks [title]="'Замечания бюро'">
    <app-meeting-remark [allRemarks]="remarks" (onSave)="saveBureauRemarks($event)"
    [role]="role"></app-meeting-remark>
  </app-modal>

  <app-modal #remarkResponseForSection [title]="'Ответы на замечания секции'">
    <app-remark-response [remarks]="remarks.sectionMeetingRemark" [isEdit]="false"></app-remark-response>
  </app-modal>

  <app-modal #remarkResponseForBureau [title]="'Ответы на замечания бюро'">
    <app-remark-response [remarks]="remarks.bureauMeetingRemark" [isEdit]="false"></app-remark-response>
  </app-modal>
