<hr/>

<label class="form-group-label">Анализ и оценка объекта экспертизы</label>

<app-scientific-level-conclusion-block
  [_form]="formValue()"
  [num]="'1'"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
></app-scientific-level-conclusion-block>

<hr/>

<app-priority-accordance-conclusion-block
  [_form]="formValue()"
  [num]="'2'"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
></app-priority-accordance-conclusion-block>

<hr/>

<app-technology-block
  [_form]="formValue()"
  [num]="'3'"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
></app-technology-block>

<hr/>

<app-consequences-conclusion-block
  [_form]="formValue()"
  [num]="'4'"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
></app-consequences-conclusion-block>

<hr/>

<app-conclusion-council-block
  [form]="formValue()"
  [financeConclusionNum]="financeConclusionNum"
  [project]="project"
  [group]="group"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
></app-conclusion-council-block>
