<hr/>

<app-agenda-header-block [_form]="_form" [ind]="ind" [project]="_project" [expanded]="expanded()" (toggle)="toggleExpanded()"></app-agenda-header-block>

<div class="collapse" [collapse]="!expanded()" [attr.id]="'meeting-project-' + _project?.id">
  <hr/>

  <app-customer-replies-block [_form]="_form"></app-customer-replies-block>

  <hr/>

  <app-program-level-block
    [_form]="_form"
    [num]="'1'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-program-level-block>

  <hr/>

  <app-program-sufficiency-finance-block
    [_form]="_form"
    [num]="'2'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-program-sufficiency-finance-block>

  <hr/>

  <app-privacy-block
    [_form]="_form"
    [num]="'3'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-privacy-block>

  <hr/>

  <label class="mb-0">
    4. Реализация и финансирование объекта государственной экспертизы
  </label>

  <hr/>

  <app-name-accordance-block
    [_form]="_form"
    [num]="'4.1'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-name-accordance-block>

  <hr/>

  <app-terms-accordance-block
    [form]="_form"
    [num]="'4.2'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-terms-accordance-block>

  <hr/>

  <app-finance-accordance-block
    [_form]="_form"
    [num]="'4.3'"
    [project]="_project"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-finance-accordance-block>

  <hr/>

  <app-finance-conclusion-block
    [_form]="_form"
    [num]="'4.4'"
    [project]="project"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-finance-conclusion-block>

  <hr/>

  <app-section-conclusion-block
    [_form]="_form"
    [num]="'5'"
    [financeConclusionNum]="financeConclusionNum"
    [project]="project"
    [allParticipants]="getAllParticipants()"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-section-conclusion-block>
</div>
