<h5 class="mb-3">Справочник ГЭС</h5>
<div class="row">

  <!--SELECT COUNCIL PANEL-->
  <div class="col-md-4">
    <app-filter [fields]="_searchFields" (onFilterChanged)="onFilterChanged()"></app-filter>
    <ul [loadingData]="_loading" class="list-group">
      @for (council of councils; track trackCouncil(council)) {
        <li class="list-group-item list-group-item-action selectable"
          [class.disabled]="council.disabled" [class.active]="council == selectedCouncil"
          (click)="selectCouncil(council)">
          <span>{{councilToString(council)}}</span>
          @if (council.id == 0) {
            <span class="text-mini font-weight-bold">(не сохранён)</span>
          }
          @if (council.disabled) {
            <span class="text-mini font-weight-bold">(неактивный)</span>
          }
        </li>
      }
      <app-pagination
        [page]="_page" [pagination]="_pagination" [maxSize]="5"
        (onPageChanged)="onPageChanged($event)" class="border-radius-0">
      </app-pagination>
      <li (click)="addCouncil()" class="list-group-item selectable link background-dark-sea-green">
        Добавить ГЭС
      </li>
    </ul>
  </div>

  <!--SELECTED COUNCIL, BUREAU AND SECTIONS PANEL-->
  <div [loadingData]="_loading" class="col-md-8 list-group">

    <!--COUNCIL-->
    @if (selectedCouncil) {
      <div>
        <!--COUNCIL HEADER-->
        <div class="list-group-item selectable background-light-blue"
          [class.border-bottom-none]="selectedCouncil.isExpanded"
          (click)="selectedCouncil.isExpanded=!selectedCouncil.isExpanded">
          <div class="text-mini font-weight-bold">
            Государственный экспертный совет
            @if (selectedCouncil.id == 0) {
              <span>(не сохранён)</span>
            }
            @if (selectedCouncil.disabled) {
              <span>(неактивный)</span>
            }
          </div>
          <div>{{councilToString(selectedCouncil)}}</div>
        </div>
        @if (selectedCouncil.isExpanded) {
          <div class="list-group-item border-top-none">
            <!--SHOW COUNCIL-->
            @if (!selectedCouncil.isEdit) {
              <div>
                <a class="btn btn-icon btn-right" (click)="editCouncil()">
                  <fa-icon icon="cog" size="lg"></fa-icon>
                </a>
                <span>Курирующие сотрудники БелИСА:</span>
                @if (selectedCouncil.belisaWorkers.length > 0) {
                  <ul class="form-sub-group italic">
                    @for (person of selectedCouncil.belisaWorkers; track person.id) {
                      <li>
                        {{person | fullName}}
                      </li>
                    }
                  </ul>
                }
                @if (selectedCouncil.belisaWorkers.length == 0) {
                  <span class="form-sub-group italic">
                    не указаны
                  </span>
                }
                <div>
                  <span>Приоритетные направления научных исследований и (или) научно-технической деятельности:</span>
                  @if (selectedCouncil.directions.length > 0) {
                    <ul class="form-sub-group italic">
                      @for (direction of selectedCouncil.directions; track direction.id) {
                        <li>
                          {{direction.name}}
                        </li>
                      }
                    </ul>
                  }
                  @if (selectedCouncil.directions.length == 0) {
                    <span class="form-sub-group italic">
                      не указаны
                    </span>
                  }
                </div>
              </div>
            }
            <!--EDIT COUNCIL-->
            @if (selectedCouncil.isEdit) {
              <div>
                @if (selectedCouncil.id != 0) {
                  <div class="form-sub-group">
                    <app-checkbox [(ngModel)]="editedCouncil.disabled">Неактивный (ГЭС больше не функционирует)</app-checkbox>
                  </div>
                }
                <div class="form-sub-group">
                  <div>Номер</div>
                  <input numberInput type="text" [(ngModel)]="editedCouncil.code"
                    placeholder="Номер ГЭСа" class="form-control" title="Номер">
                  </div>
                  <div class="form-group">
                    <div>Наименование</div>
                    <input type="text" [(ngModel)]="editedCouncil.name"
                      placeholder="Наименование ГЭСа" class="form-control" title="Наименование">
                    </div>
                    <div [class.form-group]="editedCouncil.belisaWorkers.length == 0">
                      <span>Курирующие сотрудники БелИСА:</span>
                      @if (editedCouncil.belisaWorkers.length == 0) {
                        <span class="form-sub-group italic">
                          не указаны
                        </span>
                      }
                      <a class="btn btn-icon btn-icon-sm" (click)="showSearchBelisaWorkerModal()">
                        <fa-icon icon="plus"></fa-icon>
                      </a>
                    </div>
                    @if (editedCouncil.belisaWorkers.length > 0) {
                      <ul class="form-group italic">
                        @for (person of editedCouncil.belisaWorkers; track person.id; let i = $index) {
                          <li>
                            {{person | fullName}}
                            <a class="btn btn-icon btn-icon-sm" (click)="editedCouncil.belisaWorkers.splice(i, 1)">
                              <fa-icon icon="minus"></fa-icon>
                            </a>
                          </li>
                        }
                      </ul>
                    }
                    <div class="form-group">
                      <div>Приоритетные направления научных исследований и (или) научно-технической деятельности:</div>
                      <div class="form-sub-group italic">
                        @if (editedCouncil.directions.length != 0) {
                          <ul class="mb-0">
                            @for (direction of editedCouncil.directions; track direction.id; let i = $index) {
                              <li>
                                {{direction.name}}
                                <a class="btn btn-icon btn-icon-sm" (click)="editedCouncil.directions.splice(i, 1)">
                                  <fa-icon icon="minus"></fa-icon>
                                </a>
                              </li>
                            }
                          </ul>
                        }
                        @if (editedCouncil.directions.length == 0) {
                          <div>направления не указаны</div>
                        }
                      </div>
                      <div class="row">
                        <div class="col-10 pe-2">
                          <app-select-catalog [catalog]="Catalog.DIRECTION" [(ngModel)]="newDirection"></app-select-catalog>
                        </div>
                        <div class="col-2 ps-2">
                          <button class="btn btn-primary w-100" [disabled]="!newDirection" (click)="addDirection()">Добавить</button>
                        </div>
                      </div>
                    </div>
                    <div class="mt-1">
                      <button class="btn btn-secondary me-2" (click)="cancelEditCouncil()">Отмена</button>
                      <button class="btn btn-primary" (click)="saveEditedCouncil()">Сохранить</button>
                      @if (selectedCouncil.id == 0) {
                        <button class="btn btn-danger" (click)="deleteCouncil()">
                          Удалить
                        </button>
                      }
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        }

        <!--BUREAU-->
        @if (selectedBureau) {
          <div>
            <!--BUREAU HEADER-->
            <div class="list-group-item list-group-item-action selectable"
              [class.border-bottom-none]="selectedBureau.isExpanded"
              (click)="selectedBureau.isExpanded=!selectedBureau.isExpanded">
              <span class="text-mini font-weight-bold">бюро</span>
              <div>Бюро Государственного экспертного совета</div>
            </div>
            @if (selectedBureau.isExpanded) {
              <div class="list-group-item border-top-none pt-0">
                <!--SHOW BUREAU-->
                @if (!selectedBureau.isEdit) {
                  <div>
                    <a class="btn btn-icon btn-right" (click)="editBureau()">
                      <fa-icon icon="cog" size="lg"></fa-icon>
                    </a>
                    <div>Председатель:
                      <span class="italic">{{selectedBureau.chairman | fullName}}</span>
                    </div>
                    <div>Заместитель Председателя:
                      <span class="italic">{{selectedBureau.deputyChairman | fullName}}</span>
                    </div>
                    <div class="form-sub-group">Секретарь:
                      <span class="italic">{{selectedBureau.secretary | fullName}}</span>
                    </div>
                    <div>Члены бюро:
                      @if (selectedBureau.assessors.length == 0) {
                        <span class="form-sub-group italic">
                          не указаны
                        </span>
                      }
                    </div>
                    @if (selectedBureau.assessors.length > 0) {
                      <ul class="form-sub-group italic">
                        @for (person of selectedBureau.assessors; track person.id) {
                          <li>{{person | fullName}}</li>
                        }
                      </ul>
                    }
                  </div>
                }
                <!--EDIT BUREAU-->
                @if (selectedBureau.isEdit) {
                  <div>
                    <div>Председатель:
                      <span class="italic">{{editedBureau.chairman | fullName}}</span>
                      <a class="btn btn-icon btn-icon-sm" (click)="showSearchBureauChairmanModal()">
                        <fa-icon icon="pencil-alt"></fa-icon>
                      </a>
                    </div>
                    <div>Заместитель Председателя:
                      <span class="italic">{{editedBureau.deputyChairman | fullName}}</span>
                      <a class="btn btn-icon btn-icon-sm" (click)="showSearchBureauDeputyChairmanModal()">
                        <fa-icon icon="pencil-alt"></fa-icon>
                      </a>
                    </div>
                    <div class="form-sub-group">Секретарь:
                      <span class="italic">{{editedBureau.secretary | fullName}}</span>
                      <a class="btn btn-icon btn-icon-sm" (click)="showSearchBureauSecretaryModal()">
                        <fa-icon icon="pencil-alt"></fa-icon>
                      </a>
                    </div>
                    <div [class.form-group]="editedBureau.assessors.length == 0">Члены бюро:
                      @if (editedBureau.assessors.length == 0) {
                        <span class="form-group italic">
                          не указаны
                        </span>
                      }
                      <a class="btn btn-icon btn-icon-sm" (click)="showSearchBureauAssessorModal()">
                        <fa-icon icon="plus"></fa-icon>
                      </a>
                    </div>
                    @if (editedBureau.assessors.length > 0) {
                      <ul class="form-group italic">
                        @for (assessor of editedBureau.assessors; track assessor.id; let i = $index) {
                          <li>{{assessor | fullName}}
                            <a class="btn btn-icon btn-icon-sm" (click)="editedBureau.assessors.splice(i, 1)">
                              <fa-icon icon="minus"></fa-icon>
                            </a>
                          </li>
                        }
                      </ul>
                    }
                    <div class="mt-1">
                      <button class="btn btn-secondary me-2" (click)="cancelEditBureau()">Отмена</button>
                      <button class="btn btn-primary" (click)="saveEditedBureau()">Сохранить</button>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        }

        <!--SECTIONS-->
        @for (section of selectedCouncil?.sections; track trackSection(section); let sectionInd = $index) {
          <div>
            <!--SECTION HEADER-->
            <div class="list-group-item list-group-item-action selectable"
              [class.border-bottom-none]="section.isExpanded" [class.disabled]="section.disabled"
              (click)="section.isExpanded=!section.isExpanded">
              <span class="text-mini font-weight-bold">
                {{section.sectionType | sectionType}} секция
                @if (section.id == 0) {
                  <span>(не сохранена)</span>
                }
                @if (section.disabled) {
                  <span>(неактивная)</span>
                }
              </span>
              <div>{{section.name}}</div>
            </div>
            @if (section.isExpanded) {
              <div class="list-group-item border-top-none pt-0">
                <!--SHOW SECTION-->
                @if (!section.isEdit) {
                  <div>
                    <a class="btn btn-icon btn-right" (click)="editSection(section)">
                      <fa-icon icon="cog" size="lg"></fa-icon>
                    </a>
                    <div>Руководитель секции:
                      <span class="italic">{{section.head | fullName}}</span>
                    </div>
                    <div>Заместитель руководителя:
                      <span class="italic">{{section.deputyHead | fullName}}</span>
                    </div>
                    <div class="form-sub-group">Секретарь:
                      <span class="italic">{{section.secretary | fullName}}</span>
                    </div>
                    <div>Члены секции:
                      @if (section.assessors.length == 0) {
                        <span class="form-sub-group italic">
                          не указаны
                        </span>
                      }
                    </div>
                    @if (section.assessors.length > 0) {
                      <ul class="form-sub-group italic">
                        @for (person of section.assessors; track person.id) {
                          <li>{{person | fullName}}</li>
                        }
                      </ul>
                    }
                  </div>
                }
                <!--EDIT SECTION-->
                @if (section.isEdit) {
                  <div>
                    @if (section.id != 0) {
                      <div class="form-sub-group">
                        <app-checkbox [(ngModel)]="editedSection.disabled">
                          Неактивная (секция больше не функционирует)
                        </app-checkbox>
                      </div>
                    }
                    <div class="form-sub-group">
                      <div>Тип</div>
                      <app-dropdown
                        [options]="allSectionTypes" [notSelected]="'Тип секции не выбран'"
                        [(ngModel)]="editedSection.sectionType" [optionToString]="sectionTypeToString">
                      </app-dropdown>
                    </div>
                    <div class="form-sub-group">
                      <div>Наименование</div>
                      <input type="text" [(ngModel)]="editedSection.name"
                        placeholder="Наименование секции" class="form-control" title="Наименование">
                      </div>
                      <div>Руководитель секции:
                        <span class="italic">{{editedSection.head | fullName}}</span>
                        <a class="btn btn-icon btn-icon-sm" (click)="showSearchSectionHeadModal()">
                          <fa-icon icon="pencil-alt"></fa-icon>
                        </a>
                      </div>
                      <div>Заместитель руководителя:
                        <span class="italic">{{editedSection.deputyHead | fullName}}</span>
                        <a class="btn btn-icon btn-icon-sm" (click)="showSearchSectionDeputyHeadModal()">
                          <fa-icon icon="pencil-alt"></fa-icon>
                        </a>
                      </div>
                      <div class="form-sub-group">Секретарь:
                        <span class="italic">{{editedSection.secretary | fullName}}</span>
                        <a class="btn btn-icon btn-icon-sm" (click)="showSearchSectionSecretaryModal()">
                          <fa-icon icon="pencil-alt"></fa-icon>
                        </a>
                      </div>
                      <div [class.form-group]="editedSection.assessors.length == 0">Члены секции:
                        @if (editedSection.assessors.length == 0) {
                          <span class="form-group italic">
                            не указаны
                          </span>
                        }
                        <a class="btn btn-icon btn-icon-sm" (click)="showSearchSectionAssessorModal()">
                          <fa-icon icon="plus"></fa-icon>
                        </a>
                      </div>
                      @if (editedSection.assessors.length > 0) {
                        <ul class="form-group italic">
                          @for (assessor of editedSection.assessors; track assessor.id; let i = $index) {
                            <li>{{assessor | fullName}}
                              <a class="btn btn-icon btn-icon-sm" (click)="editedSection.assessors.splice(i, 1)">
                                <fa-icon icon="minus"></fa-icon>
                              </a>
                            </li>
                          }
                        </ul>
                      }
                      <div class="mt-1">
                        <button class="btn btn-secondary me-2" (click)="cancelEditSection()">Отмена</button>
                        <button class="btn btn-primary me-2" (click)="saveEditedSection(sectionInd)">Сохранить</button>
                        @if (section.id == 0) {
                          <button class="btn btn-danger" (click)="deleteSection(sectionInd)">
                            Удалить
                          </button>
                        }
                      </div>
                    </div>
                  }
                </div>
              }
            </div>
          }

          <!--ADD SECTION-->
          @if (canAddSection()) {
            <div (click)="addSection()">
              <div class="list-group-item selectable link background-dark-sea-green">
                Добавить секцию
              </div>
            </div>
          }

          @if (!selectedCouncil) {
            <div>
              <div class="italic list-group-item background-light-blue">
                Государственные экспертные советы отсутствуют
              </div>
            </div>
          }
        </div>
      </div>

      <app-search-person
        [filters]="[searchPersonFilter]"
        (selected)="selectPerson($event)">
      </app-search-person>
