<!--HEADER-->
<div class="mb-2">
  <div class="d-inline-block text-muted">ГЭС</div>
  @if (canEditGroups()) {
    <button class="btn btn-sm btn-primary btn-right"
      (click)="searchCouncilComponent().show()">
      Добавить ГЭС
    </button>
  }
</div>

<!--GROUPS-->
@if (!groupsState().length) {
  <div>
    <div class="list-group-item text-muted text-sm italic">
      ГЭС не указаны
    </div>
  </div>
}
<div>
  @for (group of groupsState(); track (group.id ?? $index)) {
    <div class="lifecycle-group-item">
      <app-lifecycle-group
        [group]="group" [project]="project()" (onDeleted)="deleteGroup($event)"
        [role]="role()" (onChanged)="changed()" (onReplyChanged)="replyChanged($event)">
      </app-lifecycle-group>
    </div>
  }
</div>
<!--SEARCH COUNCIL MODAL-->
@if (canEditGroups()) {
  <app-search-council (selected)="onSelectedCouncil($event)"></app-search-council>
}
