<hr/>

<app-agenda-header-block [_form]="formValue()" [ind]="ind" [project]="_project" [expanded]="expanded()" (toggle)="toggleExpanded()"></app-agenda-header-block>

<div class="collapse" [collapse]="!expanded()" [attr.id]="'meeting-project-' + _project?.id">
  <hr/>

  <app-customer-replies-block
    [_form]="formValue()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-customer-replies-block>

  <hr/>

  <app-pvt-product-name-block
          [num]="'1.1'"
          [_form]="formValue()"
          (formPatch)="patchForm($event)"
  ></app-pvt-product-name-block>
  <hr/>

  <app-pvt-cof-tech-block [_form]="formValue()"
                      [num]="'1.2'"
                      (formPatch)="patchForm($event)"
                      (onConditionsChanged)="onConditionsChanged()">
  </app-pvt-cof-tech-block>

  <hr/>

  <app-high-tech-block
    [_form]="formValue()"
    [num]="'1.3'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-high-tech-block>

  <hr/>

  <app-section-conclusion-block
    [_form]="formValue()"
    [num]="'2'"
    [financeConclusionNum]="'1'"
    [project]="project"
    [allParticipants]="getAllParticipants()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-section-conclusion-block>
</div>
