<div class="list-group">
    <div [loadingData]="_loading">
        <div class="card card-block" *ngFor="let project of projects">
            <a class="h5 bold" target="_blank" [routerLink]="['/projects/',project.id]">{{project |
                titleAndCode}}</a>

            <div class="text-sm">
                <span>Регистрационный номер: </span>
                <span class="italic">{{project.id}}</span>
            </div>
            <div class="text-sm">
                <span>Дата регистрации: </span>
                <span class="italic">{{project.registerDate | date:'dd.MM.yyyy'}} г.</span>
            </div>
            <div class="text-sm">
        <span *ngFor="let group of project.groups">
          ГЭС: <span class="italic">№{{group.council.code}} {{group.council.name}}</span></span>
            </div>

            <div class="text-sm">
                <span>Заказчик экспертизы: </span>
                <span class="italic">{{project.customer?.org?.name | orElse : 'организация не указана' }}</span>
            </div>
            <div *ngIf="project.executor" class="text-sm">
                <span>Организация-исполнитель: </span>
                <span class="italic">{{project.executor | orElse: 'не указан'}}</span>
            </div>
            <table *ngIf="projects.length > 0" class="table table-responsive mb-0 mt-3">
                <thead>
                <tr>
                    <th class="align-top" style="min-width: 180px">Эксперт</th>
                    <th class="align-top" style="width: 100%">Сфера деятельности</th>
                    <!-- <th class="align-top" style="min-width: 220px">В настоящее время</th> -->
                    <th class="align-top" style="min-width: 150px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let review of project.expertReviews" class="list-group-item-action">
                    <td>
                        <div class="cursor-pointer"
                             (click)="showExpertInfoDialog(review.expert)">{{review.expert|fullName}}</div>
                        <div class="text-sm italic text-muted">{{review.expert.personInfo | academicInfo}}</div>
                    </td>
                    <td class="text-sm">
                        <div *ngIf="review.expert.areas.length > 0">
                            Области компетенции:&nbsp;<span class="italic">{{review.expert | areas}}</span>
                        </div>
                        <div *ngIf="review.expert.org?.name">
                            Организация:&nbsp;<span class="italic">{{review.expert.org?.name}}</span>
                        </div>
                        <div *ngIf="review.expert.post">
                            Должность:&nbsp;<span class="italic">{{review.expert.post}}</span>
                        </div>
                        <div *ngIf="review.expert.personInfo.specialization">
                            Специализация:&nbsp;<span class="italic">{{review.expert.personInfo.specialization}}</span>
                        </div>
                        <div *ngIf="review.expert.personInfo.specialty">
                            Специальность:&nbsp;<span class="italic">{{review.expert.personInfo.specialty}}</span>
                        </div>
                    </td>
                    <!-- <td class="text-sm"> -->
                        <!-- <div> -->
                            <!-- Объектов на экспертизе:&nbsp;<span -->
                                <!-- class="bold">{{review.expert.realTimeStats.projectsOnExamination}}</span> -->
                        <!-- </div> -->
                        <!-- <div> -->
                            <!-- Ожидают подтверждения:&nbsp; -->
                            <!-- <span class="bold">{{review.expert.realTimeStats.reviewsOnConfirmation}}</span> -->
                        <!-- </div> -->
                        <!-- <div> -->
                            <!-- Нарушены сроки:&nbsp;<span -->
                                <!-- class="bold">{{review.expert.realTimeStats.reviewsTermsViolation.red}}</span> -->
                        <!-- </div> -->
                        <!-- <div> -->
                            <!-- Завершено заключений:&nbsp; -->
                            <!-- <span class="bold"> -->
                                <!-- {{review.expert.realTimeStats.acceptedProjects + review.expert.realTimeStats.rejectedProjects}} -->
                            <!-- </span> -->
                        <!-- </div> -->
                        <!-- <div class=""> -->
                            <!-- <div class="d-inline-block text-nowrap mr-2"> -->
                                <!-- Отказы эксперта:&nbsp; -->
                                <!-- <span class="bold"> -->
                                    <!-- {{review.expert.realTimeStats.rejectedReviewsByExpert}} -->
                                <!-- </span> -->
                            <!-- </div> -->
                            <!-- <div class="d-inline-block text-nowrap"> -->
                                <!-- Отказы ГКНТ:&nbsp; -->
                                <!-- <span class="bold"> -->
                                    <!-- {{review.expert.realTimeStats.rejectedReviewsByGknt}} -->
                                <!-- </span> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </td> -->
                    <td class="text-sm">
                        <ng-container *ngIf="review.state==ExpertReviewState.ON_GKNT_CONFIRMATION">
                            <button class="btn btn-icon" (click)="confirmExpert(review, project)">
                                <fa-icon icon="check" size="lg"></fa-icon>
                            </button>
                            <button class="btn btn-icon" (click)="rejectExpert(review, project)">
                                <fa-icon icon="times" size="lg"></fa-icon>
                            </button>
                            <div class="italic">
                                Дата поступления запроса на согласование:&nbsp;<div
                                    class="bold">{{review.stateStartDate |
                                date:'dd.MM.yyyy'}}
                            </div>
                            </div>
                        </ng-container>
                        <div *ngIf="review.state!='ON_GKNT_CONFIRMATION'">
                            <ng-container [ngSwitch]="review.state">
                                <ng-container *ngSwitchCase="ExpertReviewState.REJECTED">
                  <span class="badge badge-danger">
                    Отклонён
                  </span>
                                    <div>
                                        <span class="italic">{{review.rejectionReason}}</span>
                                    </div>

                                </ng-container>

                                <span *ngSwitchCase="ExpertReviewState.ON_EXPERT_CONFIRMATION" class="badge badge-info">
                  Ожидание эксперта
                </span>
                                <span *ngSwitchDefault class="badge badge-success">
                  Согласован
                </span>
                            </ng-container>
                            <!--<span *ngIf="review.state == ExpertReviewState.REJECTED" class="badge badge-danger">-->
                            <!--Отклонён-->
                            <!--</span>-->
                            <!--<span *ngIf="review.state == ExpertReviewState." class="badge badge-success">-->
                            <!--Согласован-->
                            <!--</span>-->
                            <!--<span *ngIf="review.state != ExpertReviewState.REJECTED" class="badge badge-success">-->
                            <!--Ожидание эксперта-->
                            <!--</span>-->
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="projects.length == 0" class="alert alert-info italic mb-0 card card-block">
            Не требуется
        </div>
        <app-pagination [page]="_page" [pagination]="_pagination"
                        (onPageChanged)="onPageChanged($event)"></app-pagination>
    </div>
</div>
<app-modal #expertInfo [title]="'Информация об эксперте'" [modalClasses]="'modal-xl'">
    <div class="container" style="min-height:auto;" *ngIf="expert!=null">
        <div class="row">
            <div class="col-lg-3">
                <div class="bold">{{expert|fullName}}</div>
                <div class="text-sm italic text-muted">{{expert.personInfo | academicInfo}}</div>
                <div class="text-sm italic">{{expert.email}}</div>
                <div class="text-sm italic">{{expert.phones | phones}}</div>
            </div>
            <div class="col-lg-3 text-sm px-0">
                <div *ngIf="expert.areas.length > 0">
                    Области компетенции:&nbsp;<span class="italic">{{expert | areas}}</span>
                </div>
                <div *ngIf="expert.personInfo.specializations">
                    Специализация:&nbsp;
                    <div *ngFor="let spec of expert.personInfo.specializations"
                         class="italic">{{spec.name}}
                    </div>
                </div>
                <div *ngIf="expert.personInfo.specialities">
                    Специальность:&nbsp;
                    <div *ngFor="let special of expert.personInfo.specialities"
                         class="italic">{{special.name}}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-sm pr-0">
                <div *ngIf="expert.org?.name">
                    Организация:&nbsp;<span class="italic">{{expert.org?.name}}</span>
                </div>
                <div *ngIf="expert.post">
                    Должность:&nbsp;<span class="italic">{{expert.post}}</span>
                </div>
            </div>
            <div class="col-lg-3 text-sm">
                <div>
                    Объектов на&nbsp;экспертизе:&nbsp;<span
                        class="bold">{{expert.realTimeStats.projectsOnExamination}}</span>
                </div>
                <div>
                    Ожидают подтверждения:&nbsp;<span
                        class="bold">{{expert.realTimeStats.reviewsOnConfirmation}}</span>
                </div>
                <div>
                    Нарушены сроки:&nbsp;<span
                        class="bold">{{expert.realTimeStats.reviewsTermsViolation.red}}</span>
                </div>
                <div>
                    Завершено заключений:&nbsp;
                    <span class="bold">
                                {{expert.realTimeStats.acceptedProjects + expert.realTimeStats.rejectedProjects}}
                            </span>
                </div>
                <div class="">
                    <div class="d-inline-block text-nowrap mr-2">
                        Отказы эксперта:&nbsp;
                        <span class="bold">
                                    {{expert.realTimeStats.rejectedReviewsByExpert}}
                                </span>
                    </div>
                    <div class="d-inline-block text-nowrap">
                        Отказы ГКНТ:&nbsp;
                        <span class="bold">
                                    {{expert.realTimeStats.rejectedReviewsByGknt}}
                                </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="text-center col-lg-12" > -->
            <!-- <div class="text-sm text-muted pt-2">Подготовлено экспертных заключений за год</div> -->
            <!-- <app-finished-reviews-sparkline-chart -->
              <!-- [stats]="expert.stats" -->
            <!-- ></app-finished-reviews-sparkline-chart> -->
        <!-- </div> -->
        <!-- <div class="text-center col-lg-12"> -->
            <!-- <div class="text-sm text-muted pt-2">Статистика работы эксперта за год</div> -->
            <!-- <app-review-results-sparkline-chart -->
              <!-- [stats]="expert.stats" -->
            <!-- ></app-review-results-sparkline-chart> -->
        <!-- </div> -->
        <!-- <div class="text-center col-lg-12"> -->
            <!-- <div class="text-sm text-muted pt-2">Время подготовки заключения</div> -->
            <!-- <app-reviews-violation-sparkline-chart -->
              <!-- [stats]="expert.stats" -->
            <!-- ></app-reviews-violation-sparkline-chart> -->
        <!-- </div> -->
    </div>
</app-modal>
