<app-modal #searchModal [title]="'Объекты экспертизы'" [modalClasses]="'modal-xl'">
  <p><i>Период:</i> {{period()}}</p>
  <p style="padding-bottom: 10px"><i>Количество объектов экспертизы:</i> {{countProjects()}}</p>

  <!--FILTER
  <app-filter [fields]="_searchFields" (onFilterChanged)="onFilterChanged()"></app-filter>
  -->

  <div [loadingData]="_loading" class="mt-3">
    @if (projects().length > 0) {
      <table class="table table-responsive mb-0">
        <thead>
          <tr>
            <th class="text-nowrap selectable" style="min-width: 300px" (click)="changeSort()">
              <span>Объект экспертизы </span>
              <fa-icon class="fa-active" [icon]="SortClass[sortDirection()]"></fa-icon>
            </th>
            <th class="text-nowrap" style="width: 50%">Код объекта</th>
            <th class="text-nowrap" style="width: 50%">Заказчик экспертизы</th>
            <th class="text-nowrap" style="min-width: 220px; width: 50%">Сроки реализации</th>
            <th class="text-nowrap" style="min-width: 220px">В настоящее время</th>
          </tr>
        </thead>
        <tbody>
          @for (project of projects(); track project.id) {
            <tr class="list-group-item-action selectable" (click)="onSelected(project)"  (contextmenu)="openNewTab($event, project.id)">
              <td class="text-sm">
                <div> {{project.title}} </div>
              </td>
              <td class="text-sm">
                <span class="italic">{{project.code?.code | orElse : 'не указан'}}</span>
              </td>
              <td class="text-sm">
                <div class="italic">
                  <span class="italic">{{project.customer?.org?.name | orElse : 'организация не указана' }}</span>
                </div>
              </td>
              <td class="text-sm">
                <div>
                  <span class="italic">
                    {{project.period?.start | mdate | orElse: 'дд.мм.гггг'}} -
                    {{project.period?.end | mdate | orElse: 'дд.мм.гггг'}}
                  </span>
                </div>
              </td>
              <td class="text-sm">
                <div> {{project.state | projectState}} </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    }

    @if (projects().length == 0) {
      <div class="alert alert-info italic mb-0">Объекты экспертизы не найдены</div>
    }

    <app-pagination [page]="_page" [pagination]="_pagination"
    (onPageChanged)="onPageChanged($event)"></app-pagination>
  </div>
</app-modal>