<div class="form-sub-group">
  <label class="form-group-label">Наименование</label>
  <button class="btn btn-primary float-end mb-1" (click)="getSameProjects()">Найти</button>
  <input type="text" id="title" class="form-control"
    placeholder="название объекта экспертизы" [ngModel]="titleValue()" (ngModelChange)="setTitle($event)">

  </div>

  @if (sameProjectsValue().length == 0) {
    <div
      class="alert alert-info italic mb-0">
      Объектов экспертизы не найдено
    </div>
  }
  @for (item of sameProjectsValue(); track item) {
    <div>
      <app-project-li [item]="item" [baseItemLink]="'/projects/'"></app-project-li>
    </div>
  }
