@if (_history) {
  <div class="card group-history">
    <div class="text-muted history-type">{{_history.type | lifecycleType}}</div>
    <div class="underline dots-overflow">{{_history.name}}</div>
    @if (_history.transitions.length > 0) {
      <table class="">
        @for (transition of _history.transitions; track transition) {
          <tr>
            <td width="20px" class="pr-2"><fa-icon icon="arrow-down"></fa-icon></td>
            <td class="italic py-2 dots-overflow" style="min-width: 150px">
              <div>{{transition.person | fullName}}</div>
              <div>{{transition.role | role}}</div>
              <div>{{transition.date | formatDate}}</div>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="align-top">
              <span class="badge" [ngClass]="LifecycleGroupStateBadge[transition.newState]">
                {{transition.newState | lifecycleGroupState}}
              </span>
            </td>
          </tr>
          @if (showLifecycleHistories(transition)) {
            <tr>
              @for (lifecycleHistory of _history.lifecycleHistories; track lifecycleHistory) {
                <td colspan="2" class="align-top pt-2">
                  <app-lifecycle-transition-history [history]="lifecycleHistory"></app-lifecycle-transition-history>
                </td>
              }
            </tr>
          }
        }
      </table>
    }
    @if (_history.transitions.length == 0) {
      <div class="italic mt-3">Данные отсутствуют</div>
    }
  </div>
}
@if (!_history) {
  <div class="italic">Загружается...</div>
}
