<label class="form-group-label">{{ind + 1}}. {{project | titleAndCode}}</label>

<div class="form-sub-group">
  <app-checkbox [(ngModel)]="customerReplies">
    - ответы на замечания в установленный срок от заказчика экспертизы представлены
  </app-checkbox>
  <app-checkbox [(ngModel)]="singleVoteMode" (onChecked)="toggleVote($event)">
    - единое голосование
  </app-checkbox>
</div>

<div class="form-sub-group">
  <label><b>{{ind + 1}}.1.</b> Льготирование реализации объекта государственной экспертизы</label>
  <label>
    <b>{{ind + 1}}.1.1.</b> Целесообразность государственной регистрации объекта государственной экспертизы в&nbsp;соответствии
    с абзацем вторым пункта&nbsp;2 Положения о порядке государственной регистрации научно-исследовательских,
    опытно-конструкторских и опытно-технологических работ, утвержденного Указом Президента Республики Беларусь
    от&nbsp;25&nbsp;мая 2006&nbsp;г. №&nbsp;356 «О&nbsp;государственной регистрации научно-исследовательских, опытно-конструкторских
    и опытно-технологических работ»:
  </label>
  <app-vote-results [ngModel]="formValue().registration" (ngModelChange)="patchForm({ registration: $event })" [all]="(parent?.formValue?.()?.participants?.length ?? 0)"></app-vote-results>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.1.2.</b> Определение в календарном плане этапов реализации объекта государственной экспертизы,
    подлежащих государственной регистрации в соответствии с абзацем вторым пункта&nbsp;5 Положения
    о&nbsp;порядке государственной регистрации научно-исследовательских, опытно-конструкторских
    и опытно-технологических работ, утвержденного Указом Президента Республики Беларусь от 25&nbsp;мая 2006&nbsp;г. №&nbsp;356:
  </label>
  <div [class.d-none]="isAccepted()" class="italic">
    Голосование не проводилось по причине принятого отрицательного решения в п.{{ind + 1}}.1.1
  </div>
  <div [class.d-none]="!isAccepted()">
    @if (stages.length == 0) {
      <div class="italic mb-1">Не имеются</div>
    }
    @for (stage of stages; track stage; let i = $index) {
      <div class="input-group input-group-sm btn-group mb-2">
        <input [(ngModel)]="stage.name" (ngModelChange)="markFormChanged()" type="text" class="form-control" placeholder="{{i + 1}}) Этап {{i + 1}}.">
        <button (click)="stages.splice(i, 1); markFormChanged()" type="button" class="btn btn-sm btn-outline-danger">&times;</button>
      </div>
    }
    <div class="mb-2">
      <button (click)="stages.push({name: ''}); markFormChanged()" type="button" class="btn btn-primary btn-sm">
        Добавить этап
      </button>
    </div>
    <app-vote-results [ngModel]="formValue().stagesVotes" (ngModelChange)="patchForm({ stagesVotes: $event })" [all]="(parent?.formValue?.()?.participants?.length ?? 0)"></app-vote-results>
  </div>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.2.</b> Создание объектов права промышленной собственности
    при реализации объекта государственной экспертизы:
  </label>
  @if (privacyObjects.length == 0) {
    <div class="italic mb-1">Не предусматривается</div>
  }
  @for (privacyObject of privacyObjects; track privacyObject; let i = $index) {
    <div class="input-group btn-group input-group-sm mb-2">
      <app-select-catalog
        [catalog]="Catalog.INDUSTRIAL_PROPERTY"
        [(ngModel)]="privacyObjects[i]" (ngModelChange)="markFormChanged()" [resetEnabled]="false"
      ></app-select-catalog>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="privacyObjects.splice(i, 1); markFormChanged()">&times;</button>
    </div>
  }
  <div class="mb-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null); markFormChanged()">
      Добавить объект права
    </button>
  </div>
  <app-vote-results [ngModel]="formValue().privacy" (ngModelChange)="patchForm({ privacy: $event })" [all]="(parent?.formValue?.()?.participants?.length ?? 0)"></app-vote-results>
  <app-vote-results #singleVote [(ngModel)]="singleVoteResult"
    [all]="(parent?.formValue?.()?.participants?.length ?? 0)"
    [display]="singleVoteMode"
  ></app-vote-results>
</div>
