<div>
  @if (_project && _form) {
    <div class="form-group">
      <label class="form-group-label">Объект экспертизы: <i>{{_project | titleAndCode}}</i></label>
      @if (!needSelectDirections() && _project.directions.length > 0) {
        <div>
          <label>Приоритетное направление научных исследований Республики Беларусь
          и (или) приоритетное направление научно-технической деятельности</label>
          <ul>
            @for (direction of _project.subDirections; track direction) {
              <li class="italic">
                {{direction.directionName}} ({{direction.direction.name}})
              </li>
            }
          </ul>
        </div>
      }
      @if (!needSelectDirections() && canHasSocialEconomicGoals() && _project.socialEconomicGoals.length > 0) {
        <div>
          <label>Цель (приоритет) социально-экономического развития</label>
          <ul>
            @for (item of _project.socialEconomicGoals; track item) {
              <li class="italic">{{item.name}}</li>
            }
          </ul>
        </div>
      }
    </div>
    <div class="form-group">
      <label>Дата составления заключения</label>
      <app-date-input class="width-100" [(ngModel)]="_form.date"></app-date-input>
    </div>
    <div class="form-group">
      <label>Количество часов, затраченных на подготовку экспертного заключения</label>
      <input title="Количество затраченных часов"
        [(ngModel)]="_form.hours" min="1" numberInput type="text" class="form-control" placeholder="Часы">
        <div class="hint">
          <p>
            <b>Подсказка.</b>
            Эксперт указывает количество часов исходя из времени, фактически затраченного на рассмотрение объекта государственной экспертизы,
            с учетом сложности и объема представленных документов и материалов, но не более 10 часов.
          </p>
        </div>
      </div>
      @if (needSelectDirections()) {
        <app-select-directions-and-goals-block
          [form]="_form"
        [project]="_project"></app-select-directions-and-goals-block>
      }
    }

    <hr/>

    <ng-template #form></ng-template>

    <hr/>

    <div class="mt-2">
      <button type="button" class="btn btn-secondary mr-1" (click)="close()" [disabled]="loading()">Закрыть</button>
      <button type="button" class="btn btn-primary mr-1" (click)="save()" [disabled]="loading()">
        @if (loading()) {
          <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
          Создание...
        } @else {
          Создать
        }
      </button>
      <div class="mt-1 text-sm italic">Черновик формы автоматически сохраняется каждые 30 секунд и при закрытии формы.</div>
      <div class="mt-1 text-sm italic">Будьте внимательны! Если Вы ранее уже создавали этот документ, то он будет перезаписан.</div>
    </div>
  </div>
