<div class="form-group">

    <label class="form-group-label">Анализ и оценка объекта экспертизы</label>

    <app-priority_areas-block-2025
      [_form]="formValue()"
      [num]="'1'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-priority_areas-block-2025>

    <app-significance-block-2025
      [_form]="formValue()"
      [num]="'2'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-significance-block-2025>
    <hr/>
    <app-marketing-research-block-2025
      [_form]="formValue()"
      [project]="project"
      [num]="'3'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-marketing-research-block-2025>
    <hr/>
    <app-effect-block-2025
      [_form]="formValue()"
      [num]="'4'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-effect-block-2025>
    <hr/>
    <app-sufficiency-block-2025
      [_form]="formValue()"
      [num]="'5'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-sufficiency-block-2025>
    <hr/>
    <app-users-block-2025
      [_form]="formValue()"
      [num]="'6'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-users-block-2025>
    <hr/>
    <app-characteristics-block-2025
      [_form]="formValue()"
      [num]="'7'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-characteristics-block-2025>
    <hr/>
    <app-work-accordance-block-2025
      [_form]="formValue()"
      [num]="'8'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-work-accordance-block-2025>
    <hr/>
    <app-requirements-block-2025
      [_form]="formValue()"
      [num]="'9'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-requirements-block-2025>
    <hr/>
    <app-privacy-block-2025
      [_form]="formValue()"
      [_project]="project"
      [num]="'10'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-privacy-block-2025>
</div>

<hr/>

<div class="form-group">

    <label class="form-group-label">Реализация и финансирование объекта государственной экспертизы</label>

    <app-conclusion-8-14-block-2025
      [_form]="formValue()"
      [num]="'11'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-conclusion-8-14-block-2025>
    <hr/>
    <app-stages-exists-block-2025
      [_form]="formValue()"
      [num]="'12'"
      (formPatch)="patchForm($event)"
      (onConditionsChanged)="onConditionsChanged()"
    ></app-stages-exists-block-2025>
</div>

<hr/>
<app-notes-block [_form]="formValue()" (formPatch)="patchForm($event)" (onConditionsChanged)="onConditionsChanged()"></app-notes-block>
