<app-modal #searchModal [title]="'Поиск эксперта'" [modalClasses]="'modal-xl'">
  <!--FILTER-->
  <app-filter [fields]="_searchFields" (onFilterChanged)="onFilterChanged()"></app-filter>
  <div [loadingData]="_loading" class="mt-3">
    @if (experts.length > 0) {
      <table class="table table-responsive mb-0">
        <thead>
          <tr>
            <th class="text-nowrap selectable" style="min-width: 300px" (click)="changeSort()">
              <span>Эксперт </span>
              <fa-icon class="fa-active" [icon]="SortClass[sortDirection]"></fa-icon>
            </th>
            <th class="text-nowrap" style="width: 50%">Сфера деятельности</th>
            <th class="text-nowrap" style="min-width: 220px; width: 50%">Место работы</th>
            <th class="text-nowrap" style="min-width: 220px">В настоящее время</th>
          </tr>
        </thead>
        <tbody>
          @for (expert of experts; track trackByExpert($index, expert)) {
            <tr class="list-group-item-action selectable" (click)="onSelected(expert)">
              <td>
                <div>{{expert|fullName}}</div>
                <div class="text-sm italic text-muted">{{expert.personInfo | academicInfo}}</div>
                <div class="text-sm italic">{{expert.email}}</div>
                <div class="text-sm italic">{{expert.phones | phones}}</div>
              </td>
              <td class="text-sm">
                @if (expert.areas.length > 0) {
                  <div>
                    Области компетенции:&nbsp;<span class="italic">{{expert | areas}}</span>
                  </div>
                }
                @if (expert.personInfo.specializations) {
                  <div>
                    Специализация:&nbsp;
                    @for (spec of expert.personInfo.specializations; track spec) {
                      <div
                        class="italic">{{spec.name}}
                      </div>
                    }
                  </div>
                }
                @if (expert.personInfo.specialities) {
                  <div>
                    Специальность:&nbsp;
                    @for (special of expert.personInfo.specialities; track special) {
                      <div
                        class="italic">{{special.name}}
                      </div>
                    }
                  </div>
                }
              </td>
              <td class="text-sm">
                @if (expert.org?.name) {
                  <div>
                    Организация:&nbsp;<span class="italic">{{expert.org?.name}}</span>
                  </div>
                }
                @if (expert.post) {
                  <div>
                    Должность:&nbsp;<span class="italic">{{expert.post}}</span>
                  </div>
                }
              </td>
              <td class="text-sm">
                <div>
                  Объектов на экспертизе:&nbsp;<span
                class="bold">{{expert.realTimeStats.projectsOnExamination}}</span>
              </div>
              <div>
                Ожидают подтверждения:&nbsp;<span
              class="bold">{{expert.realTimeStats.reviewsOnConfirmation}}</span>
            </div>
            <div>
              Нарушены сроки:&nbsp;<span
            class="bold">{{expert.realTimeStats.reviewsTermsViolation.red}}</span>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
}
@if (experts.length == 0) {
  <div class="alert alert-info italic mb-0">
    Эксперты не найдены
  </div>
}
<app-pagination [page]="_page" [pagination]="_pagination"
(onPageChanged)="onPageChanged($event)"></app-pagination>
</div>
</app-modal>
