<div class="form-group">

  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>

  <app-scientific-level-ex-block [_form]="formValue()"
                                 [num]="'1'"
                                 (formPatch)="patchForm($event)"
                                 (onConditionsChanged)="onConditionsChanged()"></app-scientific-level-ex-block>
  <hr/>
  <app-priority-accordance-block [_form]="formValue()"
                                 [num]="'2'"
                                 (formPatch)="patchForm($event)"
                                 (onConditionsChanged)="onConditionsChanged()"></app-priority-accordance-block>
  <hr/>
  <app-technology-block [_form]="formValue()"
                        [num]="'3'"
                        (formPatch)="patchForm($event)"
                        (onConditionsChanged)="onConditionsChanged()"></app-technology-block>
  <hr/>
  <app-consequences-block [_form]="formValue()"
                          [minLen]="30"
                          [num]="'4'"
                          (formPatch)="patchForm($event)"
                          (onConditionsChanged)="onConditionsChanged()"></app-consequences-block>
</div>

<hr/>
<app-conclusion-8-9-block [_form]="formValue()"
                          (formPatch)="patchForm($event)"
                          (onConditionsChanged)="onConditionsChanged()"></app-conclusion-8-9-block>

<hr/>
<app-notes-block [_form]="formValue()" (formPatch)="patchForm($event)" (onConditionsChanged)="onConditionsChanged()"></app-notes-block>
