<div class="form-group">

  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>

  <app-scientific-level-ex-block [_form]="_form"
                                 [num]="'1'"></app-scientific-level-ex-block>
  <hr/>
  <app-priority-accordance-block [_form]="_form"
                                 [num]="'2'"></app-priority-accordance-block>
  <hr/>
  <app-technology-block [_form]="_form"
                        [num]="'3'"
                        (onConditionsChanged)="onConditionsChanged()"></app-technology-block>
  <hr/>
  <app-consequences-block [_form]="_form"
                          [minLen]="30"
                          [num]="'4'"></app-consequences-block>
</div>

<hr/>
<app-conclusion-8-9-block [_form]="_form"
                          (onConditionsChanged)="onConditionsChanged()"></app-conclusion-8-9-block>

<hr/>
<app-notes-block [_form]="_form" (onConditionsChanged)="onConditionsChanged()"></app-notes-block>
