<hr/>

<app-agenda-header-block [_form]="formValue()" [ind]="ind" [project]="_project" [expanded]="expanded()" (toggle)="toggleExpanded()"></app-agenda-header-block>

<div class="collapse" [collapse]="!expanded()" [attr.id]="'meeting-project-' + _project?.id">
  <hr/>

  <app-customer-replies-block
    [_form]="formValue()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-customer-replies-block>

  <hr/>

  <app-scientific-level-conclusion-block
    [_form]="formValue()"
    [num]="'1'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-scientific-level-conclusion-block>

  <hr/>

  <app-priority-accordance-conclusion-block
    [_form]="formValue()"
    [num]="'2'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-priority-accordance-conclusion-block>

  <hr/>

  <app-technology-block
    [_form]="formValue()"
    [num]="'3'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-technology-block>

  <hr/>

  <app-consequences-conclusion-block
    [_form]="formValue()"
    [num]="'4'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-consequences-conclusion-block>

  <hr/>

  <label class="mb-0">
    5. Реализация и финансирование объекта государственной экспертизы
  </label>

  <hr/>

  <app-name-accordance-block
    [_form]="formValue()"
    [num]="'5.1'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-name-accordance-block>

  <hr/>

  <app-terms-accordance-block
    [form]="formValue()"
    [num]="'5.2'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-terms-accordance-block>

  <hr/>

  <app-finance-accordance-block
    [_form]="formValue()"
    [num]="'5.3'"
    [project]="_project"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-finance-accordance-block>

  <hr/>

  <app-finance-conclusion-block
    [_form]="formValue()"
    [num]="'5.4'"
    [project]="project"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-finance-conclusion-block>

  <hr/>

  <app-section-conclusion-block
    [_form]="formValue()"
    [num]="'6'"
    [financeConclusionNum]="financeConclusionNum"
    [project]="project"
    [allParticipants]="getAllParticipants()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-section-conclusion-block>
</div>
