.dropdown {
  .reset-available {
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .reset {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
