<div class="list-group-item">

  <!--SHOW-->
  @if (!isEdit && value) {
    <div>
      <a class="btn btn-icon btn-right" (click)="edit()">
        <fa-icon icon="cog" size="lg"></fa-icon>
      </a>
      <div class="form-sub-group">
        Пароль по умолчанию: <i>{{value.defaultPassword}}</i>
      </div>
      <div class="form-sub-group">
        Регулярное выражение для валидации пароля: <i>{{value.validatePattern}}</i>
      </div>
      <div class="form-sub-group">
        Регулярное выражение для генерации пароля: <i>{{value.generatePattern}}</i>
      </div>
      <div class="form-sub-group">
        Срок действия пароля: <i><b>{{value.validTermInDays}}</b>&nbsp;(суток)</i>
      </div>
    </div>
  }

  <!--EDIT-->
  @if (isEdit) {
    <div>
      <div class="form-group">
        <label>Пароль по умолчанию</label>
        <input type="text" [(ngModel)]="editedValue.defaultPassword"
          placeholder="123pass321" class="form-control" title="Пароль по умолчанию">
        </div>
        <div class="form-group">
          <label>Регулярное выражение для валидации пароля</label>
          <input type="text" [(ngModel)]="editedValue.validatePattern"
            placeholder="[a-z0-9]" class="form-control" title="Регулярное выражение для валидации пароля">
          </div>
          <div class="form-group">
            <label>Регулярное выражение для генерации пароля</label>
            <input type="text" [(ngModel)]="editedValue.generatePattern"
              placeholder="[a-z0-9]" class="form-control" title="Регулярное выражение для генерации пароля">
            </div>
            <div class="form-group">
              <label>Срок действия пароля, суток</label>
              <input numberInput type="text" [(ngModel)]="editedValue.validTermInDays"
                placeholder="Количество суток" class="form-control" title="Срок действия пароля, суток">
              </div>
              <div class="mt-1">
                <button class="btn btn-secondary" (click)="isEdit = false">Отмена</button>
                <button class="btn btn-primary" (click)="savePropertyValue()">Сохранить</button>
              </div>
            </div>
          }
        </div>
