<!--HEADER-->
<div class="mb-2">
  <div class="d-inline-block text-muted">Экспертные оценки:</div>
  @if (canChooseExperts()) {
    <button class="btn btn-sm btn-primary btn-right"
      (click)="searchExpertComponent.show()">
      Добавить эксперта
    </button>
  }
</div>

<!--BODY-->
@if (expertReviews().length == 0) {
  <div>
    <div class="list-group-item text-muted text-sm italic">
      Экспертные оценки отсутствуют
    </div>
  </div>
}
@for (expertReview of expertReviews(); track expertReview) {
  <div class="review">
    <app-expert-review [role]="role()" [project]="project()" [review]="expertReview"></app-expert-review>
  </div>
}

<!--SEARCH EXPERT MODAL-->
@if (canChooseExperts()) {
  <app-search-expert (selected)="onSelectedExpert($event)"></app-search-expert>
}
