<div class="form-group">
  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
  <div class="form-sub-group">
    <label>
      1. Создание товара с использованием способных к правовой охране результатов интеллектуальной деятельности
      (изобретений, полезных моделей, промышленных образцов, топологий интегральных микросхем, сортов растений,
      на которые в установленном порядке получены патенты (свидетельства)
      либо приняты решения патентного органа об их выдаче) согласно критерию,
      указанному в абзаце 2 пункта 2 Положения о порядке формирования перечня инновационных товаров,
      утвержденного постановлением Совета Министров Республики Беларусь от 31 октября 2012 г. № 995:
    </label>
    <textarea [ngModel]="formValue().privacy" (ngModelChange)="patchForm({ privacy: $event })"
      name="privacy"
      required
      rows="3" class="form-control"
      placeholder="анализ и оценка соответствия объекта экспертизы критерию">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      2. Обладание товаром более высокими технико-экономическими показателями
      по сравнению с другими товарами, представленными на определенном сегменте рынка, согласно критерию,
      указанному в абзаце 3 пункта 2 Положения о порядке формирования перечня инновационных товаров,
      утвержденного постановлением Совета Министров Республики Беларусь от 31 октября 2012 г. № 995:
    </label>
    <textarea [ngModel]="formValue().advantage" (ngModelChange)="patchForm({ advantage: $event })"
      name="advantage"
      required
      rows="3" class="form-control"
      placeholder="анализ и оценка соответствия объекта экспертизы критерию">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      3. Конкурентоспособность товара согласно критерию, указанному в абзаце 3 пункта 2
      Положения о порядке формирования перечня инновационных товаров,
      утвержденного постановлением Совета Министров Республики Беларусь от 31 октября 2012 г. № 995:
    </label>
    <textarea [ngModel]="formValue().competitiveness" (ngModelChange)="patchForm({ competitiveness: $event })"
      name="competitiveness"
      required
      rows="3" class="form-control"
      placeholder="анализ и оценка соответствия объекта экспертизы критерию">
    </textarea>
  </div>
</div>

<div class="form-group">
  <label class="form-group-label">Выводы и предложения эксперта</label>
  <div class="form-sub-group">
    <label>
      1. Отнесение товара (работы, услуги) к категории инновационных товаров:
    </label>
    <app-boolean-button [ngModel]="formValue().innovativeness" (ngModelChange)="patchForm({ innovativeness: $event })" [falseLabel]="'не относится'"
    [trueLabel]="'относится'"></app-boolean-button>
  </div>

  <div class="form-sub-group">
    <label>
      2. Замечания по материалам объекта экспертизы, конкретные предложения о необходимости доработки и (или)
      корректировки материалов по объекту экспертизы:
    </label>
    @if (notes().length == 0) {
      <div class="mb-2 italic">не имеются</div>
    }
    @for (note of notes(); track $index; let i = $index) {
      <div class="input-group btn-group mb-2">
        <textarea [(ngModel)]="note.name" (ngModelChange)="markFormChanged()" rows="2" class="form-control"
        placeholder="{{i + 1}}) Замечание {{i + 1}}."></textarea>
        <button type="button" class="btn btn-outline-danger" (click)="removeNote(i)">&times;</button>
      </div>
    }
    <button type="button" class="btn btn-primary btn-sm" (click)="addNote()">
      Добавить замечание
    </button>
  </div>
</div>
