<div class="form-group">
  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
  <div class="form-sub-group">
    <label>
      1. Создание товара с использованием способных к правовой охране результатов интеллектуальной деятельности
      (изобретений, полезных моделей, промышленных образцов, топологий интегральных микросхем, сортов растений,
      на которые в установленном порядке получены патенты (свидетельства)
      либо приняты решения патентного органа об их выдаче) согласно критерию,
      указанному в абзаце 2 пункта 2 Положения о порядке формирования перечня инновационных товаров,
      утвержденного постановлением Совета Министров Республики Беларусь от 31 октября 2012 г. № 995:
    </label>
    <textarea [(ngModel)]="_form.privacy" rows="3" class="form-control"
              placeholder="анализ и оценка соответствия объекта экспертизы критерию">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      2. Обладание товаром более высокими технико-экономическими показателями
      по сравнению с другими товарами, представленными на определенном сегменте рынка, согласно критерию,
      указанному в абзаце 3 пункта 2 Положения о порядке формирования перечня инновационных товаров,
      утвержденного постановлением Совета Министров Республики Беларусь от 31 октября 2012 г. № 995:
    </label>
    <textarea [(ngModel)]="_form.advantage" rows="3" class="form-control"
              placeholder="анализ и оценка соответствия объекта экспертизы критерию">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      3. Конкурентоспособность товара согласно критерию, указанному в абзаце 3 пункта 2
      Положения о порядке формирования перечня инновационных товаров,
      утвержденного постановлением Совета Министров Республики Беларусь от 31 октября 2012 г. № 995:
    </label>
    <textarea [(ngModel)]="_form.competitiveness" rows="3" class="form-control"
              placeholder="анализ и оценка соответствия объекта экспертизы критерию">
    </textarea>
  </div>
</div>

<div class="form-group">
  <label class="form-group-label">Выводы и предложения эксперта</label>
  <div class="form-sub-group">
    <label>
      1. Отнесение товара (работы, услуги) к категории инновационных товаров:
    </label>
    <app-boolean-button [(ngModel)]="_form.innovativeness" [falseLabel]="'не относится'"
                        [trueLabel]="'относится'"></app-boolean-button>
  </div>

  <div class="form-sub-group">
    <label>
      2. Замечания по материалам объекта экспертизы, конкретные предложения о необходимости доработки и (или)
      корректировки материалов по объекту экспертизы:
    </label>
    <div *ngIf="notes.length == 0" class="mb-2 italic">не имеются</div>
    <div *ngFor="let note of notes; let i = index" class="input-group btn-group mb-2">
        <textarea [(ngModel)]="note.name" rows="2" class="form-control"
                  placeholder="{{i + 1}}) Замечание {{i + 1}}."></textarea>
      <button type="button" class="btn btn-outline-danger" (click)="notes.splice(i, 1)">&times;</button>
    </div>
    <button type="button" class="btn btn-primary btn-sm" (click)="notes.push({name: ''})">
      Добавить замечание
    </button>
  </div>
</div>
