<hr/>

<label class="form-group-label">Анализ и оценка объекта экспертизы</label>

<app-work-significance-block
  [_form]="_form"
  [num]="'1'"
  (onConditionsChanged)="onConditionsChanged()"
></app-work-significance-block>

<hr/>

<app-marketing-research-block
  [_form]="_form"
  [num]="'2'"
  (onConditionsChanged)="onConditionsChanged()"
></app-marketing-research-block>

<hr/>

<app-effect-conclusion-block
  [_form]="_form"
  [num]="'3'"
  (onConditionsChanged)="onConditionsChanged()"
></app-effect-conclusion-block>

<hr/>

<app-sufficiency-block
  [_form]="_form"
  [num]="'4'"
  (onConditionsChanged)="onConditionsChanged()"
></app-sufficiency-block>

<hr/>

<app-work-accordance-block
  [_form]="_form"
  [num]="'5'"
  (onConditionsChanged)="onConditionsChanged()"
></app-work-accordance-block>

<hr/>

<app-privacy-block
  [_form]="_form"
  [num]="'6'"
  (onConditionsChanged)="onConditionsChanged()"
></app-privacy-block>

<hr/>

<app-assessment-conclusion-block
  [_form]="_form"
  [num]="'7'"
  (onConditionsChanged)="onConditionsChanged()"
></app-assessment-conclusion-block>

<hr/>

<app-terms-accordance-block
  [form]="_form"
  [num]="'8'"
  (onConditionsChanged)="onConditionsChanged()"
></app-terms-accordance-block>

<hr/>

<app-finance-conclusion-block
  [_form]="_form"
  [project]="project"
  [num]="'9'"
  (onConditionsChanged)="onConditionsChanged()"
></app-finance-conclusion-block>

<hr/>

<label class="mb-0">
  10. Льготирование реализации объекта государственной экспертизы
</label>

<hr/>

<app-stages-exists-block
  [_form]="_form"
  [num]="'10.1'"
  [askStages]="false"
  (onConditionsChanged)="onConditionsChanged()"
></app-stages-exists-block>

<hr/>

<app-stages-block
  [_form]="_form"
  [num]="'10.2'"
  (onConditionsChanged)="onConditionsChanged()"
></app-stages-block>

<hr/>

<app-conclusion-council-block
  [form]="_form"
  [financeConclusionNum]="financeConclusionNum"
  [project]="project"
  [group]="group"
></app-conclusion-council-block>
