<hr/>

<label class="form-group-label">Анализ и оценка объекта экспертизы</label>

<app-select-directions-and-goals-block
  [form]="_form"
  [num]="'1'"
  [project]="project"
  (onConditionsChanged)="onConditionsChanged()"
></app-select-directions-and-goals-block>

<hr/>

<app-program-requirements-block
  [_form]="_form"
  [num]="'2'"
  (onConditionsChanged)="onConditionsChanged()"
></app-program-requirements-block>

<hr/>

<app-prognosis-block
  [_form]="_form"
  [num]="'3'"
  (onConditionsChanged)="onConditionsChanged()"
></app-prognosis-block>

<hr/>

<app-target-analysis-block
  [_form]="_form"
  [num]="'4'"
  (onConditionsChanged)="onConditionsChanged()"
></app-target-analysis-block>

<hr/>

<app-program-sufficiency-block
  [_form]="_form"
  [num]="'5'"
  (onConditionsChanged)="onConditionsChanged()"
></app-program-sufficiency-block>

<hr/>

<app-finance-conclusion-block
  [_form]="_form"
  [num]="'6'"
  [project]="project"
  (onConditionsChanged)="onConditionsChanged()"
></app-finance-conclusion-block>

<hr/>

<app-conclusion-council-block
  [form]="_form"
  [financeConclusionNum]="financeConclusionNum"
  [project]="project"
  [group]="group"
></app-conclusion-council-block>
