.disabled {
  pointer-events: none;
}

label:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem; /* ДОБАВЛЕНО: отступ между кнопками */
}

label:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

