.disabled {
  pointer-events: none;
}

label:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

label:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

