<hr/>

<app-agenda-header-block [_form]="formValue()" [ind]="ind" [project]="_project" [expanded]="expanded()" (toggle)="toggleExpanded()"></app-agenda-header-block>

<div class="collapse" [collapse]="!expanded()" [attr.id]="'meeting-project-' + _project?.id">
  <hr/>

  <app-customer-replies-block
    [_form]="formValue()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-customer-replies-block>

  <hr/>

  <app-novelty-block
    [_form]="formValue()"
    [num]="'1'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-novelty-block>

  <hr/>

  <app-select-directions-and-goals-block
    [form]="formValue()"
    [num]="'2'"
    [project]="_project"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-select-directions-and-goals-block>

  <hr/>

  <app-rb-needs-block
    [_form]="formValue()"
    [num]="'3'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-rb-needs-block>

  <hr/>

  <app-economic-significance-block
    [_form]="formValue()"
    [num]="'4'"
    [project]="_project"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-economic-significance-block>

  <hr/>

  <app-resources-sufficiency-block
    [_form]="formValue()"
    [num]="'5'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-resources-sufficiency-block>

  <hr/>

  <app-competence-sufficiency-block
    [_form]="formValue()"
    [num]="'6'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-competence-sufficiency-block>

  <hr/>

  <app-marketing-research-block
    [_form]="formValue()"
    [num]="'7'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-marketing-research-block>

  <hr/>

  <app-risks-block
    [_form]="formValue()"
    [num]="'8'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-risks-block>

  <hr/>

  <app-privacy-block
    [_form]="formValue()"
    [num]="'9'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-privacy-block>

  <hr/>

  <label class="mb-0">
    10. Льготирование реализации объекта государственной экспертизы
  </label>

  <hr/>

  <app-stages-exists-block
    [_form]="formValue()"
    [num]="'10.1'"
    [askStages]="false"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-stages-exists-block>

  <hr/>

  <app-stages-block
    [_form]="formValue()"
    [num]="'10.2'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-stages-block>

  <hr/>

  <label class="mb-0">
    11. Реализация и финансирование объекта государственной экспертизы
  </label>

  <hr/>

  <app-name-accordance-block
    [_form]="formValue()"
    [num]="'11.1'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-name-accordance-block>

  <hr/>

  <app-terms-accordance-block
    [form]="formValue()"
    [num]="'11.2'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-terms-accordance-block>

  <hr/>

  <app-finance-accordance-block
    [_form]="formValue()"
    [num]="'11.3'"
    [project]="_project"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-finance-accordance-block>

  <hr/>

  <app-finance-conclusion-block
    [_form]="formValue()"
    [num]="'11.4'"
    [noveltyNum]="'1'"
    [project]="project"
    [economicSignificanceNum]="'4'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
    [disabled]="isFinanceConclusionDisabled()"
  ></app-finance-conclusion-block>

  <hr/>

  <app-section-conclusion-block
    [_form]="formValue()"
    [num]="'12'"
    [financeConclusionNum]="financeConclusionNum"
    [project]="project"
    [allParticipants]="getAllParticipants()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-section-conclusion-block>
</div>
