<div>
  <div class="form-group row">
    <div class="img-holder media col-4" style="text-align: center">
      <img class="media-object" [src]='photo' alt="Фото пользователя">
      <div class="hover-btn" *ngIf="_user.id != 0" style="width: 200px">
        <app-silent-file-uploader
            [controlClass]="'btn py-0'"
            [typesAccept]="'image/jpeg,image/png,image/jpg'"
            [url]="SERVER_URL+'/persons/'+_user.id+'/photo'"
            (saved)="getPhoto(_user)">
        </app-silent-file-uploader>
      </div>
    </div>
    <div class="form-sub-group col-8">
      <label class="form-group-label mb-0">Полное имя</label>
      <div class="input-group separated">
        <input type="text" id="lastname" class="form-control" [(ngModel)]="_user.personName.lastName"
               placeholder="Фамилия" minlength="2" maxlength="50" required>
        <input type="text" id="firstname" class="form-control" [(ngModel)]="_user.personName.firstName"
               placeholder="Имя" minlength="2" maxlength="50" required>
        <input type="text" id="middlename" class="form-control" [(ngModel)]="_user.personName.middleName"
               placeholder="Отчество" minlength="2" maxlength="50" required>
      </div>
      <label class="form-group-label mb-0 mt-05">Полное имя в дательном падеже</label>
      <div class="input-group separated">
        <input type="text" id="lastnameInDative" class="form-control"
               [(ngModel)]="_user.personInfo.nameInDative.lastName"
               placeholder="Фамилия" minlength="2" maxlength="50" required>
        <input type="text" id="firstnameInDative" class="form-control"
               [(ngModel)]="_user.personInfo.nameInDative.firstName"
               placeholder="Имя" minlength="2" maxlength="50" required>
        <input type="text" id="middlenameInDative" class="form-control"
               [(ngModel)]="_user.personInfo.nameInDative.middleName"
               placeholder="Отчество" minlength="2" maxlength="50" required>
      </div>
      <label class="form-group-label mb-0 mt-05">Полное имя в родительном падеже</label>
      <div class="input-group separated">
        <input type="text" id="lastnameInGenitive" class="form-control"
               [(ngModel)]="_user.personInfo.nameInGenitive.lastName"
               placeholder="Фамилия" minlength="2" maxlength="50" required>
        <input type="text" id="firstnameInGenitive" class="form-control"
               [(ngModel)]="_user.personInfo.nameInGenitive.firstName"
               placeholder="Имя" minlength="2" maxlength="50" required>
        <input type="text" id="middlenameInGenitive" class="form-control"
               [(ngModel)]="_user.personInfo.nameInGenitive.middleName"
               placeholder="Отчество" minlength="2" maxlength="50" required>
      </div>
    </div>
  </div>
  <div class="form-group"  *ngIf="isSingDate() != 0">
    <label class="form-group-label mb-0">Дата последного входа:</label>
    <span class="form-group-label mb-0">{{getSingDate() | date:'dd.MM.yyyy'}}</span>
  </div>
  <div *ngIf="!current" class="form-group">
    <label class="form-group-label mb-0">Полномочия</label>
    <div *ngFor="let r of _user.roles">
      <label *ngIf="AutoActivatedRole[r]">
        {{r | role}}
        <ul class="mb-0">
          <li *ngFor="let s of getInfoForRole(r)">{{s}}</li>
        </ul>
      </label>
    </div>
    <div *ngIf="!hasRights()" class="italic mb-05">Отсутствуют</div>
    <label class="form-group-label mb-0">Роли</label>
    <ng-container *ngFor="let role of _user.roles;  let i = index">
      <div *ngIf="!AutoActivatedRole[role]" class="input-group">
        <div class="btn-group dropdown">
          <button type="button"
                  class="btn btn-outline-primary dropdown-toggle border-right-radius-0"
                  data-toggle="dropdown">
            {{(role ? role : "Выберите роль") | role}}
          </button>
          <ul class="dropdown-menu scrollable-menu">
            <li *ngFor="let roleV of allRoles" class="dropdown-item" (click)="addRole(roleV, i)">
              {{roleV | role}}
            </li>
          </ul>
          <button type="button" class="btn btn-outline-danger"
                  (click)="_user.roles.splice(i, 1)">&times;
          </button>
        </div>
      </div>
    </ng-container>
    <div *ngIf="!hasRoles()" class="italic">Отсутствуют</div>
    <div>
      <button type="button" class="btn btn-primary btn-sm"
              (click)="_user.roles.push(allRoles[0])" style="margin-top: 0.5rem;">
        Добавить роль
      </button>
    </div>
  </div>

  <div *ngIf="current" class="form-group">
    <label class="form-group-label">Роли</label>
    <div *ngFor="let role of _user.roles">
      <label>
        {{role | role}}
      </label>
    </div>
  </div>
  <div *ngIf="isExpert()" class="form-group">
    <label class="form-group-label">Субъект, проводящий экспертизу</label>
    <app-boolean-button [(ngModel)]="_user.isExpertOrg" [trueLabel]="'Юридическое лицо'"
                        [falseLabel]="'Физическое лицо'"></app-boolean-button>
  </div>
  <div class="form-group">
    <div class="form-sub-group">
      <label class="form-group-label">Предоставление доступа к системе</label>
      <div>
        <app-login-create [(ngModel)]="_user.user"></app-login-create>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="form-group-label">Контактные данные</label>
    <div class="form-sub-group">
      <label for="email">Электронная почта</label>
      <input type="text" id="email" class="form-control"
             placeholder="xxx@gmail.com, yyy@yandex.ru" [(ngModel)]="_user.email">
    </div>
    <div class="form-sub-group">
      <label>Телефоны</label>
      <div *ngFor="let phone of _user.phones; let i = index" class="input-group btn-group">
        <input type="text" class="form-control" [(ngModel)]="phone.phone"
               title="Телефон" placeholder="Телефон">
        <button type="button" class="btn btn-primary dropdown-toggle border-radius-0"
                data-toggle="dropdown">
          {{(phone.type ? phone.type : "Выберите тип") | phoneType}}
        </button>
        <ul class="dropdown-menu scrollable-menu">
          <li *ngFor="let type of allPhoneTypes" class="dropdown-item selectable" (click)="phone.type = type">
            {{type | phoneType}}
          </li>
        </ul>
        <button type="button" class="btn btn-outline-danger" (click)="_user.phones.splice(i, 1)">
          &times;
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-primary btn-sm"
                (click)="addPhone()" style="margin-top: 0.5rem;">
          Добавить телефон
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="form-group-label">Место работы</label>
    <div class="form-sub-group">
      <label for="post">Должность</label>
      <input type="text" id="post" class="form-control" placeholder="должность" [(ngModel)]="_user.post">
    </div>
    <div class="form-sub-group user-org-dropdown">
      <label>Наименование организации</label>
      <angular2-multiselect
          [data]="allOrgs"
          [ngModel]="_userSelectedOrg"
          [settings]="{
                              singleSelection: true,
                              enableSearchFilter: true,
                              enableFilterSelectAll: false,
                              text: 'Организация не выбрана',
                              searchPlaceholderText: 'Поиск...'
                            }"
          (onSelect)="selectOrg($event)">
      </angular2-multiselect>
    </div>

    <div *ngIf="Role.EXPERT === role" class="form-group">
      <label class="form-group-label">Данные эксперта</label>
      <div class="form-sub-group" *ngIf="_user.personInfo.fullDegrees.length>0">
        <div *ngFor="let fd of _user.personInfo.fullDegrees" class="input-group btn-group">
          <ul>
            <label for id="degree">Учёная степень</label>
             <li>{{fd.degreeType | degreeType}} {{fd.scienceArea.nameInGen}}</li>
             <li>{{fd.issuedBy}}</li>
             <li>{{fd.degreeNumber}}</li>
          </ul>
        </div>
      </div>
    </div>


<!--  isExpert()-->
  <div *ifRole="Role.ADMIN" class="form-group">
    <label class="form-group-label">Данные эксперта</label>
    <div class="form-sub-group">
      <label for="degree">Учёная степень</label>
      <div *ngFor="let fd of _user.personInfo.fullDegrees; let i = index" class="degree-entry">
        <div class="input-group mb-2">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
              {{fd.degreeType | orElse: "Выберите тип" | degreeType}}
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let type of allDegreeTypes" class="dropdown-item selectable"
                  (click)="fd.degreeType = type">
                {{type | degreeType}}
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-outline-danger" (click)="_user.personInfo.fullDegrees.splice(i, 1)">
            &times;
          </button>
        </div>
        <div *ngIf="hasDegree(fd.degreeType)" class="mb-2">
          <app-select-catalog
                  [catalog]="Catalog.SCIENCE_AREA" [notSelected]="'Ничего не выбрано'"
                  [(ngModel)]="fd.scienceArea" [resetEnabled]="false" [optionToString]="scienceAreaToString">
          </app-select-catalog>
        </div>
        <div>
          <div>
            <textarea type="text" [(ngModel)]="fd.issuedBy" rows="6"  placeholder="Основание присуждения ученой степени" class="form-control">
            </textarea>
          </div>
        </div>
        <div>
          <input type="text" [(ngModel)]="fd.degreeNumber" placeholder="Номер диплома (ученая степень) " class="form-control"/>
          <br/>
        </div>
      </div>
      <br/>
      <button type="button" class="btn btn-primary btn-sm" (click)="addDegree()" style="margin-top: 0.5rem;">
        Добавить ученую степень
      </button>
    </div>

    <div class="form-sub-group">
      <label for id="academicTitle">Учёное звание</label>
      <div class="input-group btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown">
          {{_user.personInfo.academicTitleType | orElse: "Выберите тип" | academicTitleType}}
        </button>
        <ul class="dropdown-menu scrollable-menu">
          <li *ngFor="let type of allAcademicTitleTypes" class="dropdown-item selectable"
              (click)="_user.personInfo.academicTitleType = type">
            {{type | academicTitleType}}
          </li>
        </ul>
      </div>
    </div>

    <div class="form-sub-group">
      <label>Специальности</label>
      <div *ngFor="let speciality of _user.personInfo.specialities; let i = index" class="dropdown btn-group">
        <button class="btn btn-outline-primary dropdown-toggle border-right-radius-0"
                title="Специальность" data-toggle="dropdown">
          {{speciality.name}}
        </button>
        <ul class="dropdown-menu scrollable-menu">
          <li *ngFor="let specialityV of allSpecialities" class="dropdown-item"
              (click)="_user.personInfo.specialities[i] = specialityV">
            {{specialityV.name}}
          </li>
        </ul>
        <button type="button" class="btn btn-outline-danger" (click)="_user.personInfo.specialities.splice(i, 1)">
          &times;
        </button>
      </div>
      <div>
        <button *ngIf="allSpecialities.length" type="button" class="btn btn-primary btn-sm"
                (click)="_user.personInfo.specialities.push(allSpecialities[0])"
                style="margin-top: 0.5rem;">
          Добавить специальность
        </button>
      </div>
    </div>

    <div class="form-sub-group">
      <label>Специализации</label>
      <div *ngFor="let specialization of _user.personInfo.specializations; let i = index" class="dropdown btn-group">
        <button class="btn btn-outline-primary dropdown-toggle border-right-radius-0"
                title="Специализация" data-toggle="dropdown">
          {{specialization.name}}
        </button>
        <ul class="dropdown-menu scrollable-menu">
          <li *ngFor="let specializationV of allSpecializations" class="dropdown-item"
              (click)="_user.personInfo.specializations[i] = specializationV">
            {{specializationV.name}}
          </li>
        </ul>
        <button type="button" class="btn btn-outline-danger" (click)="_user.personInfo.specializations.splice(i, 1)">
          &times;
        </button>
      </div>
      <div>
        <button *ngIf="allSpecializations.length" type="button" class="btn btn-primary btn-sm"
                (click)="_user.personInfo.specializations.push(allSpecializations[0])"
                style="margin-top: 0.5rem;">
          Добавить специализацию
        </button>
      </div>
    </div>

    <div class="form-sub-group">
      <label>Области компетенции</label>
      <div *ngFor="let area of _user.areas; let i = index" class="dropdown btn-group">
        <button class="btn btn-outline-primary dropdown-toggle border-right-radius-0"
                title="Область компетенции" data-toggle="dropdown">
          {{area.name}}
        </button>
        <ul class="dropdown-menu scrollable-menu">
          <li *ngFor="let areaV of allAreasOfCompetence" class="dropdown-item"
              (click)="_user.areas[i] = areaV">
            {{areaV.name}}
          </li>
        </ul>
        <button type="button" class="btn btn-outline-danger" (click)="_user.areas.splice(i, 1)">
          &times;
        </button>
      </div>
      <div>
        <button *ngIf="allAreasOfCompetence.length" type="button" class="btn btn-primary btn-sm" (click)="_user.areas.push(allAreasOfCompetence[0])"
                style="margin-top: 0.5rem;">
          Добавить область компетенции
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isExpert() && !_user.isExpertOrg" class="form-group">
    <label class="form-group-label">Личные данные</label>
    <div class="form-sub-group">
      <label>Дата рождения</label>
      <app-date-input class="width-100" [(ngModel)]="_user.personInfo.birthDate"
                      [title]="'Дата рождения'"></app-date-input>
    </div>
    <div class="form-sub-group">
      <label for="address">Адрес регистрации</label>
      <input type="text" class="form-control" [(ngModel)]="_user.personInfo.address"
             id="address" placeholder="адрес регистрации">
    </div>
    <app-disability [(ngModel)]="_user.personInfo.disability"></app-disability>
  </div>

  <div *ngIf="isExpert() && !_user.isExpertOrg" class="form-group">
    <app-passport [(ngModel)]="_user.personInfo.passport"></app-passport>
  </div>

  <div *ngIf="isExpert()" class="form-group">
    <app-bank-account [(ngModel)]="_user.personInfo.bankAccount"></app-bank-account>
  </div>

  <div class="mt-2">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Отмена</button>
    <button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
    <ng-container *ifRole="Role.ADMIN">
      <button type="button" class="btn btn-warning" (click)="resetPassword()"
              [disabled]="_user.id == null">
        Сбросить пароль
      </button>
      <button *ngIf="!current && _user.user && _user.user?.id != 0" type="button" class="btn"
              [class.btn-danger]="!_user.user.blocked"
              [class.btn-success]="_user.user.blocked" (click)="toggleBlock()">
        {{_user.user.blocked?'Разблокировать':'Заблокировать'}}
      </button>
    </ng-container>
  </div>
</div>
