@if (_history) {
  <div class="card project-history">
    <div class="text-muted text-sm history-type">{{_history.type | lifecycleType}}</div>
    <div class="underline dots-overflow">{{_history.name}}</div>
    @if (_history.transitions.length > 0) {
      <table class="">
        @for (transition of _history.transitions; track ((transition?.date ?? 0) + '|' + (transition?.newState ?? '') + '|' + (transition?.role ?? '') + '|' + (transition?.person?.id ?? '') + '|' + $index)) {
          <tr>
            <td width="20px" class="pe-2"><fa-icon icon="arrow-down"></fa-icon></td>
            <td class="italic py-2 dots-overflow" style="min-width: 150px">
              <div>{{transition.person | fullName}}</div>
              <div>{{transition.role | role}}</div>
              <div>{{transition.date | formatDate}}</div>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="align-top">
              <span class="badge" [ngClass]="ProjectStateBadge[transition.newState]">
                {{transition.newState | projectState}}
              </span>
            </td>
          </tr>
          @if (showExpertHistories(transition)) {
            <tr>
              <td colspan="2">
                <table>
                  <tr>
                    @for (expertHistory of _history.expertHistories; track (expertHistory?.entityId ?? expertHistory?.name ?? $index)) {
                      <td class="align-top pt-2">
                        <app-expert-transition-history [history]="expertHistory"></app-expert-transition-history>
                      </td>
                    }
                  </tr>
                </table>
              </td>
            </tr>
          }
          @if (showGroupHistories(transition)) {
            <tr>
              <td colspan="2">
                <table>
                  <tr>
                    @for (groupHistory of _history.groupHistories; track (groupHistory?.entityId ?? groupHistory?.name ?? $index)) {
                      <td class="align-top pt-2">
                        <app-group-transition-history [history]="groupHistory"></app-group-transition-history>
                      </td>
                    }
                  </tr>
                </table>
              </td>
            </tr>
          }
        }
      </table>
    }
    @if (_history.transitions.length == 0) {
      <div class="italic mt-3">Данные отсутствуют</div>
    }
  </div>
}
@if (!_history) {
  <div class="italic">Загружается...</div>
}
