<div *ngFor="let remark of remarks; index as i">
  <div class="list-group-item list-group-item-action selectable" style="white-space: pre-wrap">
    <div class="mb-05" [ngClass]="{'text-sm':!isEdit}">{{i + 1}}. {{remark.question}}</div>
    <div class="form-group" *ngIf="isEdit">
      <textarea [(ngModel)]="remark.answer" class="form-control"
                placeholder="ответ на замечание"></textarea>
    </div>
    <div class="form-group mt-05 text-sm" *ngIf="!isEdit">
      <div>{{remark.answer}}</div>
    </div>
  </div>
</div>
<div *ngIf="isExpired" class="alert alert-warning">
  Сроки ответа на замечания истекли.
  Ожидаются действия ГЭС по возврату объекта экспертизы.
</div>

<div class="mt-2 btn-right" *ngIf="isEdit">
  <button class="btn btn-primary ml-05" (click)="save()">Сохранить</button>
  <button class="btn btn-primary ml-05" (click)="reply()">Ответить</button>
</div>
