<div *ngIf="_history" class="card expert-history">
  <div class="text-muted history-type">{{_history.type | lifecycleType}}</div>
  <div class="underline dots-overflow">{{_history.name}}</div>
  <table *ngIf="_history.transitions.length > 0" class="">
    <ng-container *ngFor="let transition of _history.transitions">
      <tr>
        <td width="20px" class="pr-2"><fa-icon icon="arrow-down"></fa-icon></td>
        <td class="italic py-2 dots-overflow" style="min-width: 150px">
          <div>{{transition.person | fullName}}</div>
          <div>{{transition.role | role}}</div>
          <div>{{transition.date | formatDate}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="align-top">
          <span class="badge" [ngClass]="ExpertReviewStateBadge[transition.newState]">
            {{transition.newState | reviewState}}
          </span>
        </td>
      </tr>
    </ng-container>
  </table>
  <div class="italic mt-3" *ngIf="_history.transitions.length == 0">Данные отсутствуют</div>
</div>
<div class="italic" *ngIf="!_history">Загружается...</div>
