<div class="form-group">

  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>

  <app-novelty-block
    [_form]="formValue()"
    [num]="'1'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-novelty-block>

  <hr/>

  <app-economic-significance-block
    [_form]="formValue()"
    [num]="'2'"
    [project]="project"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-economic-significance-block>

  <hr/>

  <app-resources-sufficiency-block
    [_form]="formValue()"
    [num]="'3'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-resources-sufficiency-block>

  <hr/>

  <app-competence-sufficiency-block
    [_form]="formValue()"
    [num]="'4'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-competence-sufficiency-block>

  <hr/>

  <app-marketing-research-block
    [_form]="formValue()"
    [num]="'5'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-marketing-research-block>

  <hr/>

  <app-risks-block
    [_form]="formValue()"
    [num]="'6'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-risks-block>

  <hr/>

  <app-privacy-block
    [_form]="formValue()"
    [num]="'7'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-privacy-block>

  <hr/>

  <app-stages-exists-block
    [_form]="formValue()"
    [num]="'8'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-stages-exists-block>

  <hr/>

  <label class="mb-0">
    9. Реализация и финансирование объекта государственной экспертизы
  </label>

  <hr/>

  <app-name-accordance-block
    [_form]="formValue()"
    [num]="'9.1'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-name-accordance-block>

  <hr/>

  <app-terms-accordance-block
    [form]="formValue()"
    [num]="'9.2'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-terms-accordance-block>

  <hr/>

  <app-finance-accordance-block
    [_form]="formValue()"
    [num]="'9.3'"
    [project]="project"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-finance-accordance-block>

  <hr/>

  <app-finance-conclusion-block
    [_form]="formValue()"
    [num]="'9.4'"
    [noveltyNum]="'1'"
    [economicSignificanceNum]="'2'"
    [project]="project"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
    [disabled]="isFinanceConclusionDisabled()"
  ></app-finance-conclusion-block>
</div>

<hr/>

<app-conclusion-block
  [_form]="formValue()"
  [financeConclusionNum]="'9.4'"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
  [disabled]="isConclusionDisabled()"
></app-conclusion-block>

<hr/>

<app-notes-block
  [_form]="formValue()"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
></app-notes-block>
