<div class="form-group">
  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
  <div class="form-sub-group">
    <label>
      1. Соответствие указанному приоритетному направлению научных исследований в Республике Беларусь и (или)
      научно-технической деятельности в Республики Беларусь:
    </label>
    <textarea [ngModel]="formValue().accordance" (ngModelChange)="patchForm({ accordance: $event })" name="accordance" required rows="3" class="form-control"
      placeholder="cоответствие или несоответствие по каждому из перечисленных в материалах приоритетному направлению">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      2. Значение работы для реализации приоритетов социально-экономического развития,
      разработки новых технологических процессов, наукоемкой, конкурентоспособной продукции,
      формирования перспективных научных направлений:
    </label>
    <textarea [ngModel]="formValue().significance" (ngModelChange)="patchForm({ significance: $event })" name="significance" required rows="3" class="form-control"
      placeholder="суть значения и важности работы для республики">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      3. Научный и (или) технический уровень:
    </label>
    <textarea [ngModel]="formValue().scientificLevel" (ngModelChange)="patchForm({ scientificLevel: $event })" name="scientificLevel" required rows="3" class="form-control"
      placeholder="научный и (или) научно-технический уровень">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      4. Целесообразность реализации работы:
    </label>
    <textarea [ngModel]="formValue().expedience" (ngModelChange)="patchForm({ expedience: $event })" name="expedience" required rows="3" class="form-control"
      placeholder="целесообразность реализации работы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      5. Эффективность реализации работы:
    </label>
    <textarea [ngModel]="formValue().efficiency" (ngModelChange)="patchForm({ efficiency: $event })" name="efficiency" required rows="3" class="form-control"
      placeholder="эффективность реализации работы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      6. Возможность реализации работы:
    </label>
    <textarea [ngModel]="formValue().realization" (ngModelChange)="patchForm({ realization: $event })" name="realization" required rows="3" class="form-control"
      placeholder="возможность реализации работы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      7. Возможные социальные последствия реализации работы:
    </label>
    <textarea [ngModel]="formValue().socialEffects" (ngModelChange)="patchForm({ socialEffects: $event })" name="socialEffects" required rows="3" class="form-control"
      placeholder="возможные последствия">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      8. Возможные экономические последствия реализации работы:
    </label>
    <textarea [ngModel]="formValue().economicEffects" (ngModelChange)="patchForm({ economicEffects: $event })" name="economicEffects" required rows="3" class="form-control"
      placeholder="возможные последствия">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      9. Возможные экологические последствия реализации работы:
    </label>
    <textarea [ngModel]="formValue().ecologicEffects" (ngModelChange)="patchForm({ ecologicEffects: $event })" name="ecologicEffects" required rows="3" class="form-control"
      placeholder="возможные последствия">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      10. Сведения о проведении маркетинговых и патентных исследований и их результаты:
    </label>
    <textarea [ngModel]="formValue().marketing" (ngModelChange)="patchForm({ marketing: $event })" name="marketing" required rows="3" class="form-control"
      placeholder="результаты проведения маркетинговых и патентных исследований по объекту экспертизы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>11. Создание объектов права промышленной собственности:</label>
    @if (privacyObjects.length == 0) {
      <div class="mb-2 italic">не предусматривается</div>
    }
    @for (privacyObject of privacyObjects; track privacyObject; let i = $index) {
      <div class="input-group btn-group mb-2">
        <app-select-catalog
          [catalog]="Catalog.INDUSTRIAL_PROPERTY"
          [(ngModel)]="privacyObjects[i]" (ngModelChange)="markFormChanged()" [resetEnabled]="false"
        ></app-select-catalog>
        <button type="button" class="btn btn-outline-danger" (click)="privacyObjects.splice(i, 1); markFormChanged()">&times;</button>
      </div>
    }
    <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null); markFormChanged()">
      Добавить объект права
    </button>
  </div>
</div>

<div class="form-group">
  <label class="form-group-label">Выводы и предложения эксперта</label>
  <div class="form-sub-group">
    <label>
      1. Финансирование за счет средств республиканского бюджета и (или) других источников финансирования:
    </label>
    <app-boolean-button [ngModel]="formValue().finance" (ngModelChange)="patchForm({ finance: $event })" [falseLabel]="'нецелесообразно'"
    [trueLabel]="'целесообразно'"></app-boolean-button>
  </div>

  <div class="form-sub-group">
    <label>
      2. Целесообразность отнесения мероприятия в установленном порядке к наиболее значимым для
      Республики Беларусь исследованиям и разработкам, определенным в соответствии с абзацем третьим подпункта&nbsp;1.1
      пункта&nbsp;1 Указа Президента Республики Беларусь от 7&nbsp;сентября 2009&nbsp;г. №&nbsp;441
      «О дополнительных мерах по стимулированию научной, научно-технической и инновационной деятельности»:
    </label>
    @if (!formValue().finance) {
      <div class="font-weight-bold">нецелесообразно согласно пункту 1 данного раздела</div>
    }
    @if (formValue().finance) {
      <div >
        <app-boolean-button [ngModel]="formValue().promotion" (ngModelChange)="patchForm({ promotion: $event })" [falseLabel]="'нецелесообразно'"
        [trueLabel]="'целесообразно'"></app-boolean-button>
      </div>
    }
  </div>

  <div class="form-sub-group">
    <label>
      3. Определение в календарном плане этапов мероприятия, подлежащих государственной регистрации
      в соответствии с абзацем вторым пункта&nbsp;5 Положения о порядке государственной регистрации
      научно-исследовательских, опытно-конструкторских и опытно-технологических работ, утвержденного
      Указом Президента Республики Беларусь от 25&nbsp;мая 2006&nbsp;г. №&nbsp;356 «О государственной регистрации
      научно-исследовательских, опытно-конструкторских и опытно-технологических работ»:
    </label>
    @if (!formValue().finance) {
      <div class="font-weight-bold">не имеются согласно пункту 1 данного раздела</div>
    }
    @if (formValue().finance) {
      <div>
        @if (stages().length == 0) {
          <div class="mb-2 italic">не имеются</div>
        }
        @for (stage of stages(); track $index; let i = $index) {
          <div class="input-group btn-group mb-2">
            <input [(ngModel)]="stage.name" (ngModelChange)="markFormChanged()" type="text" class="form-control" placeholder="{{i + 1}}) Этап {{i + 1}}.">
            <button (click)="removeStage(i)" type="button" class="btn btn-outline-danger">&times;</button>
          </div>
        }
        <button (click)="addStage()" type="button" class="btn btn-primary btn-sm">
          Добавить этап
        </button>
      </div>
    }
  </div>

  <div class="form-sub-group">
    <label>
      4. Замечания по материалам объекта экспертизы, конкретные предложения о необходимости доработки и (или)
      корректировки материалов по объекту экспертизы:
    </label>
    @if (notes().length == 0) {
      <div class="mb-2 italic">не имеются</div>
    }
    @for (note of notes(); track $index; let i = $index) {
      <div class="input-group btn-group mb-2">
        <textarea [(ngModel)]="note.name" (ngModelChange)="markFormChanged()" rows="2" class="form-control"
        placeholder="{{i + 1}}) Замечание {{i + 1}}."></textarea>
        <button type="button" class="btn btn-outline-danger" (click)="removeNote(i)">&times;</button>
      </div>
    }
    <button type="button" class="btn btn-primary btn-sm" (click)="addNote()">
      Добавить замечание
    </button>
  </div>
</div>
