<div class="form-group">
  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
  <div class="form-sub-group">
    <label>
      1. Соответствие указанному приоритетному направлению научных исследований в Республике Беларусь и (или)
      научно-технической деятельности в Республики Беларусь:
    </label>
    <textarea [(ngModel)]="_form.accordance" name="accordance" required rows="3" class="form-control"
      placeholder="cоответствие или несоответствие по каждому из перечисленных в материалах приоритетному направлению">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      2. Значение работы для реализации приоритетов социально-экономического развития,
      разработки новых технологических процессов, наукоемкой, конкурентоспособной продукции,
      формирования перспективных научных направлений:
    </label>
    <textarea [(ngModel)]="_form.significance" name="significance" required rows="3" class="form-control"
      placeholder="суть значения и важности работы для республики">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      3. Сведения о проведении маркетинговых и патентных исследований и их результаты:
    </label>
    <textarea [(ngModel)]="_form.marketing" name="marketing" required rows="3" class="form-control"
      placeholder="результаты проведения маркетинговых и патентных исследований по объекту экспертизы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      4. Принципиальная новизна, конкурентоспособность, научный и (или) научно-технический уровень,
      экономическая и (или) социальная эффективность:
    </label>
    <textarea [(ngModel)]="_form.novelty" name="novelty" required rows="3" class="form-control"
      placeholder="суть новизны, конкурентоспособности, научно-технического уровня и эффективности">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      5. Потребность республики в результатах, получение которых запланировано в ходе реализации
      объекта экспертизы, в том числе с учетом возможностей расширения экспорта и (или) сокращения импорта продукции,
      поставки потребителю разработанной и осваиваемой продукции:
    </label>
    <textarea [(ngModel)]="_form.need" name="need" required rows="3" class="form-control"
      placeholder="потребность республики (объем и потребители) в результатах реализации объекта экспертизы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      6. Способы и методы оценки результативности, а также экономической и (или) социальной эффективности:
    </label>
    <textarea [(ngModel)]="_form.methods" name="methods" required rows="3" class="form-control"
      placeholder="анализ способов и методов оценки результативности и эффективности реализации объекта экспертизы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>7. Создание объектов права промышленной собственности:</label>
    @if (privacyObjects.length == 0) {
      <div class="mb-2 italic">не предусматривается</div>
    }
    @for (privacyObject of privacyObjects; track privacyObject; let i = $index) {
      <div class="input-group btn-group mb-2">
        <app-select-catalog
          [catalog]="Catalog.INDUSTRIAL_PROPERTY"
          [(ngModel)]="privacyObjects[i]" [resetEnabled]="false"
        ></app-select-catalog>
        <button type="button" class="btn btn-outline-danger" (click)="privacyObjects.splice(i, 1)">&times;</button>
      </div>
    }
    <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null)">
      Добавить объект права
    </button>
  </div>
</div>

<div class="form-group">
  <label class="form-group-label">Анализ и оценка потенциального исполнителя</label>
  <div class="form-sub-group">
    <label>
      1. Научная, конструкторско-технологическая и производственная, в том числе лабораторная и
      опытно-исследовательская, база потенциального исполнителя, а также кадровый потенциал, включая численность
      сотрудников, привлекаемых для реализации данного мероприятия:
    </label>
    <textarea [(ngModel)]="_form.potential" name="potential" required rows="3" class="form-control"
      placeholder="достаточность имеющихся материально-технической базы и кадров исполнителя для реализации объекта экспертизы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      2. Опыт потенциального исполнителя в решении задач, а также в наличии результатов работ, полученных в рамках
      выполнения государственных программ научных исследований и научно-технических программ, взятых за основу
      для реализации мероприятия:
    </label>
    <textarea [(ngModel)]="_form.experience" name="experience" required rows="3" class="form-control"
      placeholder="имеющийся научный опыт исполнителя для реализации объекта экспертизы">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      3. Целесообразность проведения новых научных исследований, а также наличие необходимых для реализации
      мероприятия материальных и финансовых ресурсов:
    </label>
    <textarea [(ngModel)]="_form.financeBase" name="financeBase" required rows="3" class="form-control"
      placeholder="целесообразность и достаточность финансовых ресурсов на основе анализа государственных реестров НИОК(Т)Р">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      4. Наличие проведенного потенциальным исполнителем инновационно-технологического мониторинга
      для реализации объекта экспертизы:
    </label>
    <textarea [(ngModel)]="_form.monitoring" name="monitoring" required rows="3" class="form-control"
      placeholder="анализ и оценка результатов инновационно-технологического мониторинга для реализации объекта экспертизы">
    </textarea>
  </div>
</div>

<div class="form-group">
  <label class="form-group-label">Выводы и предложения эксперта</label>
  <div class="form-sub-group">
    <label>
      1. Финансирование за счет средств республиканского бюджета и (или) других источников финансирования:
    </label>
    <app-boolean-button [(ngModel)]="_form.finance" [falseLabel]="'нецелесообразно'"
    [trueLabel]="'целесообразно'"></app-boolean-button>
  </div>

  <div class="form-sub-group">
    <label>
      2. Целесообразность отнесения мероприятия в установленном порядке к наиболее значимым для
      Республики Беларусь исследованиям и разработкам, определенным в соответствии с абзацем третьим подпункта&nbsp;1.1
      пункта&nbsp;1 Указа Президента Республики Беларусь от 7&nbsp;сентября 2009&nbsp;г. №&nbsp;441
      «О дополнительных мерах по стимулированию научной, научно-технической и инновационной деятельности»:
    </label>
    @if (!_form.finance) {
      <div class="font-weight-bold">нецелесообразно согласно пункту 1 данного раздела</div>
    }
    @if (_form.finance) {
      <div>
        <app-boolean-button [(ngModel)]="_form.promotion" [falseLabel]="'нецелесообразно'"
        [trueLabel]="'целесообразно'"></app-boolean-button>
      </div>
    }
  </div>

  <div class="form-sub-group">
    <label>
      3. Определение в календарном плане этапов мероприятия, подлежащих государственной регистрации
      в соответствии с абзацем вторым пункта&nbsp;5 Положения о порядке государственной регистрации
      научно-исследовательских, опытно-конструкторских и опытно-технологических работ, утвержденного
      Указом Президента Республики Беларусь от 25&nbsp;мая 2006&nbsp;г. №&nbsp;356 «О государственной регистрации
      научно-исследовательских, опытно-конструкторских и опытно-технологических работ»:
    </label>
    @if (!_form.finance) {
      <div class="font-weight-bold">не имеются согласно пункту 1 данного раздела</div>
    }
    @if (_form.finance) {
      <div>
        @if (stages.length == 0) {
          <div class="mb-2 italic">не имеются</div>
        }
        @for (stage of stages; track stage; let i = $index) {
          <div class="input-group btn-group mb-2">
            <input [(ngModel)]="stage.name" type="text" class="form-control" placeholder="{{i + 1}}) Этап {{i + 1}}.">
            <button (click)="stages.splice(i, 1)" type="button" class="btn btn-outline-danger">&times;</button>
          </div>
        }
        <button (click)="stages.push({name: ''})" type="button" class="btn btn-primary btn-sm">
          Добавить этап
        </button>
      </div>
    }
  </div>

  <div class="form-sub-group">
    <label>
      4. Замечания по материалам объекта экспертизы, конкретные предложения о необходимости доработки и (или)
      корректировки материалов по объекту экспертизы:
    </label>
    @if (notes.length == 0) {
      <div class="mb-2 italic">не имеются</div>
    }
    @for (note of notes; track note; let i = $index) {
      <div class="input-group btn-group mb-2">
        <textarea [(ngModel)]="note.name" rows="2" class="form-control"
        placeholder="{{i + 1}}) Замечание {{i + 1}}."></textarea>
        <button type="button" class="btn btn-outline-danger" (click)="notes.splice(i, 1)">&times;</button>
      </div>
    }
    <button type="button" class="btn btn-primary btn-sm" (click)="notes.push({name: ''})">
      Добавить замечание
    </button>
  </div>
</div>
