<!--PROJECT TITLE-->

@if (!checkVisibleForBureau()) {
  <div class="mb-2">
    <span (click)="showTransitionHistoryModal()" class="selectable"
      [ngClass]="['badge', ProjectStateBadge[project.state]]">
      {{project.state | projectState}}
    </span>
    <span class="text-muted"> Объект экспертизы</span>
  </div>
}
<!--ACTIONS-->
<div class="mb-3">
  @for (meta of buttons(); track meta) {
    <button [ngClass]="meta.styleClass" class="mr-2" (click)="meta.onclick()">
      {{meta.title}}
    </button>
  }
</div>

<!--PROJECT INFO-->
<div [ngClass]="{'card card-block': true,
  'alert-danger': project.red,
  'alert-warning': project.yellow,
  'alert-primary': project.blue
}">
  <h5>
    {{project.title}} <span class="text-muted text-sm italic bold">{{project.termsMessage}}</span>
  </h5>

  <div class="text-sm">
    <span>Код объекта экспертизы: </span>
    <span class="italic">{{project.code?.code | orElse : 'не указан'}}</span>
  </div>

  @if (project.code?.expertReviewType == 'EXPERT_REVIEW_8_1_2_15_2025' || project.code?.expertReviewType == 'EXPERT_REVIEW_8_3_4_12NIOKTR_2025') {
    <div class="text-sm">
      @if (project.code?.code != '8.4') {
        <span>Наименование программы (подпрограммы): </span>
      }
      @if (project.code?.code == '8.4') {
        <span>Наименование двусторонней научно-технической программы с: </span>
      }
      <span class="italic">{{project.program | orElse : 'не указан'}}</span>
    </div>
  }

  @if (project.customer!=null) {
    <div class="text-sm">
      <span>Заказчик экспертизы: </span>
      <span class="italic">{{project.customer?.org?.name | orElse : 'организация не указана' }}</span>
    </div>
  }

  @if (project.subCustomer!=null) {
    <div class="text-sm">
      <span>Инициатор экспертизы: </span>
      <span class="italic">{{project.subCustomer?.org?.name | orElse : 'организация не указана' }}</span>
    </div>
  }

  @if (project.registerDate) {
    <div class="text-sm">
      <span>Дата регистрации: </span>
      <span class="italic">{{project.registerDate | mdate}}</span>
    </div>
  }

  @if (project.registrationNumber) {
    <div class="text-sm">
      <span>Регистрационный номер: </span>
      <span class="italic">{{project.registrationNumber}}</span>
    </div>
  }

  @if (project.executor) {
    <div class="text-sm">
      <span>Организация исполнитель: </span>
      <span class="italic">{{project.executor}}</span>
    </div>
  }

  @if (project.period?.start || project.period?.end) {
    <div class="text-sm">
      <span>Сроки реализации: </span>
      <span class="italic">
        {{project.period?.start | mdate | orElse: 'дд.мм.гггг'}} -
        {{project.period?.end | mdate | orElse: 'дд.мм.гггг'}}
      </span>
    </div>
  }

  @if (project.financing.length) {
    <div class="text-sm">
      <span>Финансирование: </span>
      <ul class="mb-0 pl-4">
        @for (fin of project.financing; track fin) {
          <li class="italic">
            <span>{{fin.type | fundingType}} финансирование, </span>
            <span>{{fin.comment ? fin.comment + ' - ' : ''}}</span>
            <span>{{fin.source.name}}: </span>
            <span>{{fin.value}} {{project.currency?.name || 'руб.'}}</span>
          </li>
        }
      </ul>
    </div>
  }

  @if (project.directions.length > 0) {
    <div class="text-sm">
      <span>
        Приоритетное направление научных исследований и (или) научно-технической деятельности:
      </span>
      <ul class="mb-0 pl-4">
        @for (dir of displayedDirections; track dir) {
          <li>
            <span class="italic">{{dir.name}}</span>
            @if (dir.subDirectionDtos.length != 0) {
              <ul>
                @for (subDir of dir.subDirectionDtos; track subDir) {
                  <li>
                    {{subDir.directionName}}
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </div>
  }

  @if (project.socialEconomicGoals.length > 0) {
    <div class="text-sm">
      <span>
        Цель (приоритет) социально-экономического развития:
      </span>
      <ul class="mb-0 pl-4">
        @for (item of project.socialEconomicGoals; track item) {
          <li>
            <span class="italic">{{item.name}}</span>
          </li>
        }
      </ul>
    </div>
  }

  @if (project.gkntChairman) {
    <div class="text-sm">
      <span>Зам. Председателя ГКНТ: </span>
      <span class="italic">{{project.gkntChairman | fullName}}</span>
    </div>
  }

  @if (project.gkntDepartment) {
    <div class="text-sm">
      <span>Подразделение ГКНТ: </span>
      <span class="italic">{{project.gkntDepartment.name}}</span>
    </div>
  }

  @if (project.gkntDepartmentChairman) {
    <div class="text-sm">
      <span>Начальник подразделения ГКНТ: </span>
      <span class="italic">{{project.gkntDepartmentChairman | fullName}}</span>
    </div>
  }

  @if (project.gkntWorker) {
    <div class="text-sm">
      <span>Ответственный сотрудник ГКНТ: </span>
      <span class="italic">{{project.gkntWorker | fullName}}</span>
    </div>
  }

  @if (project.returnReason) {
    <div class="text-sm">
      <span>Причина возврата: </span>
      <span class="italic">{{project.returnReason}}</span>
    </div>
  }

  @if (project.productName) {
    <div class="text-sm">
      <span>Название продукта: </span>
      <span class="italic">{{project.productName}}</span>
    </div>
  }

  @if (project.orgProduction) {
    <div class="text-sm">
      <span>Название организации(ий) : </span>
      <span class="italic">{{project.orgProduction}}</span>
    </div>
  }

  @if (project.highTechProduction) {
    <div class="text-sm">
      <span>Новые и высоки технологии:</span>
      <span class="italic">{{project.highTechProduction}}</span>
    </div>
  }

  @if (project.productionOnRB) {
    <div class="text-sm">
      <span>Обьём производства на территории РБ:</span>
      <span class="italic">{{project.productionOnRB}}</span>
    </div>
  }

  @if (project.exportAndImport) {
    <div class="text-sm">
      <span>Общий объем экспорта и импорта:</span>
      <span class="italic">{{project.exportAndImport}}</span>
    </div>
  }

  @if (!project.code?.code.startsWith('8.10') && !project.code?.code.startsWith('8.16')) {
    <div>
      <div class="text-sm">
        <span>Ожидаемый результат объекта экспертизы: </span>
        @if (project.expectedResult && project.expectedResult.expectedResultType !== 'другое') {
          <span
          class="italic">{{ project.expectedResult.expectedResultType }}</span>
        }
        @if (project.expectedResult && project.expectedResult.expectedResultType === 'другое') {
          <span
          class="italic">{{ project.otherExpectedResult }}</span>
        }
      </div>
      <div class="text-sm">
        <span>Описание ожидаемого результата экспертизы: </span>
        <span class="italic">{{ project.expectedResultDescription }}</span>
      </div>
      <div class="text-sm">
        <span>Вид работ/Способ реализации объекта экспертизы: </span>
        @if (project.workType !== 'другое') {
          <span class="italic">{{ project.workType }}</span>
        }
        @if (project.workType === 'другое') {
          <span class="italic">{{ project.otherWorkType }}</span>
        }
      </div>
      <div class="text-sm">
        <span>Характер результата: </span>
        <span class="italic">{{ project.selectedResultSpecific }}</span>
      </div>
      @if (project.selectedResultSpecific === 'прикладной') {
        <div class="text-sm">
          <div class="text-sm">
            <span>Результат подлежит коммерциализации: </span>
            <span>{{ project.resultCommercialization }}</span>
          </div>
          @if (project.resultCommercialization === 'Подлежит') {
            <div class="text-sm">
              <span>Объект коммерциализации: </span>
              <span>{{ project.commercializationDescription }}</span>
              <br>
                <span>Способ коммерциализации: </span>
                <ul class="mb-0 pl-4">
                  @for (item of project.commercializationMethods; track item) {
                    <li>
                      <span class="italic">{{item.name}}</span>
                    </li>
                  }
                </ul>
              </div>
            }
            @if (project.resultCommercialization === 'Не подлежит') {
              <div class="text-sm">
                <span>Характер результата - прикладной:  </span>
                <span>{{ project.implementationResult }}</span>
                <br>
                  <span>Объект внедрения:  </span>
                  <span>{{ project.implementationDescription }}</span>
                  <br>
                    <span>Способ внедрения:  </span>
                    <span>{{ project.implementationSpecifying }}</span>
                  </div>
                }
                <div class="text-sm">
                  <span>Технологический уклад: </span>
                  @if (project.technologicalOrder !== 'другое') {
                    <span class="italic">{{ project.technologicalOrder }}</span>
                  }
                  @if (project.technologicalOrder === 'другое') {
                    <span class="italic">{{ project.otherTechnologicalOrder }}</span>
                  }
                </div>
              </div>
            }
            @if (project.selectedResultSpecific === 'не предусмотрен') {
              <div class="text-sm">
                <span>Технологический уклад: </span>
                @if (project.technologicalOrder !== 'другое') {
                  <span class="italic">{{ project.technologicalOrder }}</span>
                }
                @if (project.technologicalOrder === 'другое') {
                  <span class="italic"
                  >{{ project.otherTechnologicalOrder }}</span>
                }
              </div>
            }
          </div>
        }
      </div>


      <!--PROJECT DOCUMENTS-->
      @if (visibleDocsForExpert()) {
        <div class="mt-2 mb-1 text-sm text-muted">
          Материалы объекта экспертизы
          @if (project.documents.length>0) {
            <a class="italic link" (click)="downloadAllDocuments(project)">(скачать
            все)</a>
          }
        </div>
        @if (canEditProjectDocuments()) {
          <app-document-uploader
            (saved)="addProjectDocument($event)"
            [url]="SERVER_URL + '/project/add/' + project.id + '/document'" [idDto]="project"
            [typesAccept]="[DocType.DOCX.extension, DocType.DOC.extension, DocType.PDF.extension]">
          </app-document-uploader>
        }
        @if ((project.canAddDocumentsForCustomerForSection || project.canAddDocumentsForCustomerForBureau) && role()==Role.CUSTOMER) {
          <app-document-uploader
            (saved)="addProjectDocument($event)"
            [url]="SERVER_URL + '/project/add/' + project.id + '/document'" [idDto]="project"
            [typesAccept]="[DocType.DOCX.extension, DocType.DOC.extension, DocType.PDF.extension]">
          </app-document-uploader>
        }
        <div class="mt-2 mb-1 text-sm text-muted">
          Документы заказчика экспертизы
        </div>
        <app-document-list #projectDocumentsComponent [documents]="isCustomer()"
          [canDelete]="canEditProjectDocuments()" [canUpdate]="canEditProjectDocuments()"
          (onDelete)="deleteProjectDocument($event)" (onUpdate)="updateProjectDocument($event)">
        </app-document-list>
        <div class="mt-2 mb-1 text-sm text-muted">
          Остальные документы
        </div>
        <app-document-list #projectDocumentsComponent [documents]="isNotCustomer()"
          [canDelete]="canEditProjectDocuments()" [canUpdate]="canEditProjectDocuments()"
          (onDelete)="deleteProjectDocument($event)" (onUpdate)="updateProjectDocument($event)">
        </app-document-list>
      }

      <!--RETURN DECISION-->
      @if (canReadDecision()) {
        <div>
          <div class="mt-2 mb-1">
            <div class="d-inline-block text-muted text-sm">
              Письмо о возврате без рассмотрения
            </div>
            @if (canEditDecision() || canEditDecisionWithRemarks()) {
              <div class="btn-right-sm">
                <button class="btn btn-sm btn-primary" (click)="decisionFormModal.show()">
                  Создать
                </button>
              </div>
            }
          </div>
          <app-document-list
            [documents]="project.decisionDocument"
            [canDelete]="canEditDecision()"
            (onDelete)="deleteDecisionDocument()">
          </app-document-list>
        </div>
      }

      <!--DECISION FORM MODAL-->
      @if (canEditDecision() || canEditDecisionWithRemarks()) {
        <app-modal #decisionFormModal
          [title]="'Письмо о возврате без рассмотрения'">
          <app-decision-document-form [project]="project" (onSave)="generateDecisionDocument($event)"
            (onClose)="decisionFormModal.hide()">
          </app-decision-document-form>
        </app-modal>
      }

      <app-modal #transitionHistoryModal [title]="'Информация о ходе проведения экспертизы'" [modalClasses]="'modal-xl'">
        <div class="transition-history">
          <app-project-transition-history [history]="transitionHistory"></app-project-transition-history>
        </div>
      </app-modal>
