<!--PROJECT TITLE-->

<ng-container *ngIf="!checkVisibleForBureau()">
  <div class="mb-2">
  <span (click)="showTransitionHistoryModal()" class="selectable"
        [ngClass]="['badge', ProjectStateBadge[project.state]]">
    {{project.state | projectState}}
  </span>
    <span class="text-muted"> Объект экспертизы</span>
  </div>
</ng-container>
<!--ACTIONS-->
<div class="mb-1">
  <button *ngFor="let meta of buttons" [ngClass]="meta.styleClass" class="mr-1" (click)="meta.onclick()">
    {{meta.title}}
  </button>
</div>

<!--PROJECT INFO-->
<div [ngClass]="{'card card-block': true,
  'alert-danger': project.red,
  'alert-warning': project.yellow,
  'alert-primary': project.blue
}">
  <h5>
    {{project.title}} <span class="text-muted text-sm italic bold">{{project.termsMessage}}</span>
  </h5>

  <div class="text-sm">
    <span>Код объекта экспертизы: </span>
    <span class="italic">{{project.code?.code | orElse : 'не указан'}}</span>
  </div>

  <div class="text-sm" *ngIf="project.customer!=null">
    <span>Заказчик экспертизы: </span>
    <span class="italic">{{project.customer?.org?.name | orElse : 'организация не указана' }}</span>
  </div>

  <div class="text-sm" *ngIf="project.subCustomer!=null">
    <span>Инициатор экспертизы: </span>
    <span class="italic">{{project.subCustomer?.org?.name | orElse : 'организация не указана' }}</span>
  </div>

  <div *ngIf="project.registerDate" class="text-sm">
    <span>Дата регистрации: </span>
    <span class="italic">{{project.registerDate | mdate}}</span>
  </div>

  <div *ngIf="project.registrationNumber" class="text-sm">
    <span>Регистрационный номер: </span>
    <span class="italic">{{project.registrationNumber}}</span>
  </div>

  <div *ngIf="project.executor" class="text-sm">
    <span>Организация исполнитель: </span>
    <span class="italic">{{project.executor}}</span>
  </div>

  <div *ngIf="project.period?.start || project.period?.end" class="text-sm">
    <span>Сроки реализации: </span>
    <span class="italic">
      {{project.period?.start | mdate | orElse: 'дд.мм.гггг'}} -
      {{project.period?.end | mdate | orElse: 'дд.мм.гггг'}}
    </span>
  </div>

  <div *ngIf="project.financing.length" class="text-sm">
    <span>Финансирование: </span>
    <ul class="mb-0 pl-4">
      <li *ngFor="let fin of project.financing" class="italic">
        <span>{{fin.type | fundingType}} финансирование, </span>
        <span>{{fin.comment ? fin.comment + ' - ' : ''}}</span>
        <span>{{fin.source.name}}: </span>
        <span>{{fin.value}} {{project.currency?.name || 'руб.'}}</span>
      </li>
    </ul>
  </div>

  <div *ngIf="project.directions.length > 0" class="text-sm">
    <span>
      Приоритетное направление научных исследований и (или) научно-технической деятельности:
    </span>
    <ul class="mb-0 pl-4">
      <li *ngFor="let dir of project.subDirections">
        <span class="italic">{{dir.directionName}} ({{dir.direction.name}})</span>
      </li>
    </ul>
  </div>

  <div *ngIf="project.socialEconomicGoals.length > 0" class="text-sm">
    <span>
      Цель (приоритет) социально-экономического развития:
    </span>
    <ul class="mb-0 pl-4">
      <li *ngFor="let item of project.socialEconomicGoals">
        <span class="italic">{{item.name}}</span>
      </li>
    </ul>
  </div>

  <div *ngIf="project.gkntChairman" class="text-sm">
    <span>Зам. Председателя ГКНТ: </span>
    <span class="italic">{{project.gkntChairman | fullName}}</span>
  </div>

  <div *ngIf="project.gkntDepartment" class="text-sm">
    <span>Подразделение ГКНТ: </span>
    <span class="italic">{{project.gkntDepartment.name}}</span>
  </div>

  <div *ngIf="project.gkntDepartmentChairman" class="text-sm">
    <span>Начальник подразделения ГКНТ: </span>
    <span class="italic">{{project.gkntDepartmentChairman | fullName}}</span>
  </div>

  <div *ngIf="project.gkntWorker" class="text-sm">
    <span>Ответственный сотрудник ГКНТ: </span>
    <span class="italic">{{project.gkntWorker | fullName}}</span>
  </div>

  <div *ngIf="project.returnReason" class="text-sm">
    <span>Причина возврата: </span>
    <span class="italic">{{project.returnReason}}</span>
  </div>

  <div *ngIf="project.productName" class="text-sm">
    <span>Название продукта: </span>
    <span class="italic">{{project.productName}}</span>
  </div>

  <div *ngIf="project.orgProduction" class="text-sm">
    <span>Название организации(ий) : </span>
    <span class="italic">{{project.orgProduction}}</span>
  </div>

  <div *ngIf="project.highTechProduction" class="text-sm">
    <span>Новые и высоки технологии:</span>
    <span class="italic">{{project.highTechProduction}}</span>
  </div>

  <div *ngIf="project.productionOnRB" class="text-sm">
    <span>Обьём производства на территории РБ:</span>
    <span class="italic">{{project.productionOnRB}}</span>
  </div>

  <div *ngIf="project.exportAndImport" class="text-sm">
    <span>Общий объем экспорта и импорта:</span>
    <span class="italic">{{project.exportAndImport}}</span>
  </div>
</div>


<!--PROJECT DOCUMENTS-->
<ng-container *ngIf="visibleDocsForExpert">
  <div class="mt-2 mb-1 text-sm text-muted">
    Материалы объекта экспертизы
    <a class="italic link" *ngIf="project.documents.length>0" (click)="downloadAllDocuments(project)">(скачать
      все)</a>
  </div>
  <app-document-uploader
      *ngIf="canEditProjectDocuments()" (saved)="addProjectDocument($event)"
      [url]="SERVER_URL + '/project/add/' + project.id + '/document'" [idDto]="project"
      [typesAccept]="[DocType.DOCX.extension, DocType.DOC.extension, DocType.PDF.extension]">
  </app-document-uploader>
  <app-document-uploader
      *ngIf="(project.canAddDocumentsForCustomerForSection || project.canAddDocumentsForCustomerForBureau) && role==Role.CUSTOMER"
      (saved)="addProjectDocument($event)"
      [url]="SERVER_URL + '/project/add/' + project.id + '/document'" [idDto]="project"
      [typesAccept]="[DocType.DOCX.extension, DocType.DOC.extension, DocType.PDF.extension]">
  </app-document-uploader>
  <div class="mt-2 mb-1 text-sm text-muted">
    Документы заказчика экспертизы
  </div>
    <app-document-list #projectDocumentsComponent [documents]="isCustomer()"
                       [canDelete]="canEditProjectDocuments()" [canUpdate]="canEditProjectDocuments()"
                       (onDelete)="deleteProjectDocument($event)" (onUpdate)="updateProjectDocument($event)">
    </app-document-list>
  <div class="mt-2 mb-1 text-sm text-muted">
    Остальные документы
  </div>
  <app-document-list #projectDocumentsComponent [documents]="isNotCustomer()"
                     [canDelete]="canEditProjectDocuments()" [canUpdate]="canEditProjectDocuments()"
                     (onDelete)="deleteProjectDocument($event)" (onUpdate)="updateProjectDocument($event)">
  </app-document-list>
</ng-container>

<!--RETURN DECISION-->
<div *ngIf="canReadDecision()">
  <div class="mt-2 mb-1">
    <div class="d-inline-block text-muted text-sm">
      Письмо о возврате без рассмотрения
    </div>
    <div class="btn-right-sm" *ngIf="canEditDecision() || canEditDecisionWithRemarks()">
      <button class="btn btn-sm btn-primary" (click)="decisionFormModal.show()">
        Создать
      </button>
    </div>
  </div>
  <app-document-list
      [documents]="project.decisionDocument"
      [canDelete]="canEditDecision()"
      (onDelete)="deleteDecisionDocument()">
  </app-document-list>
</div>

<!--DECISION FORM MODAL-->
<app-modal #decisionFormModal *ngIf="canEditDecision() || canEditDecisionWithRemarks()"
           [title]="'Письмо о возврате без рассмотрения'">
  <app-decision-document-form [project]="project" (onSave)="generateDecisionDocument($event)"
                              (onClose)="decisionFormModal.hide()">
  </app-decision-document-form>
</app-modal>

<app-modal #transitionHistoryModal [title]="'Информация о ходе проведения экспертизы'" [modalClasses]="'modal-xl'">
  <div class="transition-history">
    <app-project-transition-history [history]="transitionHistory"></app-project-transition-history>
  </div>
</app-modal>
