<label class="form-group-label">{{ind + 1}}. {{project | titleAndCode}}</label>

<div class="form-sub-group">
  @if (canRescheduled) {
    <app-checkbox [(ngModel)]="isRescheduledForm">
      - Перенос рассмотрения объекта экспертизы на другую дату по причине наличия замечаний
    </app-checkbox>
  }
  <app-checkbox [(ngModel)]="customerReplies">
    - ответы на замечания в установленный срок от заказчика экспертизы представлены
  </app-checkbox>
  @if (!isRescheduledForm) {
    <app-checkbox [(ngModel)]="singleVoteMode" (onChecked)="toggleVote($event)">
      - единое голосование
    </app-checkbox>
  }
</div>
@if (!isRescheduledForm) {
  <div class="form-sub-group">
    <label>
      <b>{{ind + 1}}.1.</b> Финансирование и&nbsp;(или) льготирование реализации
      и&nbsp;(или) стимулирование реализации объекта государственной экспертизы
    </label>
    <label>
      <b>{{ind + 1}}.1.1.</b> Достаточность перечня мероприятий по&nbsp;научному обеспечению проекта
      государственной программы в&nbsp;части научно-технического уровня для&nbsp;достижения запланированных
      государственной программой показателей:
    </label>
    <app-vote-results [ngModel]="formValue().scientificLevel" (ngModelChange)="patchForm({ scientificLevel: $event })" [all]="(parent?.formValue?.()?.participants?.length ?? 0)"></app-vote-results>
  </div>
  <div class="form-sub-group">
    <label>
      <b>{{ind + 1}}.1.2.</b> Достаточность перечня мероприятий по&nbsp;научному обеспечению проекта государственной
      программы в&nbsp;части объемов их финансирования для&nbsp;достижения запланированных государственной программой
      показателей:
    </label>
    <app-vote-results [ngModel]="formValue().finance" (ngModelChange)="patchForm({ finance: $event })" [all]="(parent?.formValue?.()?.participants?.length ?? 0)"></app-vote-results>
  </div>
  <div class="form-sub-group">
    <label>
      <b>{{ind + 1}}.2.</b> Создание объектов права промышленной собственности
      при реализации объекта государственной экспертизы:
    </label>
    @if (privacyObjects.length == 0) {
      <div class="mb-1 italic">Не предусматривается</div>
    }
    @for (privacyObject of privacyObjects; track privacyObject; let i = $index) {
      <div class="input-group btn-group input-group-sm mb-2">
        <app-select-catalog
          [catalog]="Catalog.INDUSTRIAL_PROPERTY"
          [(ngModel)]="privacyObjects[i]" (ngModelChange)="markFormChanged()" [resetEnabled]="false"
        ></app-select-catalog>
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="privacyObjects.splice(i, 1); markFormChanged()">&times;</button>
      </div>
    }
    <div class="mb-2">
      <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null); markFormChanged()">
        Добавить объект права
      </button>
    </div>
    <app-vote-results [ngModel]="formValue().privacy" (ngModelChange)="patchForm({ privacy: $event })" [all]="(parent?.formValue?.()?.participants?.length ?? 0)"></app-vote-results>
    <app-vote-results #singleVote [(ngModel)]="singleVoteResult"
      [all]="(parent?.formValue?.()?.participants?.length ?? 0)"
      [display]="singleVoteMode"
    ></app-vote-results>
  </div>
}
@if (isRescheduledForm) {
  <label>
    Перенос рассмотрения объекта экспертизы по причине наличия замечаний
    и ожидания ответов на замечания от заказчика:
  </label>
  <app-vote-results #rescheduled [ngModel]="formValue().rescheduled" (ngModelChange)="patchForm({ rescheduled: $event })"
    [all]="(parent?.formValue?.()?.participants?.length ?? 0)"
    [display]="isRescheduledForm"
  ></app-vote-results>
}
