<div>
  @if (role == Role.CUSTOMER || role == Role.SUB_CUSTOMER) {
    <div class="mb-1">
      <div class="row">
        <div class="col-lg-8 pr-0">
          <a class="btn btn-primary btn-sm" routerLink="/project/new">Новый объект экспертизы</a>
          <span class="text-sm float-right italic" style="line-height: 31px;">
            Количество проектов: <b>{{_page.totalElements == null ? '...' : _page.totalElements}}</b>
          </span>
        </div>
      </div>
    </div>
  }
  @if (role != Role.CUSTOMER && role != Role.SUB_CUSTOMER) {
    <div class="mb-1">
      <span class="text-sm italic">
        Количество проектов: <b>{{_page.totalElements == null ? '...' : _page.totalElements}}</b>
      </span>
    </div>
  }
  <div class="row">
    <div class="col-lg-8 pr-0">
      <div [loadingData]="_loading" class="list-group">
        @if (projects.length == 0) {
          <div
            class="alert alert-info italic mb-0">
            Объектов экспертизы не найдено
          </div>
        }
        @for (item of projects; track item) {
          <div>
            <app-project-li [item]="item" [baseItemLink]="'/projects/'"
            [group]="selectedGroup"></app-project-li>
          </div>
        }
        <app-pagination [page]="_page" [pagination]="_pagination"
        (onPageChanged)="onPageChanged($event)"></app-pagination>
      </div>
    </div>

    <div class="col-lg-4">
      @if (role != Role.SUB_CUSTOMER) {
        <div class="card pt-3">
          <div class="card-title" (click)="showGroup = !showGroup">
            <h5 style="margin: 0" class="d-inline-block">Группы</h5>
            <span class="float-lg-right">
              @if (!showGroup) {
                <fa-icon icon="angle-down" size="lg"></fa-icon>
              }
              @if (showGroup) {
                <fa-icon icon="angle-up" size="lg"></fa-icon>
              }
            </span>
          </div>
          @if (showGroup) {
            @for (group of groups; track group) {
              <button class="list-group-item list-group-item-action selectable"
                [class.active]="group.idGroup==selectedGroup"
                (click)="selectGroup(group.idGroup)">
                {{group.nameGroup}} ({{group.allProjects}}/{{group.newProjects}})
              </button>
            }
          }
        </div>
      }


      <div class="card pt-3">
        <div class="card-title">
          <h5 style="margin: 0">Фильтр</h5>
        </div>
        <app-filter [fields]="_searchFields" (onFilterChanged)="onFilterChanged()"></app-filter>
      </div>
    </div>
  </div>
</div>
