@if (_lifecycle) {
  <div>
    <!--TITLE-->
    <div class="">
      <div (click)="showTransitionHistoryModal()" class="d-inline-block selectable"
        [ngClass]="['badge', ProjectLifecycleStateBadge[_lifecycle.state]]">
        {{_lifecycle.state|lifecycleState}}
      </div>
      @if (_lifecycle.state==LifecycleGroupState.RETURNED_WITHOUT_EXPERTISE) {
        <span class="text-muted text-sm italic"
          > ({{_lifecycle.rejectionReason}}
        )</span>
      }
    </div>
    <div>{{_lifecycle.section | sectionFullName}}</div>
    @if (_lifecycle.remarkDocuments.length) {
      <div>
        <div class="mt-2 mb-1">
          <div class="text-muted text-sm">О наличии замечаний</div>
        </div>
        <app-document-list [documents]="_lifecycle.remarkDocuments"></app-document-list>
      </div>
    }
    <!--SECTION MEETING PROTOCOL-->
    <div class="mt-2 mb-1 text-muted text-sm">Протокол заседания секции</div>
    <app-document-list [documents]="_lifecycle.meetingProtocol"></app-document-list>
    @if (_lifecycle.remarks!=null &&_lifecycle.remarks.length>0 ) {
      <div class="list-group-item list-group-item-action selectable"
        [class.border-bottom-none]="isExpanded"
        (click)="isExpanded=!isExpanded">
        <div class="text-sm">Ответы на замечания</div>
      </div>
      @if (isExpanded) {
        <app-remark-response [remarks]="_lifecycle.remarks" [isEdit]="false"
        [isExpired]="project.isSectionRemarksExpired"></app-remark-response>
      }
    }
  </div>
}

<app-modal #transitionHistoryModal [title]="'Информация о ходе проведения экспертизы'" [modalClasses]="'modal-xl'">
  <div class="transition-history">
    <app-lifecycle-transition-history [history]="transitionHistory"></app-lifecycle-transition-history>
  </div>
</app-modal>
