<div class="form-group">
  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
  <div class="form-sub-group">
    <label>
      1. Соответствие указанному приоритетному направлению научных исследований в Республике Беларусь и (или)
      научно-технической деятельности в Республики Беларусь:
    </label>
    <textarea [(ngModel)]="_form.accordance" rows="3" class="form-control"
              placeholder="cоответствие или несоответствие по каждому из перечисленных в материалах приоритетному направлению">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      2. Значение работы для реализации приоритетов социально-экономического развития:
    </label>
    <textarea [(ngModel)]="_form.significance" rows="3" class="form-control"
              placeholder="суть значения и важности работы для республики">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      3. Значение работы для разработки новых технологических процессов, наукоемкой, конкурентоспособной продукции:
    </label>
    <textarea [(ngModel)]="_form.technologySignificance" rows="3" class="form-control"
              placeholder="суть значения и важности работы для республики">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>
      4. Значение работы для формирования перспективных научных направлений:
    </label>
    <textarea [(ngModel)]="_form.scientificSignificance" rows="3" class="form-control"
              placeholder="суть значения и важности работы для республики">
    </textarea>
  </div>

  <div class="form-sub-group">
    <label>5. Создание объектов права промышленной собственности:</label>
    <div *ngIf="privacyObjects.length == 0" class="mb-2 italic">не предусматривается</div>
    <div *ngFor="let privacyObject of privacyObjects; let i = index" class="input-group btn-group mb-2">
      <app-select-catalog
          [catalog]="Catalog.INDUSTRIAL_PROPERTY"
          [(ngModel)]="privacyObjects[i]" [resetEnabled]="false"
      ></app-select-catalog>
      <button type="button" class="btn btn-outline-danger" (click)="privacyObjects.splice(i, 1)">&times;</button>
    </div>
    <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null)">
      Добавить объект права
    </button>
  </div>
</div>

<div class="form-group">
  <label class="form-group-label">Выводы и предложения эксперта</label>
  <div class="form-sub-group">
    <label>
      1. Возможность государственной регистрации мероприятия (работы):
    </label>
    <app-boolean-button [(ngModel)]="_form.registration" [falseLabel]="'не допускается'"
                        [trueLabel]="'допускается'"></app-boolean-button>
  </div>

  <div class="form-sub-group">
    <label>
      2. Определение в календарном плане этапов мероприятия, подлежащих государственной регистрации
      в соответствии с абзацем вторым пункта&nbsp;5 Положения о порядке государственной регистрации
      научно-исследовательских, опытно-конструкторских и опытно-технологических работ, утвержденного
      Указом Президента Республики Беларусь от 25&nbsp;мая 2006&nbsp;г. №&nbsp;356 «О государственной регистрации
      научно-исследовательских, опытно-конструкторских и опытно-технологических работ»:
    </label>
    <div *ngIf="!_form.registration" class="font-weight-bold">не имеются согласно пункту 1 данного раздела</div>
    <div *ngIf="_form.registration">
      <div *ngIf="stages.length == 0" class="mb-2 italic">не имеются</div>
      <div *ngFor="let stage of stages; let i = index" class="input-group btn-group mb-2">
        <input [(ngModel)]="stage.name" type="text" class="form-control" placeholder="{{i + 1}}) Этап {{i + 1}}.">
        <button (click)="stages.splice(i, 1)" type="button" class="btn btn-outline-danger">&times;</button>
      </div>
      <button (click)="stages.push({name: ''})" type="button" class="btn btn-primary btn-sm">
        Добавить этап
      </button>
    </div>
  </div>

  <div class="form-sub-group">
    <label>
      3. Замечания по материалам объекта экспертизы, конкретные предложения о необходимости доработки и (или)
      корректировки материалов по объекту экспертизы:
    </label>
    <div *ngIf="notes.length == 0" class="mb-2 italic">не имеются</div>
    <div *ngFor="let note of notes; let i = index" class="input-group btn-group mb-2">
        <textarea [(ngModel)]="note.name" rows="2" class="form-control"
                  placeholder="{{i + 1}}) Замечание {{i + 1}}."></textarea>
      <button type="button" class="btn btn-outline-danger" (click)="notes.splice(i, 1)">&times;</button>
    </div>
    <button type="button" class="btn btn-primary btn-sm" (click)="notes.push({name: ''})">
      Добавить замечание
    </button>
  </div>
</div>
