<div class="file-drop-zone"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.drag-over]="isDragOver">
  <app-choose-files (onFilesChosen)="onFilesChosen($event)" [typesAccept]="typesAccept()"></app-choose-files>
  <div class="small text-muted mt-1">Перетащите файл сюда или выберите через диалог</div>
</div>

<app-modal #fileLoaderModal [title]="'Загрузка файла'" >
  <div class="form-group">
    <label>Название</label>
    <input class="form-control" title="Название" [(ngModel)]="fileName">
  </div>
  <div class="form-group">
    <label>Описание</label>
    <textarea class="form-control" title="Описание" rows="4" [(ngModel)]="fileDescription"></textarea>
  </div>
  @if (progressValue) {
    <progress class="progress progress-striped" [value]="progressValue" max="100"></progress>
  }
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary me-2" (click)="fileLoaderModal.hide()">Отмена</button>
    <button type="button" class="btn btn-primary" (click)="saveFile()">Загрузить</button>
  </div>
</app-modal>
