<hr/>

<app-agenda-header-block [_form]="formValue()" [ind]="ind" [project]="_project" [expanded]="expanded()" (toggle)="toggleExpanded()"></app-agenda-header-block>

<div class="collapse" [collapse]="!expanded()" [attr.id]="'meeting-project-' + _project?.id">
  <hr/>

  <app-customer-replies-block
    [_form]="formValue()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-customer-replies-block>

  <hr/>

  <app-result-accordance-block
    [_form]="formValue()"
    [num]="'1'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-result-accordance-block>

  <hr/>

  <app-effect-accordance-block
    [_form]="formValue()"
    [num]="'2'"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-effect-accordance-block>

  <hr/>

  <app-section-conclusion-block
    [_form]="formValue()"
    [num]="'3'"
    [financeConclusionNum]="'1 и 2'"
    [project]="project"
    [allParticipants]="getAllParticipants()"
    (formPatch)="patchForm($event)"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-section-conclusion-block>
</div>
