<div class="form-group">
  <label class="me-1">
    Конечный результат проекта:
  </label>
  <div class="btn-group">
    <label class="btn btn-sm btn-primary" [class.active]="formValue().product" (click)="patchForm({ product: !formValue().product }); updateFormSignal()">@if (formValue().product) {
      <fa-icon icon="check"></fa-icon>
    } товар</label>
    <label class="btn btn-sm btn-primary" [class.active]="formValue().service" (click)="patchForm({ service: !formValue().service }); updateFormSignal()">@if (formValue().service) {
      <fa-icon icon="check"></fa-icon>
    } услуга</label>
  </div>
</div>

@if (industries) {
  <div class="form-group">
    <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
    <div class="form-sub-group">
      <label>
        1. Соответствие указанному приоритетному направлению научных исследований в Республике Беларусь и (или)
        научно-технической деятельности в Республики Беларусь:
      </label>
      <textarea [ngModel]="formValue().accordance" (ngModelChange)="patchForm({ accordance: $event }); updateFormSignal()" name="accordance" required rows="3" class="form-control"
        placeholder="cоответствие или несоответствие по каждому из перечисленных в материалах приоритетному направлению">
      </textarea>
    </div>
    <div class="form-sub-group">
      <label>
        2. Сведения о проведении маркетинговых и патентных исследований и их результаты:
      </label>
      <textarea [ngModel]="formValue().marketing" (ngModelChange)="patchForm({ marketing: $event }); updateFormSignal()" name="marketing" required rows="3" class="form-control"
        placeholder="результаты проведения маркетинговых и патентных исследований по объекту экспертизы">
      </textarea>
    </div>
    <div class="form-sub-group">
      <label>3. Создание объектов права промышленной собственности:</label>
      @if (privacyObjects.length == 0) {
        <div class="mb-2 italic">не предусматривается</div>
      }
      @for (privacyObject of privacyObjects; track privacyObject; let i = $index) {
        <div class="input-group btn-group mb-2">
          <app-select-catalog
            [catalog]="Catalog.INDUSTRIAL_PROPERTY"
            [(ngModel)]="privacyObjects[i]" (ngModelChange)="markFormChanged(); updateFormSignal()" [resetEnabled]="false"
          ></app-select-catalog>
          <button type="button" class="btn btn-outline-danger" (click)="privacyObjects.splice(i, 1); markFormChanged(); updateFormSignal()">&times;</button>
        </div>
      }
      <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null); markFormChanged(); updateFormSignal()">
        Добавить объект права
      </button>
    </div>
    <div class="form-sub-group">
      <label>
        4. Секция и подсекция основного вида экономической деятельности, которому соответствует
        планируемый к реализации инновационный проект:
      </label>
      <div class="form-check mb-2" (click)="onChooseSection()">
        <input type="checkbox" class="form-check-input" title="Выбор" [ngModel]="formValue()?.sectionNotPresented" (ngModelChange)="patchForm({ sectionNotPresented: $event }); updateFormSignal()" name="sectionNotPresented">
        <label class="form-check-label"> - не представлено в материалах по объекту экспертизы</label>
      </div>
      @if (!formValue().sectionNotPresented) {
        <div class="dropdown form-sub-group">
          <button type="button" class="btn btn-block btn-outline-info dropdown-toggle" data-bs-toggle="dropdown">
            <span class="bold">{{formValue().section?.code}}</span> - {{formValue().section?.name}}
          </button>
          <ul class="dropdown-menu scrollable-menu">
            @for (item of industries; track item) {
              <li class="dropdown-item"
                (click)="patchForm({ section: item }); updateFormSignal()">
                <span class="bold">{{item.code}}</span> - {{item.name}}
              </li>
            }
          </ul>
        </div>
      }
      @if (!formValue().sectionNotPresented) {
        <div class="form-sub-group">
          <label>согласно представленным материалам объекта экспертизы</label>
          <textarea [ngModel]="formValue().sectionPlace" (ngModelChange)="patchForm({ sectionPlace: $event }); updateFormSignal()" name="sectionPlace" [required]="!formValue().sectionNotPresented" rows="2" class="form-control"
            placeholder="ссылки на документы и страницы материалов, где содержится соответствующая информация">
          </textarea>
        </div>
      }
    </div>
    <div class="form-sub-group">
      <label>
        5. Пороговое значение валовой добавленной стоимости в расчете на одного занятого
        по основным видам экономической деятельности в Европейском союзе, евро:
      </label>
      @if (!formValue().sectionNotPresented) {
        <input class="form-control" disabled title="Пороговое значение, евро"
          [value]="formValue().section?.addedValueBound | number: 1">
      }
      @if (formValue().sectionNotPresented) {
        <input class="form-control" disabled title="Пороговое значение, евро"
          value="не представлено в материалах по объекту экспертизы">
      }
    </div>
    <div class="form-sub-group">
      <label>
        6. Уровень добавленной стоимости на одного работающего по инновационному проекту, соответствующий году,
        следующему за годом выхода на проектную мощность, евро:
      </label>
      <div class="form-check mb-2" (click)="patchForm({ addedValueNotPresented: !formValue().addedValueNotPresented }); updateFormSignal()">
        <input type="checkbox" class="form-check-input" title="Выбор" [ngModel]="formValue()?.addedValueNotPresented" (ngModelChange)="patchForm({ addedValueNotPresented: $event }); updateFormSignal()" name="addedValueNotPresented">
        <label class="form-check-label"> - не представлено в материалах по объекту экспертизы</label>
      </div>
      @if (!formValue().addedValueNotPresented) {
        <div class="form-sub-group">
          <input class="form-control" numberInput type="text" name="addedValue" [required]="!formValue().addedValueNotPresented" min="0" title="Уровень добавленной стоимости, евро"
            [ngModel]="formValue().addedValue" (ngModelChange)="patchForm({ addedValue: $event }); updateFormSignal()">
          </div>
        }
        @if (!formValue().addedValueNotPresented) {
          <div class="form-sub-group">
            <label>согласно представленным материалам объекта экспертизы</label>
            <textarea [ngModel]="formValue().addedValuePlace" (ngModelChange)="patchForm({ addedValuePlace: $event }); updateFormSignal()" name="addedValuePlace" [required]="!formValue().addedValueNotPresented" rows="2" class="form-control"
              placeholder="ссылки на документы и страницы материалов, где содержится соответствующая информация">
            </textarea>
          </div>
        }
      </div>
      <div class="form-sub-group">
        <label>
          7. Сальдо потока денежных средств от текущей (операционной) деятельности, евро:
        </label>
        <div class="form-check mb-2" (click)="patchForm({ balanceNotPresented: !formValue().balanceNotPresented }); updateFormSignal()">
          <input type="checkbox" class="form-check-input" title="Выбор" [ngModel]="formValue()?.balanceNotPresented" (ngModelChange)="patchForm({ balanceNotPresented: $event }); updateFormSignal()" name="balanceNotPresented">
          <label class="form-check-label"> - не представлено в материалах по объекту экспертизы</label>
        </div>
        @if (!formValue().balanceNotPresented) {
          <div class="form-sub-group">
            <input class="form-control" numberInput type="text" name="balance" [required]="!formValue().balanceNotPresented" min="0" title="Сальдо потока денежных средств, евро"
              [ngModel]="formValue().balance" (ngModelChange)="patchForm({ balance: $event }); updateFormSignal()">
            </div>
          }
          @if (!formValue().balanceNotPresented) {
            <div class="form-sub-group">
              <label>согласно представленным материалам объекта экспертизы</label>
              <textarea [ngModel]="formValue().balancePlace" (ngModelChange)="patchForm({ balancePlace: $event }); updateFormSignal()" name="balancePlace" [required]="!formValue().balanceNotPresented" rows="2" class="form-control"
                placeholder="ссылки на документы и страницы материалов, где содержится соответствующая информация">
              </textarea>
            </div>
          }
        </div>
        <div class="form-sub-group">
          <label>
            8. Оценка научно-технического уровня внедряемых технологий по сравнению с передовыми технологиями,
            используемыми в мире, и возможности их применения на соответствующем производстве:
          </label>
          <textarea [ngModel]="formValue().scientificLevel" (ngModelChange)="patchForm({ scientificLevel: $event }); updateFormSignal()" name="scientificLevel" required rows="3" class="form-control"
            placeholder="оценка научно-технического уровня внедряемых технологий по сравнению с передовыми технологиями для объекта экспертизы ">
          </textarea>
        </div>
        <div class="form-sub-group">
          <label>
            9. Подтверждается ли научно-технический уровень внедряемых технологий наличием:
            патентов на объекты права промышленной собственности, полученных в Республике Беларусь
            и за рубежом (решений патентных органов о выдаче патентов); имущественных прав на секреты производства (ноу-хау),
            относящиеся к продукту и (или) способу; исключительных прав на программное обеспечение;
            лицензионных договоров на предоставление права использования результатов интеллектуальной деятельности,
            договоров на передачу секретов производства (ноу-хау), относящихся к продукту и (или) к способу?
          </label>
          <app-boolean-button [ngModel]="formValue().scientificLevelAccordance" (ngModelChange)="patchForm({ scientificLevelAccordance: $event }); updateFormSignal()" [falseLabel]="'не подтверждается'"
          [trueLabel]="'подтверждается'"></app-boolean-button>
        </div>
        <div class="form-sub-group">
          <label>
            10. Наиболее близкий аналог используемой (выпускаемой) на территории Республики Беларусь
            и (или) в мире технологии и (или) продукции того же назначения:
          </label>
          <textarea [ngModel]="formValue().analogue" (ngModelChange)="patchForm({ analogue: $event }); updateFormSignal()" name="analogue" required rows="3" class="form-control"
            placeholder="наиболее близкий аналог в республике по объекту экспертизы">
          </textarea>
        </div>
        <div class="form-sub-group">
          <label>
            11. Признаки, которыми технологии и (или) продукция отличаются от аналогов
            на территории Республики Беларусь и (или) в мире:
          </label>
          <textarea [ngModel]="formValue().differences" (ngModelChange)="patchForm({ differences: $event }); updateFormSignal()" name="differences" required rows="3" class="form-control"
            placeholder="признаки, по которым наиболее близкий аналог в республике отличается от объекта экспертизы">
          </textarea>
        </div>
        <div class="form-sub-group">
          <label>
            12. Обоснованность расходов по сравнению с аналогичными технологиями и (или) продукцией,
            применяемыми и (или) выпускаемой в Республике Беларусь и (или) мире:
          </label>
          <textarea [ngModel]="formValue().relevance" (ngModelChange)="patchForm({ relevance: $event }); updateFormSignal()" name="relevance" required rows="3" class="form-control"
            placeholder="анализ и оценка обоснованности расходов во внедряемые технологии по объекту экспертизы">
          </textarea>
        </div>
        <div class="form-sub-group">
          <label>
            13. Оценка возможных социальных, экономических и экологических последствий внедрения выбранных технологий
            и необходимости модернизации (реконструкции) взаимосвязанных действующих производственных объектов:
          </label>
          <textarea [ngModel]="formValue().consequences" (ngModelChange)="patchForm({ consequences: $event }); updateFormSignal()" name="consequences" required rows="3" class="form-control"
            placeholder="оценка возможных последствий внедрения выбранных технологий и необходимости модернизации">
          </textarea>
        </div>
      </div>
    }

    <div class="form-group">
      <label class="form-group-label">Выводы и предложения эксперта</label>
      <div class="form-sub-group">
        <label>
          1. Организация технологического процесса, обеспечивающего средний уровень добавленной стоимости
          на одного работающего, аналогичный среднему уровню добавленной стоимости на одного работающего
          по соответствующему виду экономической деятельности в Европейском союзе либо превышающий этот уровень:
        </label>
        <input class="form-control" disabled title="Организация технологического процесса" [value]="organizationLabel()">
      </div>

      <div class="form-sub-group">
        <label>
          2. Экспортная ориентированность инновационного проекта (превышение экспорта над импортом):
        </label>
        <input class="form-control" disabled title="Организация технологического процесса" [value]="exportLabel()">
      </div>

      <div class="form-sub-group">
        <label>
          3. Создание и внедрение новых технологий и (или) производство новой для Республики Беларусь
          и (или) мировой экономики продукции:
        </label>
        <app-boolean-button [ngModel]="formValue().innovative" (ngModelChange)="patchForm({ innovative: $event }); updateFormSignal()" [falseLabel]="'не соответствует'"
        [trueLabel]="'соответствует'"></app-boolean-button>
      </div>

      <div class="form-sub-group">
        <label>
          4. Замечания по материалам объекта экспертизы, конкретные предложения о необходимости доработки и (или)
          корректировки материалов по объекту экспертизы:
        </label>
        @if (notes.length == 0) {
          <div class="mb-2 italic">не имеются</div>
        }
        @for (note of notes; track note; let i = $index) {
          <div class="input-group btn-group mb-2">
            <textarea [(ngModel)]="note.name" (ngModelChange)="markFormChanged(); updateFormSignal()" rows="2" class="form-control"
            placeholder="{{i + 1}}) Замечание {{i + 1}}."></textarea>
            <button type="button" class="btn btn-outline-danger" (click)="notes.splice(i, 1); markFormChanged(); updateFormSignal()">&times;</button>
          </div>
        }
        <button type="button" class="btn btn-primary btn-sm" (click)="notes.push({name: ''}); markFormChanged(); updateFormSignal()">
          Добавить замечание
        </button>
      </div>
    </div>
