<hr/>

<app-agenda-header-block [_form]="_form" [ind]="ind" [project]="_project" [expanded]="expanded()" (toggle)="toggleExpanded()"></app-agenda-header-block>

<div class="collapse" [collapse]="!expanded()" [attr.id]="'meeting-project-' + _project?.id">
  <hr/>

  <app-customer-replies-block [_form]="_form"></app-customer-replies-block>

  <hr/>

  <app-select-directions-and-goals-block
    [form]="_form"
    [num]="'1'"
    [project]="_project"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-select-directions-and-goals-block>

  <hr/>

  <app-novelty-block
    [_form]="_form"
    [num]="'2'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-novelty-block>

  <hr/>

  <app-economic-significance-block
    [_form]="_form"
    [num]="'3'"
    [project]="_project"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-economic-significance-block>

  <hr/>

  <app-resources-sufficiency-block
    [_form]="_form"
    [num]="'4'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-resources-sufficiency-block>

  <hr/>

  <app-competence-sufficiency-block
    [_form]="_form"
    [num]="'5'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-competence-sufficiency-block>

  <hr/>

  <app-marketing-research-block
    [_form]="_form"
    [num]="'6'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-marketing-research-block>

  <hr/>

  <app-risks-block
    [_form]="_form"
    [num]="'7'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-risks-block>

  <hr/>

  <app-privacy-block
    [_form]="_form"
    [num]="'8'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-privacy-block>

  <hr/>

  <label class="mb-0">
    9. Льготирование реализации объекта государственной экспертизы
  </label>

  <hr/>

  <app-stages-exists-block
    [_form]="_form"
    [num]="'9.1'"
    [askStages]="false"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-stages-exists-block>

  <hr/>

  <app-stages-block
    [_form]="_form"
    [num]="'9.2'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-stages-block>

  <hr/>

  <label class="mb-0">
    10. Реализация и финансирование объекта государственной экспертизы
  </label>

  <hr/>

  <app-name-accordance-block
    [_form]="_form"
    [num]="'10.1'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-name-accordance-block>

  <hr/>

  <app-terms-accordance-block
    [form]="_form"
    [num]="'10.2'"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-terms-accordance-block>

  <hr/>

  <app-finance-accordance-block
    [_form]="_form"
    [num]="'10.3'"
    [project]="_project"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-finance-accordance-block>

  <hr/>

  <app-finance-conclusion-block
    [_form]="_form"
    [num]="'10.4'"
    [noveltyNum]="'2'"
    [project]="project"
    [economicSignificanceNum]="'3'"
    (onConditionsChanged)="onConditionsChanged()"
    [disabled]="isFinanceConclusionDisabled()"
  ></app-finance-conclusion-block>

  <hr/>

  <app-section-conclusion-block
    [_form]="_form"
    [num]="'11'"
    [financeConclusionNum]="financeConclusionNum"
    [project]="project"
    [allParticipants]="getAllParticipants()"
    (onConditionsChanged)="onConditionsChanged()"
  ></app-section-conclusion-block>
</div>
