<hr/>

<label class="form-group-label">Анализ и оценка объекта экспертизы</label>

<app-product-name-block [_form]="formValue()" (formPatch)="patchForm($event)"></app-product-name-block>

<hr/>

<app-patents-accordance-block
  [_form]="formValue()"
  [num]="'1'"
  (onConditionsChanged)="onConditionsChanged()"
></app-patents-accordance-block>

<hr/>

<app-advantage-accordance-block
  [_form]="formValue()"
  [num]="'2'"
  (onConditionsChanged)="onConditionsChanged()"
></app-advantage-accordance-block>

<hr/>

<app-competitiveness-accordance-block
  [_form]="formValue()"
  [num]="'3'"
  (onConditionsChanged)="onConditionsChanged()"
></app-competitiveness-accordance-block>

<hr/>

<app-conclusion-council-block
  [form]="formValue()"
  [financeConclusionNum]="'1, 2 и 3'"
  [project]="project"
  [group]="group"
  (formPatch)="patchForm($event)"
  (onConditionsChanged)="onConditionsChanged()"
></app-conclusion-council-block>
