<div [ngClass]="filterClass">
  @for (field of _fields; track field) {
    <div class="text-sm" [ngClass]="fieldClass">
      <!--TITLE-->
      @if (field.title) {
        <div class="mb-05">
          {{field.title}}
        </div>
      }
      <div class="mb-05 input-group input-group-sm">
        <!--SORT-->
        @if (field.sortable) {
          <div class="input-group-prepend selectable" (click)="sortBy(field)">
            <div class="input-group-text sort-icon">
              <fa-icon [class.fa-active]="field.sortDirection" [icon]="sortIconClass(field)"></fa-icon>
            </div>
          </div>
        }
        <!--SEARCH FIELD-->
        @if (field.type == SearchFieldType.TEXT) {
          <input type="text" title="Текст для поиска" class="form-control"
            (input)="changeSearchText($event, field)" [value]="field.value"
            (keyup.enter)="filterChanged()"
            [placeholder]="field.placeholder | orElse: 'Поиск...'">
        }
        <!--DATE PERIOD-->
        @if (field.type == SearchFieldType.DATE_PERIOD) {
          <app-date-period
            class="form-control" [(ngModel)]="field.value"
            (onSelect)="filterChanged()" [placeholder]="field.placeholder | orElse: 'Выбрать период...'"
          ></app-date-period>
        }
        <!--NUMBER RANGE-->
        @if (field.type == SearchFieldType.NUMBER_RANGE) {
          <input numberInput type="text" title="от" [placeholder]="field.placeholderFrom | orElse: 'от'"
            [value]="field.value.start" step="1" (input)="changePeriod($event, field, 'start')" class="form-control"/>
            <div class="input-group-prepend input-group-append">
              <div class="input-group-text">
                <span> – </span>
              </div>
            </div>
            <input numberInput type="text" title="до" [placeholder]="field.placeholderTo | orElse: 'до'"
              [value]="field.value.end" step="1" (input)="changePeriod($event, field, 'end')" class="form-control"/>
            }
            <!--CHECKBOXES-->
            @if (field.type == SearchFieldType.MULTI_CHECK) {
              <div class="input-group-append">
                @for (check of field.multiCheck; track check) {
                  <div class="btn btn-primary" [class.active]="check.selected"
                    (click)="changeMultiCheck(field, check)">
                    {{check.getItemAsString()}}
                  </div>
                }
              </div>
            }
            <!--SINGLE CHECKBOX-->
            @if (field.type == SearchFieldType.CHECKBOX) {
              <app-checkbox class="text-sm"
                [ngModel]="field.checked" (onChecked)="changeCheckbox(field)">
                {{field.label}}
              </app-checkbox>
            }
            <!--MULTISELECT-->
            @if (field.type == SearchFieldType.MULTI_SELECT) {
              <ng-select
                [items]="field.allItems"
                bindLabel="itemName"
                [multiple]="true"
                [(ngModel)]="field.selectedItems"
                [searchable]="true"
                [clearable]="true"
                [placeholder]="field.settings.text || 'Выбрать'"
                (ngModelChange)="changeMultiSelect(field)">
              </ng-select>
            }
            @if (field.resetEnabled && !field.isEmpty()) {
              <div class="input-group-append selectable">
                <button class="btn btn-primary" (click)="filterChanged()">Поиск</button>
              </div>
            }
            <!--RESET-->
            @if (field.resetEnabled && !field.isEmpty()) {
              <div class="input-group-append selectable">
                <button class="btn btn-primary" (click)="reset(field)"><fa-icon icon="times"></fa-icon></button>
              </div>
            }
          </div>
        </div>
      }
    </div>
