<div class="form-group">

    <label class="form-group-label">Анализ и оценка объекта экспертизы</label>

    <app-priority_areas-block-2025 [_form]="_form"
                                   [num]="'1'"
                                   (onConditionsChanged)="onConditionsChanged()"></app-priority_areas-block-2025>

    <app-scientific-research-block-2025 [_form]="_form"
                                        [project]="project"
                                        [num]="'1'"
                                        (onConditionsChanged)="onConditionsChanged()"></app-scientific-research-block-2025>

    <app-novelty-block-2025
            [_form]="_form"
            [project]="project"
            [num]="'2'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-novelty-block-2025>

    <hr/>

    <app-economic-significance-block-2025
            [_form]="_form"
            [num]="'3'"
            [project]="project"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-economic-significance-block-2025>

    <hr/>

    <app-commerce-block-2025
            [_form]="_form"
            [project]="project"
            [num]="'4'"
            [noveltyOptions]="noveltyOptions"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-commerce-block-2025>

    <hr/>

    <app-resources-sufficiency-block-2025
            [_form]="_form"
            [num]="'5'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-resources-sufficiency-block-2025>

    <hr/>

    <app-competence-sufficiency-block-2025
            [_form]="_form"
            [num]="'6'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-competence-sufficiency-block-2025>

    <hr/>

    <app-marketing-research-block-2025
            [_form]="_form"
            [project]="project"
            [num]="'7'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-marketing-research-block-2025>

    <hr/>

    <app-risks-block-2025
            [_form]="_form"
            [_project]="project"
            [num]="'8'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-risks-block-2025>

    <hr/>

    <app-privacy-block-2025
            [_form]="_form"
            [num]="'9'"
            [_project]="project"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-privacy-block-2025>

    <hr/>

    <app-stages-exists-block-2025
            [_form]="_form"
            [num]="'10'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-stages-exists-block-2025>

    <hr/>

    <label class="mb-0">
        10. Реализация и финансирование объекта государственной экспертизы
    </label>

    <hr/>

    <app-name-accordance-block-2025
            [_form]="_form"
            [num]="'10.1'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-name-accordance-block-2025>

    <hr/>

    <app-terms-accordance-block-2025
            [form]="_form"
            [num]="'10.2'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-terms-accordance-block-2025>

    <hr/>

    <app-social-or-security-block-2025
            [_form]="_form"
            [num]="'10.3'"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-social-or-security-block-2025>

    <hr/>

    <app-finance-accordance-block-2025
            [_form]="_form"
            [num]="'10.4'"
            [project]="project"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-finance-accordance-block-2025>

    <hr/>

<!--    <app-software-tool-block-2025-->
<!--            [_form]="_form"-->
<!--            [num]="'10.5'"-->
<!--            (onConditionsChanged)="onConditionsChanged()"-->
<!--    ></app-software-tool-block-2025>-->

<!--    <hr/>-->

    <app-finance-conclusion-block-2025
            [_form]="_form"
            [num]="'10.5'"
            [noveltyNum]="'1'"
            [economicSignificanceNum]="'2'"
            [project]="project"
            (onConditionsChanged)="onConditionsChanged()"
            [disabled]="isFinanceConclusionDisabled()"
    ></app-finance-conclusion-block-2025>
</div>

<hr/>

<app-conclusion-block
        [_form]="_form"
        [financeConclusionNum]="'10.5'"
        (onConditionsChanged)="onConditionsChanged()"
        [disabled]="isConclusionDisabled()"
></app-conclusion-block>

<hr/>

<app-notes-block
        [_form]="_form"
        (onConditionsChanged)="onConditionsChanged()"
></app-notes-block>

