<div class="form-group">

  <label class="form-group-label">Анализ и оценка объекта экспертизы</label>

  <app-results-block [_form]="formValue()"
                     [num]="'1'"
                     (formPatch)="patchForm($event)"
                     (onConditionsChanged)="onConditionsChanged()"></app-results-block>
  <hr/>
  <app-effectiveness-block [_form]="formValue()"
                           [num]="'2'"
                           (formPatch)="patchForm($event)"
                           (onConditionsChanged)="onConditionsChanged()"></app-effectiveness-block>
</div>

<hr/>

<div class="form-group">

  <label class="form-group-label">Заключительные решения эксперта по объекту государственной экспертизы</label>

  <app-result-accordance-block [_form]="formValue()"
                               (formPatch)="patchForm($event)"
                               (onConditionsChanged)="onConditionsChanged()"></app-result-accordance-block>
  <hr/>
  <app-effect-accordance-block [_form]="formValue()"
                               (formPatch)="patchForm($event)"
                               (onConditionsChanged)="onConditionsChanged()"></app-effect-accordance-block>
  <hr/>
  <app-conclusion-8-6-block [_form]="formValue()"></app-conclusion-8-6-block>
</div>
