<div class="form-group">
    <label class="form-group-label">Анализ и оценка объекта экспертизы</label>
    <app-novelty-block
            [_form]="formValue()"
            [num]="'1'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-novelty-block>
    <hr/>
    <app-scientific-level-block [_form]="formValue()"
                                [num]="'1.1'"
                                (formPatch)="patchForm($event)"
                                (onConditionsChanged)="onConditionsChanged()"></app-scientific-level-block>
    <hr/>
    <app-novelty-exists-block [_form]="formValue()"
                              [num]="'1.2'"
                              (formPatch)="patchForm($event)"
                              (onConditionsChanged)="onConditionsChanged()"></app-novelty-exists-block>
    <hr/>
    <app-technology-type-block [_form]="formValue()"
                               [num]="'1.3'"
                               (formPatch)="patchForm($event)"
                               (onConditionsChanged)="onConditionsChanged()"></app-technology-type-block>
    <hr/>
    <app-document-accordance-block [_form]="formValue()"
                               [num]="'1.4'"
                               (onConditionsChanged)="onConditionsChanged()"></app-document-accordance-block>
    <hr/>
    <app-economic-significance-bif-block
            [_form]="formValue()"
            [num]="'2'"
            [project]="project"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-economic-significance-bif-block>
    <hr/>
    <app-balance-block [_form]="formValue()"
                       [num]="'2.1'"
                       (formPatch)="patchForm($event)"
                       (onConditionsChanged)="onConditionsChanged()"></app-balance-block>
    <hr/>
    <app-export-balance-block [_form]="formValue()"
                              [disabled]="false"
                              [full]="false"
                              [num]="'2.2'"></app-export-balance-block>
    <hr/>
    <app-consequences-block [_form]="formValue()"
                            [num]="'2.3'"
                            (formPatch)="patchForm($event)"
                            (onConditionsChanged)="onConditionsChanged()"></app-consequences-block>
    <hr/>
    <app-construction-work-block [_form]="formValue()"
                                 [num]="'3'"></app-construction-work-block>
    <hr/>
    <app-project-docs-block [_form]="formValue()"
                            [project]="project"
                            [num]="'3.1'"></app-project-docs-block>
    <hr/>
    <app-needed-project-docs-block [_form]="formValue()"
                                   [project]="project"
                                   [num]="'3.2'"></app-needed-project-docs-block>
    <hr/>
    <app-resources-sufficiency-block
            [_form]="formValue()"
            [num]="'4'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-resources-sufficiency-block>
    <hr/>
    <app-competence-sufficiency-block
            [_form]="formValue()"
            [num]="'5'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-competence-sufficiency-block>
    <hr/>
    <app-marketing-research-8-8-plain-block [_form]="formValue()"
                                        [num]="'6'"
                                        (onConditionsChanged)="onConditionsChanged()"></app-marketing-research-8-8-plain-block>
    <hr/>
    <app-marketing-research-results-block [_form]="formValue()"
                                          [num]="'6.1'"></app-marketing-research-results-block>
    <hr/>
    <app-scientific-level-of-injected-tech-block [_form]="formValue()"
                                                 [num]="'6.2'"></app-scientific-level-of-injected-tech-block>
    <hr/>
    <app-analog-description-block [_form]="formValue()"
                                  [num]="'6.3'"></app-analog-description-block>
    <hr/>
    <app-analog-params-description-block [_form]="formValue()"
                                         [num]="'6.4'"></app-analog-params-description-block>
    <hr/>
    <app-risks-block
            [_form]="formValue()"
            [num]="'7'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-risks-block>
    <hr/>
<!--    //new-->
    <app-privacy-block
            [_form]="formValue()"
            [num]="'8'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-privacy-block>
    <hr/>
    <app-name-accordance-block
            [_form]="formValue()"
            [num]="'9.1'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-name-accordance-block>
    <hr/>
    <app-terms-accordance-block
            [form]="formValue()"
            [num]="'9.2'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-terms-accordance-block>
    <hr/>
    <app-finance-accordance-block
            [_form]="formValue()"
            [num]="'9.3'"
            [project]="project"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
    ></app-finance-accordance-block>
    <hr/>
    <app-finance-conclusion-block
            [_form]="formValue()"
            [num]="'9.4'"
            [noveltyNum]="'1'"
            [project]="project"
            [economicSignificanceNum]="'4'"
            (formPatch)="patchForm($event)"
            (onConditionsChanged)="onConditionsChanged()"
            [disabled]="isFinanceConclusionDisabled()"
    ></app-finance-conclusion-block>
    <hr/>
    <app-target-accordance-block [_form]="formValue()"
                                 [num]="'9.5'"
                                 (formPatch)="patchForm($event)"
                                 (onConditionsChanged)="onConditionsChanged()"></app-target-accordance-block>
    <hr/>
    <app-notes-block [_form]="formValue()"
                     (formPatch)="patchForm($event)"
                     (onConditionsChanged)="onConditionsChanged()"
    ></app-notes-block>

</div>
