<label class="form-group-label">{{ind + 1}}. {{project | titleAndCode}}</label>

<div class="form-sub-group">
  <app-checkbox [(ngModel)]="customerReplies">
    - ответы на замечания в установленный срок от заказчика экспертизы представлены
  </app-checkbox>
  <app-checkbox [(ngModel)]="singleVoteMode" (onChecked)="toggleVote($event)">
    - единое голосование
  </app-checkbox>
</div>

<div class="form-sub-group">
  <span>Конечный результат проекта: </span>
  <div class="btn-group">
    <label class="btn btn-sm btn-primary" [class.active]="product" (click)="product = !product">@if (product) {
      <fa-icon icon="check"></fa-icon>
    } товар</label>
    <label class="btn btn-sm btn-primary" [class.active]="service" (click)="service = !service">@if (service) {
      <fa-icon icon="check"></fa-icon>
    } услуга</label>
  </div>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.1.</b> Соответствие критериям, указанным в&nbsp;Положении о&nbsp;порядке формирования и&nbsp;использования средств
    инновационных фондов, утвержденном Указом Президента Республики Беларусь от&nbsp;7&nbsp;августа 2012&nbsp;г. №&nbsp;357
  </label>
  <label>
    <b>{{ind + 1}}.1.1.</b> Организация технологического процесса, обеспечивающего средний уровень добавленной стоимости на&nbsp;одного
    работающего, аналогичный среднему уровню добавленной стоимости на&nbsp;одного работающего по&nbsp;соответствующему
    виду экономической деятельности в&nbsp;Европейском союзе либо превышающий этот уровень:
  </label>
  <app-vote-results [(ngModel)]="_form.organization" [all]="parent._form.participants.length"></app-vote-results>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.1.2.</b> Экспортная ориентированность инновационного проекта (превышение экспорта над импортом):
  </label>
  <app-vote-results [(ngModel)]="_form.export" [all]="parent._form.participants.length"></app-vote-results>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.1.3.</b> Создание и внедрение новых технологий и&nbsp;(или) производство новой
    для&nbsp;Республики Беларусь и&nbsp;(или) мировой экономики продукции:
  </label>
  <app-vote-results [(ngModel)]="_form.novelty" [all]="parent._form.participants.length"></app-vote-results>
</div>

<div class="form-sub-group">
  <label>
    <b>{{ind + 1}}.2.</b> Создание объектов права промышленной собственности
    при реализации объекта государственной экспертизы:
  </label>
  @if (privacyObjects.length == 0) {
    <div class="mb-1 italic">Не предусматривается</div>
  }
  @for (privacyObject of privacyObjects; track privacyObject; let i = $index) {
    <div class="input-group btn-group input-group-sm mb-2">
      <app-select-catalog
        [catalog]="Catalog.INDUSTRIAL_PROPERTY"
        [(ngModel)]="privacyObjects[i]" [resetEnabled]="false"
      ></app-select-catalog>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="privacyObjects.splice(i, 1)">&times;</button>
    </div>
  }
  <div class="mb-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="privacyObjects.push(null)">
      Добавить объект права
    </button>
  </div>
  <app-vote-results [(ngModel)]="_form.privacy" [all]="parent._form.participants.length"></app-vote-results>
  <app-vote-results #singleVote [(ngModel)]="singleVoteResult"
    [all]="parent._form.participants.length"
    [display]="singleVoteMode"
  ></app-vote-results>
</div>
